/*404 搜索无结果*/
.m-result-page-multi-line{font-size:1.8rem; line-height:1.2;}

.m-result-page-info{width:300px; height:auto; margin:0 auto; font-size:1.6rem;}
.m-result-page-info h6{border-bottom:1px solid #E6E6E6; font-weight:bold; padding:10px 0;}
.m-result-page-info ul, .m-result-page-info li{padding:5px 0;}



