<rules>
  <!--# CarChannel isapiRewrite Jun.19.2009 last modified-->
  <!--# by chengl@bitauto.com -->
  <!--# Contain CarChannel,Dealer,Price-->
  <!--#RewriteLog  D:\rewiis\iirfLog.out-->
  <!--#RewriteLogLevel 3-->
  <!-- add by chengl May.28.2014 -->
  <!-- modified by chengl Mar.13.2015 pingceduibi 301 chexingduibi -->
  <!-- modified by chengl Mar.9.2016 csRegion off line -->
  <rule name="原区域车型页废弃" stopProcessing="true">
    <match url="^pageserial/csregion\.aspx(.*)$" ignoreCase="true" />
    <conditions>
      <add input="{QUERY_STRING}" pattern="serial=([\w-]*)" />
    </conditions>
    <action type="Redirect" url="http://car.bitauto.com/{C:1}/" appendQueryString="false" />
  </rule>
  <rule name="原区域车型新闻页废弃" stopProcessing="true">
    <match url="^pageserial/csregionnews\.aspx(.*)$" ignoreCase="true" />
    <conditions>
      <add input="{QUERY_STRING}" pattern="serial=([\w-]*)" />
    </conditions>
    <action type="Redirect" url="http://car.bitauto.com/{C:1}/wenzhang/" appendQueryString="false" />
  </rule>
  <rule name="评测、导购树形主品牌页301" stopProcessing="true">
    <match url="^tree_(daogou|pingce)/mb_(\d+)/?$" ignoreCase="true" />
    <action type="Redirect" url="http://www.bitauto.com/{R:1}/search/?mId={R:2}" appendQueryString="false" />
  </rule>
  <rule name="评测、导购树形子品牌页301" stopProcessing="true">
    <match url="^tree_(daogou|pingce)/sb_(\d+)/?$" ignoreCase="true" />
    <action type="Redirect" url="http://www.bitauto.com/{R:1}/search/?sId={R:2}" appendQueryString="false" />
  </rule>
  <rule name="评测、导购树形其他页301" stopProcessing="true">
    <match url="^tree_(daogou|pingce)/(.*)$" ignoreCase="true" />
    <action type="Redirect" url="http://www.bitauto.com/{R:1}/" appendQueryString="false" />
  </rule>
  <rule name="已导入的规则 1" stopProcessing="true">
    <match url="^/?$" ignoreCase="true" />
    <action type="Rewrite" url="cartreeV2/CX_Default.aspx?tagtype=chexing" appendQueryString="false" />
  </rule>
  <rule name="已导入的规则 2" stopProcessing="true">
    <match url="^index\.html?$" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Rewrite" url="cartreeV2/cx_default.aspx?tagtype=chexing" appendQueryString="false" />
  </rule>
  <rule name="已导入的规则 3" stopProcessing="true">
    <match url="^brandlist\.html$" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Rewrite" url="pagelistV2//SerialForBrandList.aspx" />
  </rule>
  <rule name="已导入的规则 4" stopProcessing="true">
    <match url="^brandlist\.html\?(.*)$" ignoreCase="true" />
    <action type="Rewrite" url="pagelistV2//SerialForBrandList.aspx?{R:1}" appendQueryString="false" />
  </rule>
  <rule name="已导入的规则 5" stopProcessing="true">
    <match url="^\?(.*)$" ignoreCase="true" />
    <action type="Rewrite" url="cartreeV2/CX_Default.aspx?tagtype=chexing" appendQueryString="false" />
  </rule>
  <rule name="已导入的规则 6" stopProcessing="true">
    <match url="^charlist\.html$" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Rewrite" url="pagelistV2/SerialForCharList.aspx" />
  </rule>
  <rule name="已导入的规则 7" stopProcessing="true">
    <match url="^levellist\.html$" ignoreCase="true" />
    <action type="Rewrite" url="pagelistV2/SerialForLevel.aspx" />
  </rule>
  <rule name="已导入的规则 8" stopProcessing="true">
    <match url="^functionlist\.html$" ignoreCase="true" />
    <action type="Rewrite" url="pagelistV2/SerialForFunctionList.aspx" />
  </rule>
  <rule name="已导入的规则 9" stopProcessing="true">
    <match url="^countrylist\.html$" ignoreCase="true" />
    <action type="Rewrite" url="pagelistV2/SerialForCountryList.aspx" />
  </rule>
  <rule name="已导入的规则 10" stopProcessing="true">
    <match url="^pricelist\.html$" ignoreCase="true" />
    <action type="Rewrite" url="pagelistV2/SerialForPriceList.aspx" />
  </rule>
  <rule name="已导入的规则 11" stopProcessing="true">
    <match url="^price$" ignoreCase="true" />
    <action type="Rewrite" url="pagelistV2/SerialForPriceList.aspx" />
  </rule>
  <rule name="已导入的规则 12" stopProcessing="true">
    <match url="^price/?$" ignoreCase="true" />
    <action type="Rewrite" url="pagelistV2/SerialForPriceList.aspx" />
  </rule>
  <rule name="已导入的规则 13" stopProcessing="true">
    <match url="^price/\?(.*)$" ignoreCase="true" />
    <action type="Rewrite" url="pagelistV2/SerialForPriceList.aspx" />
  </rule>
  <rule name="已导入的规则 16" stopProcessing="true">
    <match url="^qichepinpai/?$" ignoreCase="true" />
    <action type="Rewrite" url="pagelist/CarMasterBrandGuideALL.aspx" />
  </rule>
  <rule name="报价城市排行" stopProcessing="true">
    <match url="^jiage/([\w-]+)/([\w-]*)(/?)$" ignoreCase="true" />
    <action type="Rewrite" url="PageList/SerialForCityPriceRank.aspx?price={R:1}&amp;city={R:2}" appendQueryString="true" />
  </rule>
  <rule name="已导入的规则 17" stopProcessing="true">
    <match url="^gouchejisuanqi/?$" ignoreCase="true" />
    <action type="Rewrite" url="pagetoolV2/CalcAutoCashTool.aspx" />
  </rule>
  <rule name="已导入的规则 18" stopProcessing="true">
    <match url="^gouchejisuanqi/\?(.*)$" ignoreCase="true" />
    <action type="Rewrite" url="pagetoolV2/CalcAutoCashTool.aspx?{R:1}" appendQueryString="false" />
  </rule>
  <rule name="已导入的规则 19" stopProcessing="true">
    <match url="^chexingduibi/?$" ignoreCase="true" />
    <action type="Rewrite" url="pagetoolV2/CarCompareList.aspx" />
  </rule>
  <rule name="已导入的规则 20" stopProcessing="true">
    <match url="^chexingduibi/\?([\w\d=&amp;,]+)$" ignoreCase="true" />
    <action type="Rewrite" url="pagetoolV2/CarCompareList.aspx?{R:1}" appendQueryString="false" />
  </rule>
  <rule name="duibi" stopProcessing="true">
    <match url="^duibi/?$" ignoreCase="true" />
    <action type="Rewrite" url="pagetoolV2/SerialCompareForPK.aspx" />
  </rule>
  <rule name="duibiwithquery" stopProcessing="true">
    <match url="^duibi/(\d+)-(\d+)/?$" ignoreCase="true" />
    <action type="Rewrite" url="pagetoolV2/SerialCompareForPK.aspx?serialid1={R:1}&amp;serialid2={R:2}" />
  </rule>
  <rule name="已导入的规则 21" stopProcessing="true">
    <match url="^tupianduibi/?$" ignoreCase="true" />
    <action type="Rewrite" url="pagetoolV2/CarPhotoCompareList.aspx" />
  </rule>
  <rule name="已导入的规则 22" stopProcessing="true">
    <match url="^tupianduibi/\?([\w\d=&amp;,]+)$" ignoreCase="true" />
    <action type="Rewrite" url="pagetoolV2/CarPhotoCompareList.aspx?{R:1}" appendQueryString="false" />
  </rule>
  <rule name="已导入的规则 23 301到对比页" stopProcessing="true">
    <match url="^pingceduibi/?$" ignoreCase="true" />
    <action type="Redirect" url="/chexingduibi/" />
  </rule>
  <rule name="已导入的规则 24 301到对比页" stopProcessing="true">
    <match url="^pingceduibi/\?([\w\d=&amp;,]+)$" ignoreCase="true" />
    <action type="Redirect" url="/chexingduibi/?{R:1}" appendQueryString="false" />
  </rule>
  <rule name="口碑对比" stopProcessing="true">
    <match url="^koubeiduibi/?$" ignoreCase="true" />
    <action type="Rewrite" url="pagetoolv2/KouBeiCompare.aspx" />
  </rule>
  <rule name="口碑对比query" stopProcessing="true">
    <match url="^koubeiduibi/(\d+)-(\d+)/?$" ignoreCase="true" />
    <action type="Redirect" url="pagetoolv2/KouBeiCompare.aspx?car_id_l={R:1}&amp;car_id_r={R:2}"/>
  </rule>
  <rule name="已导入的规则 25" stopProcessing="true">
    <match url="^producer/(\d+)\.html" ignoreCase="true" />
    <action type="Rewrite" url="CarProducer.aspx?cpid={R:1}" appendQueryString="false" />
  </rule>
  <rule name="已导入的规则 26" stopProcessing="true">
    <match url="^producer/(\d+)xinwen-(\d+)\.html" ignoreCase="true" />
    <action type="Rewrite" url="NewsChannel.aspx?newsType=producer&amp;id={R:1}&amp;pageindex={R:2}" appendQueryString="false" />
  </rule>
  <rule name="已导入的规则 27" stopProcessing="true">
    <match url="^producer/(\d+)xinwen\.html" ignoreCase="true" />
    <action type="Rewrite" url="NewsChannel.aspx?newsType=producer&amp;id={R:1}" appendQueryString="false" />
  </rule>
  <rule name="已导入的规则 28" stopProcessing="true">
    <match url="^brand/(\d+)\.html" ignoreCase="true" />
    <action type="Rewrite" url="RedirectForSEO.aspx?redirectType=1&amp;cb_id={R:1}" appendQueryString="false" />
  </rule>
  <rule name="已导入的规则 29" stopProcessing="true">
    <match url="^serial/(\d+)\.html" ignoreCase="true" />
    <action type="Rewrite" url="RedirectForSEO.aspx?redirectType=2&amp;csid={R:1}" appendQueryString="false" />
  </rule>
  <rule name="已导入的规则 30" stopProcessing="true">
    <match url="^qichedaikuanjisuanqi/?$" ignoreCase="true" />
    <action type="Rewrite" url="pagetoolV2/CalcAutoLoanTool.aspx" />
  </rule>
  <rule name="已导入的规则 31" stopProcessing="true">
    <match url="^qichedaikuanjisuanqi/\?(.*)$" ignoreCase="true" />
    <action type="Rewrite" url="pagetoolV2/CalcAutoLoanTool.aspx?{R:1}" appendQueryString="false" />
  </rule>
  <rule name="已导入的规则 32" stopProcessing="true">
    <match url="^qichebaoxianjisuan/?$" ignoreCase="true" />
    <action type="Rewrite" url="pagetoolV2/CalcInsuranceTool.aspx" />
  </rule>
  <rule name="已导入的规则 33" stopProcessing="true">
    <match url="^qichebaoxianjisuan/\?(.*)$" ignoreCase="true" />
    <action type="Rewrite" url="pagetoolV2/CalcInsuranceTool.aspx?{R:1}" appendQueryString="false" />
  </rule>
  <!--#select car tool-->
  <rule name="已导入的规则 34" stopProcessing="true">
    <match url="^weixingche/$" ignoreCase="true" />
    <action type="Rewrite" url="cartreeV2/SelectCar.aspx?l=1" />
  </rule>
  <rule name="已导入的规则 35" stopProcessing="true">
    <match url="^weixingche/\?(.*)$" ignoreCase="true" />
    <action type="Rewrite" url="cartreeV2/SelectCar.aspx?l=1&amp;{R:1}" />
  </rule>
  <rule name="已导入的规则 36" stopProcessing="true">
    <match url="^xiaoxingche/$" ignoreCase="true" />
    <action type="Rewrite" url="cartreeV2/SelectCar.aspx?l=2" />
  </rule>
  <rule name="已导入的规则 37" stopProcessing="true">
    <match url="^xiaoxingche/\?(.*)$" ignoreCase="true" />
    <action type="Rewrite" url="cartreeV2/SelectCar.aspx?l=2&amp;{R:1}" />
  </rule>
  <rule name="已导入的规则 38" stopProcessing="true">
    <match url="^jincouxingche/$" ignoreCase="true" />
    <action type="Rewrite" url="cartreeV2/SelectCar.aspx?l=3" />
  </rule>
  <rule name="已导入的规则 39" stopProcessing="true">
    <match url="^jincouxingche/\?(.*)$" ignoreCase="true" />
    <action type="Rewrite" url="cartreeV2/SelectCar.aspx?l=3&amp;{R:1}" />
  </rule>
  <rule name="已导入的规则 40" stopProcessing="true">
    <match url="^zhongxingche/$" ignoreCase="true" />
    <action type="Rewrite" url="cartreeV2/SelectCar.aspx?l=5" />
  </rule>
  <rule name="已导入的规则 41" stopProcessing="true">
    <match url="^zhongxingche/\?(.*)$" ignoreCase="true" />
    <action type="Rewrite" url="cartreeV2/SelectCar.aspx?l=5&amp;{R:1}" />
  </rule>
  <rule name="已导入的规则 42" stopProcessing="true">
    <match url="^zhongdaxingche/$" ignoreCase="true" />
    <action type="Rewrite" url="cartreeV2/SelectCar.aspx?l=4" />
  </rule>
  <rule name="已导入的规则 43" stopProcessing="true">
    <match url="^zhongdaxingche/\?(.*)$" ignoreCase="true" />
    <action type="Rewrite" url="cartreeV2/SelectCar.aspx?l=4&amp;{R:1}" />
  </rule>
  <rule name="已导入的规则 44" stopProcessing="true">
    <match url="^haohuaxingche/$" ignoreCase="true" />
    <action type="Rewrite" url="cartreeV2/SelectCar.aspx?l=6" />
  </rule>
  <rule name="已导入的规则 45" stopProcessing="true">
    <match url="^haohuaxingche/\?(.*)$" ignoreCase="true" />
    <action type="Rewrite" url="cartreeV2/SelectCar.aspx?l=6&amp;{R:1}" />
  </rule>
  <rule name="已导入的规则 46" stopProcessing="true">
    <match url="^mpv/$" ignoreCase="true" />
    <action type="Rewrite" url="cartreeV2/SelectCar.aspx?l=7" />
  </rule>
  <rule name="已导入的规则 47" stopProcessing="true">
    <match url="^mpv/\?(.*)$" ignoreCase="true" />
    <action type="Rewrite" url="cartreeV2/SelectCar.aspx?l=7&amp;{R:1}" />
  </rule>
  <rule name="已导入的规则 48" stopProcessing="true">
    <match url="^suv/$" ignoreCase="true" />
    <action type="Rewrite" url="cartreeV2/SelectCar.aspx?l=8" />
  </rule>
  <rule name="已导入的规则 148" stopProcessing="true">
    <match url="^suv/all/$" ignoreCase="true" />
    <action type="Rewrite" url="pagelevelV2/SuvChannel.aspx" />
  </rule>
  <rule name="已导入的规则 49" stopProcessing="true">
    <match url="^suv/\?(.*)$" ignoreCase="true" />
    <action type="Rewrite" url="cartreeV2/SelectCar.aspx?l=8&amp;{R:1}" />
  </rule>
  <!--add by 2014.04.08 suv 细分-->
  <rule name="小型SUV" stopProcessing="true">
    <match url="^suv/x/$" ignoreCase="true" />
    <action type="Rewrite" url="cartreeV2/SelectCar.aspx?l=13" />
  </rule>
  <rule name="紧凑型SUV" stopProcessing="true">
    <match url="^suv/j/$" ignoreCase="true" />
    <action type="Rewrite" url="cartreeV2/SelectCar.aspx?l=14" />
  </rule>
  <rule name="中型SUV" stopProcessing="true">
    <match url="^suv/z/$" ignoreCase="true" />
    <action type="Rewrite" url="cartreeV2/SelectCar.aspx?l=15" />
  </rule>
  <rule name="中大型SUV" stopProcessing="true">
    <match url="^suv/zd/$" ignoreCase="true" />
    <action type="Rewrite" url="cartreeV2/SelectCar.aspx?l=16" />
  </rule>
  <rule name="全尺寸SUV" stopProcessing="true">
    <match url="^suv/q/$" ignoreCase="true" />
    <action type="Rewrite" url="cartreeV2/SelectCar.aspx?l=17" />
  </rule>

  <rule name="已导入的规则 50" stopProcessing="true">
    <match url="^paoche/$" ignoreCase="true" />
    <action type="Rewrite" url="cartreeV2/SelectCar.aspx?l=9" />
  </rule>
  <rule name="已导入的规则 51" stopProcessing="true">
    <match url="^paoche/\?(.*)$" ignoreCase="true" />
    <action type="Rewrite" url="cartreeV2/SelectCar.aspx?l=9&amp;{R:1}" />
  </rule>
  <rule name="已导入的规则 52" stopProcessing="true">
    <match url="^mianbaoche/$" ignoreCase="true" />
    <action type="Rewrite" url="cartreeV2/SelectCar.aspx?l=11" />
  </rule>
  <rule name="已导入的规则 53" stopProcessing="true">
    <match url="^mianbaoche/\?(.*)$" ignoreCase="true" />
    <action type="Rewrite" url="cartreeV2/SelectCar.aspx?l=11&amp;{R:1}" />
  </rule>
  <rule name="已导入的规则 54" stopProcessing="true">
    <match url="^pika/$" ignoreCase="true" />
    <action type="Rewrite" url="cartreeV2/SelectCar.aspx?l=12" />
  </rule>
  <rule name="已导入的规则 55" stopProcessing="true">
    <match url="^pika/\?(.*)$" ignoreCase="true" />
    <action type="Rewrite" url="cartreeV2/SelectCar.aspx?l=12&amp;{R:1}" />
  </rule>
  <rule name="已导入的规则 159" stopProcessing="true">
    <match url="^keche/$" ignoreCase="true" />
    <action type="Rewrite" url="cartreeV2/SelectCar.aspx?l=18" />
  </rule>
  <rule name="已导入的规则 160" stopProcessing="true">
    <match url="^keche/\?(.*)$" ignoreCase="true" />
    <action type="Rewrite" url="cartreeV2/SelectCar.aspx?l=18&amp;{R:1}" />
  </rule>
  <rule name="已导入的规则 56" stopProcessing="true">
    <match url="^qita/$" ignoreCase="true" />
    <action type="Rewrite" url="cartreeV2/SelectCar.aspx?l=10" />
  </rule>
  <rule name="已导入的规则 57" stopProcessing="true">
    <match url="^qita/\?(.*)$" ignoreCase="true" />
    <action type="Rewrite" url="cartreeV2/SelectCar.aspx?l=10&amp;{R:1}" />
  </rule>
  <rule name="已导入的规则 58" stopProcessing="true">
    <match url="^xuanchegongju/$" ignoreCase="true" />
    <action type="Rewrite" url="cartreeV2/SelectCar.aspx" />
  </rule>
  <rule name="已导入的规则 59" stopProcessing="true">
    <match url="^xuanchegongju/\?(.*)$" ignoreCase="true" />
    <action type="Rewrite" url="cartreeV2/SelectCar.aspx?{R:1}" appendQueryString="false" />
  </rule>
  <!--# - - car service-->
  <rule name="已导入的规则 60" stopProcessing="true">
    <match url="^carservice/(.*)$" ignoreCase="true" />
    <action type="Rewrite" url="carservice/{R:1}" />
  </rule>
  <!--# - - car service-->
  <!--#car_tree-->
  <rule name="已导入的规则 61" stopProcessing="true">
    <match url="^tree_chexing/search/\?([\w\d=&amp;\-\.]+)$" ignoreCase="true" />
    <action type="Redirect" url="xuanchegongju/?{R:1}" appendQueryString="false" />
  </rule>
  <rule name="已导入的规则 62" stopProcessing="true">
    <match url="^tree_chexing/search/?$" ignoreCase="true" />
    <action type="Redirect" url="xuanchegongju/" />
  </rule>
  <rule name="已导入的规则 63 + 级别条件" stopProcessing="true">
    <match url="^tree_chexing/mb_(\d+)/l(\d+)/?$" ignoreCase="true" />
    <action type="Rewrite" url="cartreeV2/CX_masterbrand.aspx?id={R:1}&amp;l={R:2}" appendQueryString="false" />
  </rule>
  <rule name="已导入的规则 63" stopProcessing="true">
    <match url="^tree_chexing/mb_(\d+)/?$" ignoreCase="true" />
    <action type="Rewrite" url="cartreeV2/CX_masterbrand.aspx?id={R:1}" appendQueryString="false" />
  </rule>
  <rule name="已导入的规则 64 + 级别条件" stopProcessing="true">
    <match url="^tree_chexing/b_(\d+)/l(\d+)/?$" ignoreCase="true" />
    <action type="Rewrite" url="cartreeV2/CX_brand.aspx?id={R:1}&amp;l={R:2}" appendQueryString="false" />
  </rule>
  <rule name="已导入的规则 64" stopProcessing="true">
    <match url="^tree_chexing/b_(\d+)/?$" ignoreCase="true" />
    <action type="Rewrite" url="cartreeV2/CX_brand.aspx?id={R:1}" appendQueryString="false" />
  </rule>
  <rule name="已导入的规则 65" stopProcessing="true">
    <match url="^tree_chexing/sb_(\d+)/?$" ignoreCase="true" />
    <action type="Rewrite" url="cartreeV2/CX_serial.aspx?id={R:1}" appendQueryString="false" />
  </rule>
  <rule name="已导入的规则 66" stopProcessing="true">
    <match url="^tree_chexing/sb_(\d+)/\?(.*)$" ignoreCase="true" />
    <action type="Rewrite" url="cartreeV2/CX_serial.aspx?id={R:1}&amp;{R:2}" appendQueryString="false" />
  </rule>
  <rule name="已导入的规则 67" stopProcessing="true">
    <match url="^tree_chexing/error.html?$" ignoreCase="true" />
    <action type="Rewrite" url="cartreeV2/CX_Error.aspx" />
  </rule>
  <rule name="已导入的规则 68" stopProcessing="true">
    <match url="^tree_chexing/?$" ignoreCase="true" />
    <action type="Rewrite" url="cartreeV2/CX_Default.aspx" />
  </rule>
  <rule name="已导入的规则 121" stopProcessing="true">
    <match url="^jiangxiang/(\d+)/(\d+)/?$" ignoreCase="true" />
    <action type="Rewrite" url="GetAwardInfoV2.aspx?awardId={R:1}&amp;year={R:2}" />
  </rule>
  <rule name="已导入的规则 122" stopProcessing="true">
    <match url="^jiangxiang/(\d+)/$" ignoreCase="true" />
    <action type="Rewrite" url="GetAwardInfoV2.aspx?awardId={R:1}" />
  </rule>
  <!--#tree home page end-->
  <rule name="已导入的规则 118" stopProcessing="true">
    <match url="^%(.*)$" ignoreCase="true" />
    <action type="Rewrite" url="cartreeV2/CX_Default.aspx?tagtype=chexing" appendQueryString="false" />
  </rule>
  <!--#RewriteCond %{REQUEST_FILENAME}     !-f-->
  <!--#RewriteCond %{REQUEST_FILENAME}     !-d -->
  <!--#RewriteRule (?i)^/(.*)$                /car$0  [L]-->
  <rule name="已导入的规则 119" stopProcessing="true">
    <match url="^car/(.*)$" ignoreCase="true" />
    <action type="Rewrite" url="{R:1}" />
  </rule>
  <rule name="已导入的规则 120" stopProcessing="true">
    <match url="^top_(.*)$" ignoreCase="true" />
    <action type="Redirect" url="tree_{R:1}" />
  </rule>
  <rule name="已导入的规则 158" stopProcessing="true">
    <match url="^gaojixuanche/$" ignoreCase="true" />
    <action type="Rewrite" url="PageToolV2/SuperSelectCarTool.aspx" />
  </rule>
  <rule name="规则 加对比" stopProcessing="true">
    <match url="^iframe/rightbarcompare.html$" ignoreCase="true" />
    <action type="Rewrite" url="Iframe/barcomapre.aspx" />
  </rule>
</rules>
