<?xml version="1.0" encoding="utf-8" ?>
<AutoCarConfig>
	<Sys>
		<!--数据库连接串-->
		<add Name="ConnectionString2" Value="Data Source=192.168.0.40\SQL2005;Initial Catalog=AutoStorageNew;User ID=sa;Password=sa;"/>
		<add Name="ConnectionString" Value="Data Source=192.168.0.40\SQL2005;Initial Catalog=AutoStorageNew;User ID=sa;Password=sa;"/>
		<add Name="ConnectionString1" Value="Data Source=192.168.0.40\SQL2005;Initial Catalog=AutoStorageNew;User ID=sa;Password=sa;"/>
		<!--日志文件存放的物理地址-->
		<add Name="LogFilePath" Value="D:\Data\AI\"/>
		<!--缓存更新时间-->
		<add Name="CacheInterval" Value="10000000"/>
		<!--缓存更新时间（秒）-->
		<add Name="CacheIntervalCar" Value="10000000"/>
		<!--查询详细参数限定-->
		<!--最大的请求车型个数-->
		<add Name="MaxKeyNum" Value="100"/>
		<!--最大的请求车型参数个数-->
		<add Name="MaxColNum" Value="500"/>
		<!--业务代码-->
		<add Name="BusinessCode" Value="BitAuto" />
		<add Name="BusinessVerify" Value="d496798b9e5c067f9556e95aeed2145a" />
    
    <!-- 彩虹条 Start -->
    <!-- 综合页 -->
    <add Name="CommonRBItemIDs" Value="37,38,39,40,41,42,43,44,45,51" />
    <!-- 国产车 -->
    <add Name="DomesticCarRBItemIDs" Value="27,28,29,30,31,32,33,34,42,35,43,36" />
    <!-- 进口车 -->
    <add Name="NDomesticCarRBItemIDs" Value="52,53,54,55,42,56" />
    <!-- 彩虹条 End -->
	</Sys>
	<Car VerifyCode="c9abc29938b05629bb4161c4414ee39b">
		<Models>
			<Model ModelID="Procedure"  ModelName="厂商">
				<Parameter>
					<add Name="厂商ID" Value="Cp_Id" />
					<add Name="厂商名称" Value="Cp_Name" />
					<add Name="厂商简称" Value="Cp_ShortName" />
					<add Name="厂商别名" Value="Cp_Byname" />
					<add Name="厂商英文名称" Value="Cp_Ename" />
					<add Name="厂商所在国家" Value="Cp_Country" />
					<add Name="厂商网站地址" Value="Cp_Url" />
					<add Name="厂商联系电话" Value="Cp_Phone" />
					<add Name="拼音" Value="Spell" />
					<add Name="厂商简介" Value="Cp_Introduction" />
					<add Name="logo图片地址" Value="Cp_LogoUrl" />
					<add Name="老厂商ID" Value="OldCp_Id" />
					<add Name="1为有效状态,非1为无效状态" Value="IsState" />
					<add Name="创建时间" Value="CreateTime" />
					<add Name="更新时间" Value="UpdateTime" />
				</Parameter>
			</Model>
			<Model ModelID="Brand"  ModelName="品牌">
				<Parameter>
					<add Name="品牌ID" Value="Cb_Id" />
					<add Name="厂商ID" Value="Cp_Id" />
					<add Name="品牌名称" Value="cb_Name"/>
					<add Name="品牌别名" Value="cb_OtherName" />
					<add Name="品牌英文名称" Value="Cb_Ename" />
					<add Name="品牌网站地址" Value="Cb_Url" />
					<add Name="品牌联系电话" Value="Cb_Phone" />
					<add Name="拼音" Value="Spell" />
					<add Name="品牌简介" Value="Cb_Introduction" />
					<add Name="logo图片地址" Value="Cb_Logo" />
					<add Name="老系列id" Value="oldCsId" />
					<add Name="1为有效状态,非1为无效状态" Value="IsState" />
					<add Name="创建时间" Value="CreateTime" />
					<add Name="更新时间" Value="UpdateTime" />
				</Parameter>
			</Model>
			<Model ModelID="Serial"  ModelName="子品牌">
				<Parameter>
					<add Name="子品牌ID" Value="Cs_Id" />
					<add Name="品牌ID" Value="Cb_Id" />
					<add Name="子品牌名称" Value="cs_Name"/>
					<add Name="子品牌别名" Value="cs_OtherName" />
					<add Name="子品牌英文名称" Value="Cs_Ename" />
					<add Name="子品牌网站地址" Value="Cs_Url" />
					<add Name="子品牌联系电话" Value="Cs_Phone" />
					<add Name="优点" Value="cs_Virtues" />
					<add Name="缺点" Value="cs_Defect" />
					<add Name="拼音" Value="Spell" />
					<add Name="车型类型" Value="cs_CarType" />
					<add Name="级别" Value="cs_CarLevel" />
					<add Name="原型车" Value="prototypeCar" />
					<add Name="派系" Value="cs_Cliques" />
					<add Name="子品牌简介" Value="Cs_Introduction" />
					<add Name="老品牌id" Value="OldCbId" />
					<add Name="1为有效状态,非1为无效状态" Value="IsState" />
					<add Name="创建时间" Value="CreateTime" />
					<add Name="更新时间" Value="UpdateTime" />
				</Parameter>
			</Model>
			<Model ModelID="CarInfo"  ModelName="车型主要参数">
				<Parameter>
					<add Name="车型ID" Value="Car_Id" />
					<add Name="子品牌ID" Value="Cs_Id" />
					<add Name="车型名称" Value="Car_Name"/>
					<add Name="生产状态" Value="Car_ProduceState" />
					<add Name="销售状态" Value="Car_SaleState" />
					<add Name="拼音" Value="SpellFirst" />
					<add Name="报价" Value="car_ReferPrice" />
					<add Name="老车型id" Value="OLdCar_Id" />
					<add Name="1为有效状态,非1为无效状态" Value="IsState" />
					<add Name="创建时间" Value="CreateTime" />
					<add Name="更新时间" Value="UpdateTime" />
				</Parameter>
			</Model>
			<Model ModelID="CarCompareList" ModelName="车型参数对比">
				<Parameter>
					<add Name="长" Value="OutSet_Length" />
					<add Name="宽" Value="OutSet_Width" />
					<add Name="高" Value="OutSet_Height" />
					<add Name="轴距" Value="OutSet_WheelBase" />
					<add Name="燃油箱容积" Value="Oil_FuelCapacity" />
					<add Name="排量" Value="Engine_Exhaust" />
					<add Name="最大功率-功率值" Value="Engine_MaxPower" />
					<add Name="最大功率-转速" Value="Engine_PowerSpeed" />
					<add Name="最大扭矩-扭矩值" Value="Engine_MaxNJ" />
					<add Name="最大扭矩-转速" Value="Engine_NJSpeed" />
					<add Name="燃油标号" Value="Oil_FuelTab" />
					<add Name="变速器型式" Value="UnderPan_TransmissionType" />
					<add Name="前悬挂类型" Value="UnderPan_FrontSuspensionType" />
					<add Name="后悬挂类型" Value="UnderPan_RearSuspensionType" />
					<add Name="前制动类型" Value="UnderPan_FrontBrakeType" />
					<add Name="后制动类型" Value="UnderPan_RearBrakeType" />
					<add Name="前轮胎规格" Value="UnderPan_FrontTyreStandard" />
					<add Name="后轮胎规格" Value="UnderPan_RearTyreStandard" />
					<add Name="驾驶位安全气囊" Value="Safe_DriverGasBag" />
					<add Name="副驾驶位安全气囊" Value="Safe_SubDriverGasBag" />
					<add Name="ABS(刹车防抱死制动系统)" Value="Safe_ABS" />
					<add Name="ESP(电子稳定程序)" Value="Safe_ESP" />
					<add Name="安全带预收紧功能" Value="Safe_BeltPreTighten" />
					<add Name="随速助力转向调节(EPS)" Value="UnderPan_AsistTurnTune" />
					<add Name="转向助力" Value="UnderPan_DriveAsistTurn" />
					<add Name="中控门锁" Value="InStat_CenterControlLock" />
					<add Name="倒车雷达" Value="UnderPan_RRadar" />
					<add Name="倒车影像" Value="UnderPan_RImage" />
					<add Name="方向盘调节方式" Value="InStat_SteerTuneType" />
					<add Name="CD" Value="InStat_CDPlayer" />
					<add Name="DVD" Value="InStat_DVDPlayer" />
					<add Name="定速巡航系统" Value="InStat_SpeedCruise" />
					<add Name="方向盘调节方向" Value="InStat_SteerTuneDirection" />
					<add Name="方向盘调节方式" Value="InStat_SteerTuneType" />
					<add Name="GPS电子导航" Value="InStat_GPS" />
					<add Name="蓝牙系统" Value="InStat_Bluetooth" />
					<add Name="空调控制方式" Value="InStat_AirCType" />
					<add Name="温区个数" Value="InStat_TemperAreaCount" />
					<add Name="座椅面料" Value="InStat_SeatMaterial" />
					<add Name="后座中央扶手" Value="InStat_BCenterArmrest" />
					<add Name="驾驶座座椅加热" Value="InStat_DSeatHot" />
					<add Name="驾驶座腰部支撑调节" Value="InStat_DSeatProp" />
					<add Name="驾驶座座椅调节方式" Value="InStat_DSeatTuneType" />
					<add Name="前照灯类型" Value="OutStat_FrontLightType" />
					<add Name="前照灯照射高度调节" Value="OutStat_FLightHeightTune" />
					<add Name="前大灯随动转向" Value="OutStat_FLightSteer" />
					<add Name="前大灯自动开闭" Value="OutStat_FLightClose" />
					<add Name="前照灯自动清洗功能" Value="OutStat_FLightAutoClean" />
					<add Name="外后视镜电动调节" Value="OutStat_ReMirrorElecTune" />
					<add Name="外后视镜加热功能" Value="OutStat_ReMirrorHot" />
					<add Name="外后视镜电动折叠功能" Value="OutStat_ReMirrorFold" />
					<add Name="车窗" Value="OutStat_CarWindow" />
					<add Name="电动窗防夹功能" Value="OutStat_AvoidNipHead" />
					<add Name="雨刷传感器" Value="OutStat_FBrushSensor" />
					<add Name="后导流尾翼" Value="OutStat_InductEmpennage" />
					<add Name="车顶行李箱架" Value="OutStat_TopSnelf" />
					<add Name="运动包围" Value="OutStat_Besiege" />
					<add Name="外后视镜记忆功能" Value="OutStat_ReMirrormemory" />
					<add Name="内后视镜防眩目功能" Value="OutStat_ReMirrorDazzle" />
					<add Name="驾驶座座椅调节方向" Value="InStat_DSeatTuneDirection" />
					<add Name="副驾驶座椅调节方式" Value="InStat_DASeatTuneType" />
					<add Name="副驾驶座椅调节方向" Value="InStat_DASeatTuneDirection" />
					<add Name="主动式安全头枕" Value="InStat_BSafePillow" />
					<add Name="方向盘换档" Value="InStat_SteerEtc" />
					<add Name="转速表" Value="InStat_Tach" />
					<add Name="行车电脑" Value="InStat_Computer" />
					<add Name="罗盘/指南针" Value="InStat_Guide" />
					<add Name="海拔仪" Value="InStat_Altitude" />
					<add Name="HUD抬头数字显示" Value="InStat_Hud" />
					<add Name="MP3" Value="InStat_MP3Player" />
					<add Name="CD数量" Value="InStat_CDNum" />
					<add Name="DVD碟数" Value="InStat_DVDNum" />
					<add Name="后排出风口" Value="InStat_BleakAirNum" />
					<add Name="电子限速" Value="Perf_ElecLimitSpeed" />
					<add Name="胎压检测装置" Value="UnderPan_TyrePressureWatcher" />
					<add Name="无钥匙点火系统" Value="InStat_AIgnitionSys" />
					<add Name="多功能方向盘" Value="InStat_MultiFuncSteer" />
					<add Name="气囊气帘数量" Value="Safe_GasbagNum" />
					<add Name="安全带限力功能" Value="UnderPan_lifeBeltlimit" />
				</Parameter>
			</Model>
			<Model ModelName="1" ModelID="微型车">
				<Parameter>
					<add Name="最大功率" Value="Engine_MaxPower" />
					<add Name="最大功率-转速" Value="Engine_PowerSpeed" />
				</Parameter>
			</Model>
			<Model ModelName="2" ModelID="小型车">
				<Parameter>
					<add Name="最大功率" Value="Engine_MaxPower" />
					<add Name="最大功率-转速" Value="Engine_PowerSpeed" />
				</Parameter>
			</Model>
			<Model ModelName="3" ModelID="紧凑型车">
				<Parameter>
					<add Name="最大功率" Value="Engine_MaxPower" />
					<add Name="最大功率-转速" Value="Engine_PowerSpeed" />
				</Parameter>
			</Model>
			<Model ModelName="4" ModelID="中大型车">
				<Parameter>
					<add Name="最大功率" Value="Engine_MaxPower" />
					<add Name="最大功率-转速" Value="Engine_PowerSpeed" />
				</Parameter>
			</Model>
			<Model ModelName="5" ModelID="中型车">
				<Parameter>
					<add Name="最大功率" Value="Engine_MaxPower" />
					<add Name="最大功率-转速" Value="Engine_PowerSpeed" />
				</Parameter>
			</Model>
			<Model ModelName="6" ModelID="豪华车">
				<Parameter>
					<add Name="最大功率" Value="Engine_MaxPower" />
					<add Name="最大功率-转速" Value="Engine_PowerSpeed" />
				</Parameter>
			</Model>
			<Model ModelName="7" ModelID="MPV">
				<Parameter>
					<add Name="最大功率" Value="Engine_MaxPower" />
					<add Name="最大功率-转速" Value="Engine_PowerSpeed" />
					<add Name="驱动方式" Value="Perf_DriveType" />
				</Parameter>
			</Model>
			<Model ModelName="8" ModelID="SUV">
				<Parameter>
					<add Name="最大功率" Value="Engine_MaxPower" />
					<add Name="最大功率-转速" Value="Engine_PowerSpeed" />
				</Parameter>
			</Model>
			<Model ModelName="9" ModelID="跑车">
				<Parameter>
					<add Name="最大功率" Value="Engine_MaxPower" />
					<add Name="最大功率-转速" Value="Engine_PowerSpeed" />
				</Parameter>
			</Model>
			<Model ModelName="10" ModelID="其它">
				<Parameter>
					<add Name="最大功率" Value="Engine_MaxPower" />
					<add Name="最大功率-转速" Value="Engine_PowerSpeed" />
					<add Name="长" Value="OutSet_Length" />
					<add Name="宽" Value="OutSet_Width" />
					<add Name="高" Value="OutSet_Height" />
				</Parameter>
			</Model>
			<Model ModelName="车型搜索" ModelID="车型搜索">
				<Parameter>
					<add Name="最大功率" Value="Engine_MaxPower" />
					<add Name="最大功率-转速" Value="Engine_PowerSpeed" />					
				</Parameter>
			</Model>
			<Model ModelName="选车工具" ModelID="选车工具">
				<Parameter>
					<add Name="最大功率" Value="Engine_MaxPower" />
					<add Name="最大功率-转速" Value="Engine_PowerSpeed" />
				</Parameter>
			</Model>			
		</Models>
	</Car>
</AutoCarConfig>
