<?xml version="1.0" encoding="utf-8" ?>
<FileToMemcache>
	<add key="Car_XML_Data_Serial_NewsNum" value="E:\Data\SerialNews\newsNum.xml"/>
    <!-- 线上配置
    <add key="Car_XML_Data_Serial_NewsNum" value="E:\wwwroot\Carchannelv2.1\Data\SerialNews\newsNum.xml"/>
    -->
	<add key="Car_XML_TreeData_chexing" value="E:\Data\CarTree\TreeData\chexing.xml"/>
	<add key="Car_XML_TreeData_tupian" value="E:\Data\CarTree\TreeData\tupian.xml"/>
	<add key="Car_XML_TreeData_shipin" value="E:\Data\CarTree\TreeData\shipin.xml"/>
	<add key="Car_XML_TreeData_hangqing" value="E:\Data\CarTree\TreeData\hangqing.xml"/>
	<add key="Car_XML_TreeData_baojia" value="E:\Data\CarTree\TreeData\baojia.xml"/>
	<add key="Car_XML_TreeData_jingxiaoshang" value="E:\Data\CarTree\TreeData\jingxiaoshang.xml"/>
	<add key="Car_XML_TreeData_koubei" value="E:\Data\CarTree\TreeData\koubei.xml"/>
	<add key="Car_XML_TreeData_daogou" value="E:\Data\CarTree\TreeData\daogou.xml"/>
	<add key="Car_XML_TreeData_pingce" value="E:\Data\CarTree\TreeData\pingce.xml"/>
	<add key="Car_XML_TreeData_yanghu" value="E:\Data\CarTree\TreeData\yanghu.xml"/>
	<add key="Car_XML_TreeData_ershouche" value="E:\Data\CarTree\TreeData\ershouche.xml"/>
	<add key="Car_XML_TreeData_dayi" value="E:\Data\CarTree\TreeData\dayi.xml"/>
	<add key="Car_XML_TreeData_zhishu" value="E:\Data\CarTree\TreeData\zhishu.xml"/>
	<add key="Car_XML_TreeData_xiaoliang" value="E:\Data\CarTree\TreeData\xiaoliang.xml"/>
	<add key="Car_XML_TreeData_keji" value="E:\Data\CarTree\TreeData\keji.xml"/>
	<add key="Car_XML_TreeData_anquan" value="E:\Data\CarTree\TreeData\anquan.xml"/>
	<add key="Car_XML_TreeData_jiangjia" value="E:\Data\CarTree\TreeData\jiangjia.xml"/>
 </FileToMemcache>