<?xml version="1.0" encoding="utf-8" ?>
<ParameterConfigurationList>
  <Parameter Name="参数" Type="1">
    <ParameterList Name="基本信息" Type="2">
      <Item Value="Car_RepairPolicy" Name="保修政策" ParamID="398" Unit="" />
      <Item Value="Engine_ExhaustForFloat" Name="排量[L]" ParamID="785" Unit="L" />
      <Item Value="Engine_Exhaust" Name="排量" ParamID="423" Unit="mL" />
      <Item Value="Engine_InhaleType" Name="进气形式" ParamID="425" Unit="" />
      <Item Value="UnderPan_ForwardGearNum,UnderPan_TransmissionType" Name="变速箱类型" ParamID="724,712" Unit="挡," />
      <Item Value="Perf_MaxSpeed" Name="最高车速" ParamID="663" Unit="km/h" />
    </ParameterList>
    <ParameterList Name="车身尺寸" Type="2">
      <Item Value="OutSet_Length" Name="长" ParamID="588" Unit="mm" />
      <Item Value="OutSet_Width" Name="宽" ParamID="593" Unit="mm" />
      <Item Value="OutSet_Height" Name="高" ParamID="586" Unit="mm" />
      <Item Value="OutSet_WheelBase" Name="轴距" ParamID="592" Unit="mm" />
      <Item Value="Perf_Weight" Name="整备质量" ParamID="669" Unit="kg" />
      <Item Value="Perf_SeatNum" Name="座位数" ParamID="665" Unit="个" />
      <Item Value="Inset_TrunkCapacity" Name="行李厢容积" ParamID="465" Unit="L" />
      <Item Value="Inset_TrunkCapacityE" Name="行李厢拓展容积" ParamID="466" Unit="L" />
      <Item Value="xinglixiangzuizuidarongji" Name="行李厢最大拓展容积" ParamID="1000" Unit="L" />
      <Item Value="Oil_FuelCapacity" Name="油箱容积" ParamID="576" Unit="L" />
      <Item Value="UnderPan_FrontTyreStandard" Name="前轮胎规格" ParamID="729" Unit="" />
      <Item Value="UnderPan_RearTyreStandard" Name="后轮胎规格" ParamID="721" Unit="" />
      <Item Value="UnderPan_SpareWheelStandard" Name="备胎" ParamID="707" Unit="" />
      <Item Value="Car_RepairPolicy" Name="保修政策" ParamID="398" Unit="" />
      <Item Value="new_energy_subsidies" Name="新能源汽车国家补贴" ParamID="997" Unit="万" />
      <Item Value="OutSet_MinWheeDiameter" Name="最小转弯直径[m]" ParamID="1039" Unit="" />
      <Item Value="OutSet_MinGapFromEarth" Name="最小离地间隙[mm]" ParamID="589" Unit="" />
      <Item Value="Perf_TotalWeight" Name="满载质量" ParamID="668" Unit="kg" />
      <Item Value="carcheluntaiguige" Name="轮胎规格" ParamID="1001" Unit="" />
      <Item Value="maximum_gross_mass" Name="载重质量" ParamID="974" Unit="kg" />
      <Item Value="truck_tire_number" Name="轮胎个数" ParamID="982" Unit="" />
      <Item Value="Cargo_length_max" Name="货厢长" ParamID="966" Unit="mm" />
      <Item Value="cargo_width_max" Name="货厢宽" ParamID="970" Unit="mm" />
      <Item Value="Cargo_height_max" Name="货厢高" ParamID="969" Unit="mm" />
      <Item Value="OutStat_BodyColor" Name="车身颜色" ParamID="598" Unit="" />
    </ParameterList>
    <ParameterList Name="动力系统" Type="2">
      <Item Value="Engine_Exhaust" Name="排气量" ParamID="423" Unit="mL" />
      <Item Value="Engine_ExhaustForFloat" Name="排量[L]" ParamID="785" Unit="L" />
      <Item Value="Engine_MaxPower" Name="最大功率" ParamID="430" Unit="kW" />
      <Item Value="Engine_horsepower" Name="最大马力" ParamID="791" Unit="Ps" />
      <Item Value="Engine_PowerSpeed" Name="最大功率转速" ParamID="433" Unit="rpm" />
      <Item Value="Engine_MaxNJ" Name="最大扭矩" ParamID="429" Unit="N.m" />
      <Item Value="Engine_NJSpeed" Name="最大扭矩转速" ParamID="432" Unit="rpm" />
      <Item Value="Engine_CylinderRank" Name="缸体形式" ParamID="418" Unit="" />
      <Item Value="Engine_CylinderNum" Name="气缸" ParamID="417" Unit="缸" />
      <Item Value="Engine_InhaleType" Name="进气形式" ParamID="425" Unit="" />
      <Item Value="Oil_SupplyType" Name="供油方式" ParamID="580" Unit="" />
      <Item Value="Engine_CompressRat" Name="压缩比" ParamID="414" Unit="" />
      <Item Value="Oil_FuelTab" Name="燃油标号" ParamID="577" Unit="号" />
      <Item Value="UnderPan_Startandstopsystem" Name="发动机启停" ParamID="894" Unit="" />
      <Item Value="UnderPan_TransmissionType" Name="变速箱类型" ParamID="712" Unit="" />
      <Item Value="UnderPan_ForwardGearNum" Name="挡位个数" ParamID="724" Unit="" />
      <Item Value="Perf_MaxSpeed" Name="最高车速" ParamID="663" Unit="km/h" />
      <Item Value="Perf_AccelerateTime" Name="0-100km/h加速时间" ParamID="650" Unit="s" />
      <Item Value="Perf_ZongHeYouHao" Name="混合工况油耗" ParamID="782" Unit="L/100km" />
      <Item Value="Engine_EnvirStandard" Name="环保标准" ParamID="421" Unit="" />
      <Item Value="Electric_Peakpower" Name="电动机总功率" ParamID="870" Unit="kw" />
      <Item Value="Electric_maximumtorque" Name="电动机总扭矩" ParamID="872" Unit="N.m" />
      <Item Value="qiandiandongjizuidagonglv" Name="前电动机最大功率" ParamID="1002" Unit="kW" />
      <Item Value="qiandiandongjizuidaniuju" Name="前电动机最大扭矩" ParamID="1004" Unit="N.m" />
      <Item Value="houdiandongjizuidagonglv" Name="后电动机最大功率" ParamID="1003" Unit="kW" />
      <Item Value="houdiandongjizuidaniuju" Name="后电动机最大扭矩" ParamID="1005" Unit="N.m" />
      <Item Value="Electric_Batterycapacity" Name="电池容量" ParamID="876" Unit="kWh" />
      <Item Value="Electric_Fast-chargetime" Name="电池充电时间快充" ParamID="878" Unit="h" />
      <Item Value="Electric_Normalchargingtime" Name="电池充电时间慢充" ParamID="879" Unit="h" />
      <Item Value="Electric_Powerconsumption" Name="耗电量" ParamID="868" Unit="kWh/100km" />
      <Item Value="Electric_mustMileageconstant" Name="最大续航里程" ParamID="883" Unit="km" />
      <Item Value="dianchizuzhibao" Name="电池组质保" ParamID="1006" Unit=""  />
      <Item Value="xitongzonghegonglv" Name="系统综合功率" ParamID="1008" Unit="kW"  />
      <Item Value="xitongzongheniuju" Name="系统综合扭矩" ParamID="1009" Unit="N.m"  />
      <Item Value="fadongjimiaoshu" Name="发动机描述" ParamID="945" Unit="" />
      <Item Value="kachebiansuxiangmiaoshu" Name="卡车变速箱描述" ParamID="1011" Unit="" />
      <Item Value="forward_gears_number" Name="卡车前进挡位个数" ParamID="980" Unit="" />
      <Item Value="backward_gears_number" Name="卡车倒挡位个数" ParamID="981" Unit="" />
    </ParameterList>
    <ParameterList Name="底盘制动" Type="2">
      <Item Value="Perf_DriveType" Name="驱动方式" ParamID="655" Unit="" />
      <Item Value="UnderPan_FrontSuspensionType" Name="前悬架类型" ParamID="728" Unit="" />
      <Item Value="UnderPan_RearSuspensionType" Name="后悬架类型" ParamID="720" Unit="" />
      <Item Value="UnderPan_SuspensionHeightControl" Name="可调悬架" ParamID="708" Unit="" />
      <Item Value="UnderPan_FrontBrakeType" Name="前轮制动器类型" ParamID="726" Unit="" />
      <Item Value="UnderPan_RearBrakeType" Name="后轮制动器类型" ParamID="718" Unit="" />
      <Item Value="UnderPan_ParkingBrake" Name="驻车制动类型" ParamID="716" Unit="" />
      <Item Value="Body_Struc" Name="车体结构" ParamID="572" Unit="" />
      <Item Value="UnderPan_CentralDiffLock" Name="限滑差速器/差速锁" ParamID="733" Unit="" />
      <Item Value="OutSet_NearCorner" Name="接近角[°]" ParamID="591" Unit="" />
      <Item Value="OutSet_AwayCorner" Name="离去角[°]" ParamID="581" Unit="" />
      <Item Value="Perf_Throughtheangle" Name="通过角[°]" ParamID="890" Unit="" />
      <Item Value="Perf_MaxPaddleDepth" Name="最大涉水深度[mm]" ParamID="662" Unit="" />
      <Item Value="kecheqianxuanjialeixing" Name="客车前悬架类型" ParamID="1012" Unit="" />
      <Item Value="kechehouxuanjialeixing" Name="客车后悬架类型" ParamID="1013" Unit="" />
      <Item Value="kachequdongxingshi" Name="卡车驱动形式" ParamID="1014" Unit="" />
      <Item Value="Front_axle_description" Name="前桥描述" ParamID="975" Unit="" />
      <Item Value="qianqiaoyunxuzaihe" Name="前桥允许载荷" ParamID="1015" Unit="kg" />
      <Item Value="Back_axle_description" Name="后桥描述" ParamID="976" Unit="" />
      <Item Value="houqiaoyunxuzaihe" Name="后桥允许载荷" ParamID="1016" Unit="kg" />
    </ParameterList>
    <ParameterList Name="安全配置" Type="2">
      <Item Value="Safe_ABS" Name="防抱死制动(ABS)" ParamID="673" Unit="" />
      <Item Value="Safe_EBD" Name="制动力分配(EBD/CBC等)" ParamID="685" Unit="" />
      <Item Value="Safe_EBA" Name="制动辅助(BA/EBA/BAS等)" ParamID="684" Unit="" />
      <Item Value="Safe_TCS" Name="牵引力控制(ARS/TCS/TRC等)" ParamID="698" Unit="" />
      <Item Value="UnderPan_DSC" Name="车身稳定控制(ESP/DSC/VSC等)" ParamID="700" Unit="" />
      <Item Value="Safe_DriverGasBag" Name="主驾驶安全气囊" ParamID="682" Unit="" />
      <Item Value="Safe_SubDriverGasBag" Name="副驾驶安全气囊" ParamID="697" Unit="" />
      <Item Value="Safe_FsadGasbag" Name="前侧气囊" ParamID="691" Unit="" />
      <Item Value="Safe_BsadGasbag" Name="后侧气囊" ParamID="680" Unit="" />
      <Item Value="Safe_FheadGasbag" Name="侧安全气帘" ParamID="690" Unit="" />
      <Item Value="Safe_KneeGasBag" Name="膝部气囊" ParamID="835" Unit="" />
      <Item Value="InStat_BeltBag" Name="安全带气囊" ParamID="845" Unit="" />
      <Item Value="houpaizhongyangqinang" Name="后排中央气囊" ParamID="1017" Unit="" />
      <Item Value="UnderPan_TyrePressureWatcher" Name="胎压监测" ParamID="714" Unit="" />
      <Item Value="UnderPan_ZeroPressureDrive" Name="零胎压续行轮胎" ParamID="715" Unit="" />
      <Item Value="InStat_ChildSeatFix" Name="后排儿童座椅接口(ISO FIX/LATCH)" ParamID="495" Unit="" />
    </ParameterList>
    <ParameterList Name="驾驶辅助" Type="2">
      <Item Value="InStat_SpeedCruise" Name="定速巡航" ParamID="545" Unit="" />
      <Item Value="InStat_blindspotdetection" Name="车道保持" ParamID="898" Unit="" />
      <Item Value="bingxianfuzhu" Name="并线辅助" ParamID="1040" Unit="" />
      <Item Value="InStat_ActiveSafetySystems" Name="碰撞报警/主动刹车" ParamID="818" Unit="" />
      <Item Value="pilaotixing" Name="疲劳提醒" ParamID="1018" Unit="" />
      <Item Value="InStat_AutoParking" Name="自动泊车" ParamID="816" Unit="" />
      <Item Value="Safe_Remotedriving" Name="遥控泊车" ParamID="901" Unit="" />
      <Item Value="zidongjiashifuzhu" Name="自动驾驶辅助" ParamID="1019" Unit="" />
      <Item Value="InStat_AutoPark" Name="自动驻车" ParamID="811" Unit="" />
      <Item Value="InStat_UphillAuxiliary" Name="上坡辅助" ParamID="812" Unit="" />
      <Item Value="InStat_HDC" Name="陡坡缓降" ParamID="813" Unit="" />
      <Item Value="InStat_NightVisionSystem" Name="夜视系统" ParamID="819" Unit="" />
      <Item Value="kebianchibizhuanxiang" Name="可变齿比转向" ParamID="1020" Unit="" />
      <Item Value="UnderPan_PRadar" Name="前倒车雷达" ParamID="800" Unit="" />
      <Item Value="UnderPan_RRadar" Name="后倒车雷达" ParamID="702" Unit="" />
      <Item Value="UnderPan_RImage" Name="倒车影像" ParamID="703" Unit="" />
      <Item Value="jiashimoshixuanze" Name="驾驶模式选择" ParamID="1021" Unit="" />
    </ParameterList>
    <ParameterList Name="外部配置" Type="2">
      <Item Value="OutStat_FrontLightType" Name="前大灯" ParamID="614" Unit=""  />
      <Item Value="OutStat_DaytimeRunningLights" Name="LED日间行车灯" ParamID="794" Unit=""  />
      <Item Value="OutStat_FLightClose" Name="自动大灯" ParamID="609" Unit=""  />
      <Item Value="OutStat_FfogLamp" Name="前雾灯" ParamID="607" Unit="" />
      <Item Value="OutStat_FLightHeightTune" Name="大灯功能" ParamID="612" Unit="" />
      <Item Value="Body_Louver" Name="天窗类型" ParamID="567" Unit="" />
      <Item Value="OutStat_CarWindow" Name="前电动车窗" ParamID="601" Unit="" />
      <Item Value="houdiandongchechuang" Name="后电动车窗" ParamID="1038" Unit="" />
      <Item Value="OutStat_ReMirrorElecTune" Name="外后视镜电动调节" ParamID="622" Unit="" />
      <!--<Item Value="OutStat_ReMirrorHot" Name="外后视镜加热" ParamID="624" Unit="" />-->
      <Item Value="OutStat_ReMirrorDazzle" Name="内后视镜自动防眩目" ParamID="621" Unit="" />
      <Item Value="liumeitihoushijing" Name="流媒体后视镜" ParamID="1041" Unit="" />
      <Item Value="waihoushijingzidongfangxuanmu" Name="外后视镜自动防眩目" ParamID="1022" Unit="" />
      <Item Value="OutStat_UV_InsulatinGlass" Name="隐私玻璃" ParamID="796" Unit="" />
      <Item Value="OutStat_SecondRowCurtain" Name="后排侧遮阳帘" ParamID="797" Unit="" />
      <Item Value="OutStat_BackCurtain" Name="后遮阳帘" ParamID="595" Unit="" />
      <Item Value="OutStat_FBrushSensor" Name="前雨刷器" ParamID="606" Unit="" />
      <Item Value="OutStat_BBrushSensor" Name="后雨刷器" ParamID="596" Unit="" />
      <Item Value="InStat_ElectricPick-upDoors" Name="电吸门" ParamID="821" Unit="" />
      <Item Value="diandongcehuamen" Name="电动侧滑门" ParamID="1023" Unit="" />
      <Item Value="InStat_TrunkType" Name="电动行李厢" ParamID="556" Unit="" />
      <Item Value="OutStat_TopSnelf" Name="车顶行李架" ParamID="627" Unit="" />
      <Item Value="InStat_CenterControlLock" Name="中控锁" ParamID="493" Unit="" />
      <Item Value="nokey_into" Name="智能钥匙" ParamID="952" Unit="" />
      <Item Value="yuanchengyaokonggongneng" Name="远程遥控功能" ParamID="1024" Unit="" />
      <Item Value="weiyiraoliuban" Name="尾翼/扰流板" ParamID="1025" Unit="" />
      <Item Value="OutStat_SportsAppearanceKit" Name="运动外观套件" ParamID="793" Unit="" />
    </ParameterList>
    <ParameterList Name="内部配置" Type="2">
      <Item Value="neishicaizhi" Name="内饰材质" ParamID="1026" Unit="" />
      <Item Value="OutStat_atmosphereLight" Name="车内氛围灯" ParamID="795" Unit="" />
      <Item Value="InStat_FaceMirror" Name="遮阳板化妆镜" ParamID="512" Unit="" />
      <Item Value="InStat_SteerMaterial" Name="方向盘材质" ParamID="548" Unit="" />
      <Item Value="InStat_MultiFuncsSteer" Name="多功能方向盘" ParamID="528" Unit="" />
      <Item Value="SteeringAdjustmentLeftAndRight" Name="方向盘调节" ParamID="799" Unit="" />
      <Item Value="Steering_Wheel_hot" Name="方向盘加热" ParamID="956" Unit="" />
      <Item Value="InStat_SteerEtc" Name="方向盘换挡" ParamID="547" Unit="" />
      <Item Value="InStat_TemperSubCount" Name="前排空调" ParamID="839" Unit="" />
      <Item Value="InStat_BAirCSystem" Name="后排空调" ParamID="838" Unit="" />
      <Item Value="xiangfenxitong" Name="香氛系统" ParamID="1027" Unit="" />
      <Item Value="InStat_AirPurification" Name="空气净化" ParamID="905" Unit="" />
      <Item Value="InStat_carFridge" Name="车载冰箱" ParamID="485" Unit="" />
    </ParameterList>
    <ParameterList Name="座椅配置" Type="2">
      <Item Value="InStat_SeatMaterial" Name="座椅材质" ParamID="544" Unit="" />
      <Item Value="InStat_SportSeat" Name="运动风格座椅" ParamID="546" Unit="" />
      <Item Value="InStat_DSeatTuneType" Name="主座椅电动调节" ParamID="508" Unit="" />
      <Item Value="InStat_DASeatTuneType" Name="副座椅电动调节" ParamID="503" Unit="" />
      <Item Value="zhuzuoyitiaojiefangshi" Name="主座椅调节方式" ParamID="1028" Unit="" />
      <Item Value="fuzuoyitiaojiefangshi" Name="副座椅调节方式" ParamID="1029" Unit="" />
      <Item Value="InStat_BSeatTuneType" Name="第二排座椅电动调节" ParamID="833" Unit="" />
      <Item Value="dierpaizuoyitiaojiefangshi" Name="第二排座椅调节方式" ParamID="1030" Unit="" />
      <Item Value="InStat_DSeatHot" Name="前排座椅功能" ParamID="504" Unit="" />
      <Item Value="houpaizuoyigongneng" Name="后排座椅功能" ParamID="1031" Unit="" />
      <Item Value="InStat_FCenterArmrest" Name="前排中央扶手" ParamID="514" Unit="" />
      <Item Value="InStat_BCenterArmrest" Name="后排中央扶手" ParamID="475" Unit="" />
      <Item Value="InStat_3rdRowSeats" Name="第三排座椅" ParamID="805" Unit="" />
      <Item Value="InStat_BSeatLieRate" Name="座椅放倒方式" ParamID="482" Unit="" />
      <Item Value="InStat_BCarShelf" Name="后排杯架" ParamID="474" Unit="" />
      <Item Value="houpaizhediezhuoban" Name="后排折叠桌板" ParamID="1032" Unit="" />
    </ParameterList>
    <ParameterList Name="信息娱乐" Type="2">
      <Item Value="InStat_CCEscreen" Name="中控彩色液晶屏" ParamID="488" Unit="" />
      <Item Value="Liquid_crystal_instrument_panel" Name="全液晶仪表盘" ParamID="988" Unit="" />
      <Item Value="InStat_ComputerMonitors" Name="行车电脑显示屏" ParamID="832" Unit="" />
      <Item Value="InStat_Hud" Name="HUD平视显示" ParamID="518" Unit="" />
      <Item Value="InStat_GPS" Name="GPS导航" ParamID="516" Unit="" />
      <Item Value="zhinenghuliandingwei" Name="智能互联定位" ParamID="1033" Unit="" />
      <Item Value="yuyinkongzhi" Name="语音控制" ParamID="1035" Unit="" />
      <Item Value="shoujihulian" Name="手机互联(Carplay&amp;Android)" ParamID="1036" Unit="" />
      <Item Value="shoujiwuxianchongdian" Name="手机无线充电" ParamID="1037" Unit="" />
      <Item Value="shoushikongzhi" Name="手势控制系统" ParamID="1034" Unit="" />
      <Item Value="InStat_DVDPlayer" Name="CD/DVD" ParamID="510" Unit="" />
      <Item Value="InStat_Bluetooth" Name="蓝牙/WIFI连接" ParamID="479" Unit="" />
      <Item Value="InStat_ExternalAudioInterface" Name="外接接口" ParamID="810" Unit="" />
      <Item Value="InStat_Video" Name="车载电视" ParamID="559" Unit="" />
      <Item Value="InStat_Audiobrand" Name="音响品牌" ParamID="473" Unit="" />
      <Item Value="InStat_LoudHailer" Name="扬声器数量" ParamID="523" Unit="个" />
      <Item Value="InStat_BEscreen" Name="后排液晶屏/娱乐系统" ParamID="477" Unit="" />
      <Item Value="InStat_12VPower" Name="车载220V电源" ParamID="467" Unit="" />
    </ParameterList>
  </Parameter>
</ParameterConfigurationList>