<?xml version="1.0" encoding="utf-8"?>

<SearchConfig>

  <Group Name="发动机">

    <GroupSec Name="进气形式">
      <Item Id="100" ParamId="425" Name="自然吸气" Value="自然吸气"></Item>
      <Item Id="101" ParamId="425" Name="增压" Value="增压"></Item>
      <Item Id="102" ParamId="408" Name="涡轮增压" Value="涡轮增压" parent="101"></Item>
      <Item Id="103" ParamId="408" Name="双涡轮增压" Value="双涡轮增压"></Item>
      <Item Id="104" ParamId="408" Name="机械增压" Value="机械增压"></Item>
      <Item Id="105" ParamId="408" Name="涡轮机械双增压" Value="涡轮机械双增压"></Item>
    </GroupSec>

    <GroupSec Name="发动机位置">
      <Item Id="106" ParamId="428" Name="前置" Value="前置"></Item>
      <Item Id="107" ParamId="428" Name="中置" Value="中置"></Item>
      <Item Id="108" ParamId="428" Name="后置" Value="后置"></Item>
    </GroupSec>

    <GroupSec Name="气缸排列">
      <Item Id="109" ParamId="418" Name="L型" Value="L型"></Item>
      <Item Id="110" ParamId="418" Name="V型" Value="V型"></Item>
      <Item Id="111" ParamId="418" Name="B型" Value="B型"></Item>
      <Item Id="112" ParamId="418" Name="W型" Value="W型"></Item>
      <Item Id="113" ParamId="418" Name="H型" Value="H型"></Item>
      <Item Id="114" ParamId="418" Name="R型" Value="R型"></Item>
      <Item Id="115" ParamId="418" Name="转子" Value="转子"></Item>
    </GroupSec>

    <GroupSec Name="气缸数">
      <Item Id="116" ParamId="417" Name="3缸以下" Value="3缸以下"></Item>
      <Item Id="117" ParamId="417" Name="3缸" Value="3缸"></Item>
      <Item Id="118" ParamId="417" Name="4缸" Value="4缸"></Item>
      <Item Id="119" ParamId="417" Name="5缸" Value="5缸"></Item>
      <Item Id="120" ParamId="417" Name="6缸" Value="6缸"></Item>
      <Item Id="121" ParamId="417" Name="8缸" Value="8缸"></Item>
    </GroupSec>

    <GroupSec Name="环保标准">
      <Item Id="122" ParamId="421" Name="欧5" Value="欧5"></Item>
      <Item Id="123" ParamId="421" Name="欧4" Value="欧4"></Item>
      <Item Id="124" ParamId="421" Name="欧3" Value="欧3"></Item>
      <Item Id="125" ParamId="421" Name="国5" Value="国5"></Item>
      <Item Id="126" ParamId="421" Name="国4" Value="国4"></Item>
      <Item Id="127" ParamId="421" Name="京5" Value="京5"></Item>
    </GroupSec>

  </Group>

  <Group Name="底盘制动">

    <GroupSec Name="底盘结构">
      <Item Id="128" ParamId="572" Name="承载式" Value="承载式"></Item>
      <Item Id="129" ParamId="572" Name="非承载式" Value="非承载式"></Item>
      <Item Id="130" ParamId="572" Name="非承载式" Value="非承载式"></Item>
    </GroupSec>

    <GroupSec Name="悬架">
      <Item Id="131" ParamId="962" Name="独立前悬架" Value="独立前悬架"></Item>
      <Item Id="132" ParamId="959" Name="独立后悬架" Value="独立后悬架"></Item>
      <Item Id="133" ParamId="962" Name="非独立前悬架" Value="非独立前悬架"></Item>
      <Item Id="134" ParamId="959" Name="非独立后悬架" Value="非独立后悬架"></Item>
      <Item Id="135" ParamId="708" Name="可调悬架" Value="可调悬架"></Item>
      <Item Id="136" ParamId="814" Name="空气悬架" Value="空气悬架"></Item>
      <Item Id="137" ParamId="" Name="四轮独立悬架" Value="四轮独立悬架"></Item>
    </GroupSec>

    <GroupSec Name="差速锁位置">
      <Item Id="138" ParamId="733" Name="中央差速器锁" Value="中央差速器锁"></Item>
      <Item Id="139" ParamId="725" Name="前轴差速器锁" Value="前轴差速器锁"></Item>
      <Item Id="140" ParamId="717" Name="后轴差速器锁" Value="后轴差速器锁"></Item>
    </GroupSec>

    <GroupSec Name="前轮制动">
      <Item Id="141" ParamId="726" Name="盘式" Value="盘式"></Item>
      <Item Id="142" ParamId="726" Name="鼓式" Value="鼓式"></Item>
      <Item Id="143" ParamId="726" Name="通风盘" Value="通风盘"></Item>
      <Item Id="144" ParamId="726" Name="实心盘" Value="实心盘"></Item>
      <Item Id="145" ParamId="726" Name="盘鼓结合" Value="盘鼓结合"></Item>
    </GroupSec>

    <GroupSec Name="后轮制动">
      <Item Id="146" ParamId="718" Name="盘式" Value="盘式"></Item>
      <Item Id="147" ParamId="718" Name="鼓式" Value="鼓式"></Item>
      <Item Id="148" ParamId="718" Name="通风盘" Value="通风盘"></Item>
      <Item Id="149" ParamId="718" Name="实心盘" Value="实心盘"></Item>
      <Item Id="150" ParamId="718" Name="盘鼓结合" Value="盘鼓结合"></Item>
    </GroupSec>

    <GroupSec Name="手刹类型">
      <Item Id="151" ParamId="716" Name="手刹" Value="手刹"></Item>
      <Item Id="152" ParamId="716" Name="脚刹" Value="脚刹"></Item>
      <Item Id="153" ParamId="716" Name="中央拉索式" Value="中央拉索式"></Item>
      <Item Id="154" ParamId="716" Name="电子驻车" Value="电子驻车"></Item>
      <Item Id="155" ParamId="716" Name="机械驻车" Value="机械驻车"></Item>
      <Item Id="156" ParamId="716" Name="强力弹簧驻车" Value="强力弹簧驻车"></Item>
    </GroupSec>

    <GroupSec Name="转向助力">
      <Item Id="157" ParamId="735" Name="电子" Value="电子"></Item>
      <Item Id="158" ParamId="735" Name="液压" Value="液压"></Item>
      <Item Id="159" ParamId="735" Name="液压" Value="液压"></Item>
      <Item Id="160" ParamId="735" Name="液压" Value="液压"></Item>
    </GroupSec>

    <GroupSec Name="变速杆">
      <Item Id="161" ParamId="844" Name="电子挡杆" Value="电子挡杆"></Item>
      <Item Id="162" ParamId="844" Name="机械挡杆" Value="机械挡杆"></Item>
      <Item Id="163" ParamId="547" Name="方向盘拨片" Value="方向盘拨片"></Item>
    </GroupSec>

    <GroupSec Name="挡位个数">
      <Item Id="164" ParamId="724" Name="3" Value="3"></Item>
      <Item Id="165" ParamId="724" Name="4" Value="4"></Item>
      <Item Id="166" ParamId="724" Name="5" Value="5"></Item>
      <Item Id="167" ParamId="724" Name="6" Value="6"></Item>
      <Item Id="168" ParamId="724" Name="7" Value="7"></Item>
      <Item Id="169" ParamId="724" Name="8" Value="8"></Item>
      <Item Id="170" ParamId="724" Name="9" Value="9"></Item>
    </GroupSec>
  </Group>

  <Group Name="安全配置">
    <GroupSec Name="气囊位置">
      <Item Id="171" ParamId="682" Name="驾驶位" Value="驾驶位"></Item>
      <Item Id="172" ParamId="697" Name="副驾驶位" Value="副驾驶位"></Item>
      <Item Id="173" ParamId="690" Name="前排头部" Value="前排头部"></Item>
      <Item Id="174" ParamId="691" Name="前排侧" Value="前排侧"></Item>
      <Item Id="175" ParamId="679" Name="后排头部" Value="后排头部"></Item>
      <Item Id="176" ParamId="680" Name="后排侧" Value="后排侧"></Item>
    </GroupSec>
    <GroupSec Name="安全系统">
      <Item Id="177" ParamId="714" Name="胎压监测" Value="胎压监测"></Item>
      <Item Id="178" ParamId="715" Name="零压续行" Value="零压续行"></Item>
      <Item Id="179" ParamId="469" Name="无钥匙启动" Value="无钥匙启动"></Item>
      <Item Id="180" ParamId="494" Name="儿童锁" Value="儿童锁"></Item>
      <Item Id="181" ParamId="495" Name="儿童座椅固定" Value="儿童座椅固定"></Item>
    </GroupSec>
  </Group>

  <Group Name="行车辅助">
    <GroupSec Name="操控辅助">
      <Item Id="182" ParamId="" Name="单天窗" Value="单天窗"></Item>
      <Item Id="183" ParamId="" Name="双天窗" Value="双天窗"></Item>
      <Item Id="184" ParamId="" Name="全景天窗" Value="全景天窗"></Item>
      <Item Id="185" ParamId="" Name="电动车窗" Value="电动车窗"></Item>
      <Item Id="186" ParamId="" Name="车窗防夹" Value="车窗防夹"></Item>
      <Item Id="187" ParamId="" Name="隔热玻璃" Value="隔热玻璃"></Item>
    </GroupSec>
    <GroupSec Name="电子辅助">
      <Item Id="188" ParamId="812" Name="上坡辅助" Value="有"></Item>
      <Item Id="189" ParamId="816" Name="自动泊车" Value="有"></Item>
      <Item Id="190" ParamId="811" Name="自动驻车" Value="自动驻车"></Item>
      <Item Id="191" ParamId="810" Name="主动安全" Value="有"></Item>
      <Item Id="192" ParamId="898" Name="并线辅助" Value="有"></Item>
      <Item Id="193" ParamId="819" Name="夜视系统" Value="有"></Item>
      <Item Id="194" ParamId="545" Name="定速巡航" Value="有"></Item>
      <Item Id="195" ParamId="820" Name="全景摄像头" Value="有"></Item>
      <Item Id="196" ParamId="516" Name="GPS导航" Value="有"></Item>
      <Item Id="197" ParamId="893" Name="自适应巡航" Value="有"></Item>
      <Item Id="198" ParamId="894" Name="启停系统" Value="有"></Item>
      <Item Id="199" ParamId="702" Name="倒车雷达" Value="有"></Item>
      <Item Id="200" ParamId="703" Name="倒车影像" Value="有"></Item>
      <Item Id="201" ParamId="813" Name="陡坡缓降" Value="有"></Item>
      <Item Id="202" ParamId="800" Name="车前泊车雷达" Value="有"></Item>
      <Item Id="203" ParamId="518" Name="HUD抬头数字" Value="有"></Item>
    </GroupSec>
  </Group>

  <Group Name="车身配件">
    <GroupSec Name="车窗">
      <Item Id="204" ParamId="567" Name="单天窗" Value="单天窗"></Item>
      <Item Id="205" ParamId="567" Name="双天窗" Value="双天窗"></Item>
      <Item Id="206" ParamId="567" Name="全景天窗" Value="全景天窗"></Item>
      <Item Id="207" ParamId="601" Name="电动车窗" Value="电动车窗"></Item>
      <Item Id="208" ParamId="594" Name="车窗防夹" Value="车窗防夹"></Item>
      <Item Id="209" ParamId="796" Name="隔热玻璃" Value="隔热玻璃"></Item>
    </GroupSec>
    <GroupSec Name="后视镜">
      <Item Id="210" ParamId="625" Name="记忆功能" Value="记忆功能"></Item>
      <Item Id="211" ParamId="624" Name="加热功能" Value="加热功能"></Item>
      <Item Id="212" ParamId="623" Name="电动折叠" Value="电动折叠"></Item>
      <Item Id="213" ParamId="622" Name="电动调节" Value="电动调节"></Item>
      <Item Id="214" ParamId="621" Name="内后视镜防眩目" Value="内后视镜防眩目"></Item>
    </GroupSec>
    <GroupSec Name="感应雨刷">
      <Item Id="215" ParamId="606" Name="雨量传感" Value="雨量传感"></Item>
      <Item Id="216" ParamId="606" Name="车速传感" Value="车速传感"></Item>
      <Item Id="217" ParamId="606" Name="雨量及车速传感" Value="雨量及车速传感"></Item>
    </GroupSec>
    <GroupSec Name="车顶">
      <Item Id="218" ParamId="" Name="不限" Value="不限"></Item>
      <Item Id="219" ParamId="573" Name="硬顶" Value="硬顶"></Item>
      <Item Id="220" ParamId="573" Name="敞篷" Value="敞篷"></Item>

      <Item Id="221" ParamId="570" Name="软顶敞篷" Value="软顶敞篷"></Item>
      <Item Id="222" ParamId="570" Name="硬顶敞篷" Value="硬顶敞篷"></Item>
      <Item Id="223" ParamId="570" Name="软硬双顶敞篷" Value="软硬双顶敞篷"></Item>
    </GroupSec>
  </Group>

  <Group Name="灯光">
    <GroupSec Name="前照灯类型">
      <Item Id="224" ParamId="614" Name="氙气大灯" Value="氙气大灯"></Item>
      <Item Id="225" ParamId="614" Name="卤素大灯" Value="卤素大灯"></Item>
      <Item Id="226" ParamId="614" Name="LED大灯" Value="LED大灯"></Item>
    </GroupSec>

    <GroupSec Name="前大灯">
      <Item Id="227" ParamId="609" Name="自动开闭" Value="自动开闭"></Item>
      <Item Id="228" ParamId="613" Name="随动转向" Value="随动转向"></Item>
    </GroupSec>

    <GroupSec Name="其他灯光">
      <Item Id="229" ParamId="795" Name="车内氛围灯" Value="有"></Item>
      <Item Id="230" ParamId="749" Name="日间行车灯" Value="有"></Item>
    </GroupSec>
  </Group>

  <Group Name="内部配置">
    <GroupSec Name="方向盘">
      <Item Id="231" ParamId="528" Name="多功能方向盘" Value="有"></Item>
      <Item Id="232" ParamId="548" Name="真皮方向盘" Value="真皮/皮革"></Item>
    </GroupSec>

    <GroupSec Name="座椅功能">
      <Item Id="233" ParamId="504" Name="座椅加热" Value="有"></Item>
      <Item Id="234" ParamId="543" Name="座椅按摩功能" Value="有"></Item>
      <Item Id="235" ParamId="803" Name="电动座椅记忆" Value="有"></Item>
      <Item Id="236" ParamId="508" Name="电动座椅调节" Value="电动座椅调节"></Item>
      <Item Id="237" ParamId="804" Name="驾驶座椅通风" Value="驾驶座椅通风"></Item>
      <Item Id="238" ParamId="804" Name="前排座椅通风" Value="前排座椅通风"></Item>
      <Item Id="239" ParamId="804" Name="后排座椅通风" Value="后排座椅通风"></Item>
    </GroupSec>

    <GroupSec Name="娱乐通讯">
      <Item Id="240" ParamId="479" Name="蓝牙系统" Value="有"></Item>
      <Item Id="241" ParamId="810" Name="AUX音源接口" Value="AUX"></Item>
      <Item Id="242" ParamId="810" Name="USB音源接口" Value="USB"></Item>
      <Item Id="243" ParamId="488" Name="中控液晶屏" Value="有"></Item>
      <Item Id="244" ParamId="467" Name="220V电压电源" Value="220V"></Item>
    </GroupSec>

    <GroupSec Name="空气调节">
      <Item Id="245" ParamId="470" Name="空调" Value="有"></Item>
      <Item Id="246" ParamId="839" Name="温度分区" Value="有"></Item>
      <Item Id="247" ParamId="838" Name="后排独立空调" Value="有"></Item>
      <Item Id="248" ParamId="478" Name="后排出风口" Value="有"></Item>
      <Item Id="249" ParamId="905" Name="空气净化（PM2.5过滤）" Value="有"></Item>
    </GroupSec>

    <GroupSec Name="座椅材料">
      <Item Id="250" ParamId="544" Name="真皮" Value="真皮"></Item>
      <Item Id="251" ParamId="544" Name="皮革" Value="皮革"></Item>
      <Item Id="252" ParamId="544" Name="织物" Value="织物"></Item>
      <Item Id="253" ParamId="544" Name="真皮+织物" Value="真皮,织物"></Item>
      <Item Id="254" ParamId="544" Name="皮革+织物" Value="皮革,织物"></Item>
      <Item Id="281" ParamId="544" Name="真皮/皮革" Value="真皮/皮革"></Item>
    </GroupSec>

    <GroupSec Name="其他">
      <Item Id="255" ParamId="546" Name="运动座椅" Value="有"></Item>
      <Item Id="256" ParamId="627" Name="车顶行李箱架" Value="有"></Item>
    </GroupSec>
  </Group>  
  
</SearchConfig>