<?xml version="1.0"?>
<contentConfig defaultProvider="SqlContentProvider" enableContentUpdate="true" contentUpdateInteval="10" messageQueue=".\private$\staticContentqueue" errorPage="~/404error.html" contentTypeColumnLength="50">
  <!--errorpage属性值，需要配置web.config -> system.web -> httpHandlers -> path属性中
  <add verb="GET,HEAD" path="*.css,*.ico,*.png,*.jpeg,*.gif,*.jpg,*.bmp,404error.html" type="System.Web.StaticFileHandler" />
  -->
<!-- 线上配置
<contentConfig defaultProvider="SqlContentProvider" enableContentUpdate="true" contentUpdateInteval="60" messageQueue="FormatName:DIRECT=tcp:192.168.0.160\private$\CarStaticContentService">
-->
    <ignoreRoutes>
        <add name="js" expression="/([\w-]+\.)+(css|png|jpeg|gif|jpg|bmp|ico)(/[\w-./?%&amp;=]*)?" />
    </ignoreRoutes>
    <providers>
        <add name="SqlContentProvider" type="BitAuto.Web.Content.SqlContentProvider,BitAuto.Web" compressed="true" debug="true" enableCompress="true" connectionString="data source=192.168.0.173\sql08;initial catalog=WebTester;user id=sa;password=sa;" />
        <add name="FileContentProvider" type="BitAuto.Web.Content.FileContentProvider,BitAuto.Web" compressed="true" debug="true" enableCompress="true" directory="\\192.168.0.40\wwwroot\staticcontent\" />
    </providers>
  <ignorePaths>
    <add path="http://car.bitauto.com/ajaxnew/GetCarByCsID.aspx" />
    <add path="http://car.bitauto.com/ajaxnew/GetCarInfoForCalcTools.aspx" />
    <add path="http://car.bitauto.com/ajaxnew/SelectListForCompare.aspx" />
    <add path="http://car.bitauto.com/ajaxnew/ListForPhotoComparev1.aspx" />
    <add path="http://car.bitauto.com/car/ajaxnew/ListForPhotoComparev1.aspx" />
    <add path="http://car.bitauto.com/car/ajaxnew/ListForPingCeComparev1.aspx" />
    <add path="http://car.bitauto.com/interface/tree/lefttree.js" />
    <add path="http://car.bitauto.com/interface/tree/LeftTreeJs.aspx" />
    <add path="http://car.bitauto.com/interface/tree/SelectCarToXml.aspx" />
    <add path="http://car.bitauto.com/404error.html" />
  </ignorePaths>
  <disableRedirectPaths>
    <add path="http://car.bitauto.com/ajaxnew/" />
    <add path="http://car127.bitauto.com/interface/" />
    <add path="http://car.bitauto.com/interfaceforbitauto/" />
    <add path="http://car.bitauto.com/car/ajaxnew/" />
  </disableRedirectPaths>
</contentConfig>
