<?xml version="1.0" encoding="utf-8"?>

<urlrewritingnet rewriteOnlyVirtualUrls="true" contextItemsPrefix="QueryString" defaultPage="http://Car.bitauto.com"
                 defaultProvider="RegEx" xmlns="http://www.urlrewriting.net/schemas/config/2006/07"
                 changeXmlUrl=""
                 allSpellXmlUrl="http://carser.bitauto.com/forpicmastertoserial/AllSpellMasterToCar.xml"
                 backallSpellXmlFile="E:\wwwroot\Carchannelv2.1\data\AllSpellMasterToCar.xml"
                 otherMatchUrl="http://carser.bitauto.com/forpicmastertoserial/SpecialNecessaryMatch.xml">
  <rewrites>
    <add name="RewriteSerialPingCePage" virtualUrl="^~/([\w-]+)/pingce/p(\d+)/(\d+)"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/PageSerialV2/CsPingCe.aspx?csID=$1&amp;newsid=$2&amp;page=$3&amp;" ignoreCase="true"
         matchType="Serial" />

    <add name="RewriteSerialPingCe" virtualUrl="^~/([\w-]+)/pingce/p(\d+)"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/PageSerialV2/CsPingCe.aspx?csID=$1&amp;newsid=$2&amp;" ignoreCase="true" matchType="Serial" />

    <add name="RewriteSerialYearPingCePage" virtualUrl="^~/([\w-]+)/(\d+)/pingce/p(\d+)/(\d+)"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/PageSerialV2/CsPingCe.aspx?csID=$1&amp;year=$2&amp;newsid=$3&amp;page=$4&amp;"
         ignoreCase="true" matchType="Serial" />

    <add name="RewriteSerialYearPingCe" virtualUrl="^~/([\w-]+)/(\d+)/pingce/p(\d+)"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/PageSerialV2/CsPingCe.aspx?csID=$1&amp;year=$2&amp;newsid=$3&amp;" ignoreCase="true"
         matchType="Serial" />

    <!--默认评测-->
    <add name="RewritePingceContentPage" virtualUrl="^~/([\w-]+)/pingce/(\d+)"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/PageSerialV2/CsPingCe.aspx?csid=$1&amp;page=$2&amp;" ignoreCase="true" matchType="Serial" />

    <add name="RewritePingceContent" virtualUrl="^~/([\w-]+)/pingce" rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/PageSerialV2/CsPingCe.aspx?csid=$1&amp;" ignoreCase="true" matchType="Serial" />

    <add name="RewriteYearPingceContentPage" virtualUrl="^~/([\w-]+)/(\d+)/pingce/(\d+)"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/PageSerialV2/CsPingCe.aspx?csid=$1&amp;year=$2&amp;page=$3&amp;" ignoreCase="true"
         matchType="Serial" />

    <add name="RewriteYearPingceContent" virtualUrl="^~/([\w-]+)/(\d+)/pingce"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/PageSerialV2/CsPingCe.aspx?csid=$1&amp;year=$2&amp;" ignoreCase="true" matchType="Serial" />

    <add name="RewritePaihang" virtualUrl="^~/([\w-]+)/paihang" rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/PageSerialV2/CsCompareRank.aspx?id=$1&amp;" ignoreCase="true" matchType="Serial" />

    <add name="RewritePhotoYear" virtualUrl="^~/([\w-]+)/tupian/(\d+)"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/PageYearV2/carphotobyyear.aspx?csid=$1&amp;year=$2&amp;" ignoreCase="true" matchType="Serial" />

    <add name="RewritePhoto" virtualUrl="^~/([\w-]+)/tupian" rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/PageSerialV2/CsPhoto.aspx?csid=$1&amp;" ignoreCase="true" matchType="Serial" />

    <add name="RewriteCarPhoto" virtualUrl="^~/([\w-]+)/m(\d+)/tupian"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/PageCarV2/CarPhoto.aspx?carID=$2&amp;" ignoreCase="true" matchType="Serial" />

    <add name="RewriteCarPeizhi" virtualUrl="^~/([\w-]+)/m(\d+)/peizhi"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/PageCarV2/CarCompare.aspx?carID=$2&amp;" ignoreCase="true" matchType="Serial" />

    <add name="RewriteSerialCsPeizhiYear" virtualUrl="^~/([\w-]+)/peizhi/(\d+)"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/PageSerialV2/CsCompare.aspx?csID=$1&amp;year=$2&amp;" ignoreCase="true" matchType="Serial" />

    <add name="RewriteSerialPeizhi" virtualUrl="^~/([\w-]+)/peizhi" rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/PageSerialV2/CsCompare.aspx?csID=$1&amp;" ignoreCase="true" matchType="Serial" />

    <!-- 新闻行情页 增加城市 -->
    <add name="RewriteSerialCityNewsPage"
         virtualUrl="^~/([\w-]+)/(xinwen|daogou|hangqing|yongche|shijia|pingce|gaizhuang|keji|wenhua)/([a-zA-Z-]+)/(\d+)"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/PageSerialV2/SerialNews.aspx?id=$1&amp;type=$2&amp;pageIndex=$4&amp;city=$3&amp;"
         ignoreCase="true" matchType="Serial" />

    <add name="RewriteSerialCityNewsPage2"
         virtualUrl="^~/([\w-]+)/(xinwen|daogou|hangqing|yongche|shijia|pingce|gaizhuang|keji|wenhua)/([a-zA-Z-]+)"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/PageSerialV2/SerialNews.aspx?id=$1&amp;type=$2&amp;pageIndex=1&amp;city=$3&amp;"
         ignoreCase="true" matchType="Serial" />
    
    <!-- 新闻行情页 增加城市end -->
    <add name="RewriteSerialPage"
         virtualUrl="^~/([\w-]+)/(wenzhang|xinwen|daogou|hangqing|yongche|shijia|pingce|gaizhuang|anquan|keji|wenhua)/(\d+)"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/PageSerialV2/SerialNews.aspx?id=$1&amp;type=$2&amp;pageIndex=$3&amp;" ignoreCase="true"
         matchType="Serial" />

    <add name="RewriteSerialNews"
         virtualUrl="^~/([\w-]+)/(wenzhang|xinwen|daogou|hangqing|yongche|shijia|pingce|gaizhuang|anquan|keji|wenhua)"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/PageSerialV2/SerialNews.aspx?id=$1&amp;type=$2&amp;" ignoreCase="true" matchType="Serial" />

    <add name="RewriteCar" virtualUrl="^~/([\w-]+)/m(\d+)" rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/PageCarV2/CarSummary.aspx?carid=$2&amp;" ignoreCase="true" matchType="Serial" />

    <add name="RewriteLevelCityPaihang" virtualUrl="^~/(\w+)/paihang/(\w+)"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/PageLevelV2/LevelPaihang.aspx?level=$1&amp;city=$2&amp;" ignoreCase="true" matchType="Level" />

    <add name="RewriteLevelPaihang" virtualUrl="^~/(\w+)/paihang" rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/PageLevelV2/LevelPaihang.aspx?level=$1&amp;" ignoreCase="true" matchType="Level" />

    <add name="RewriteMasterNewsPage" virtualUrl="^~/([\w-]+)/(wenzhang|xinwen|hangqing|daogou|pingce|yongche|keji|wenhua)/(\d+)"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/PageMasterV2/CarMasterBrandPageNews.aspx?id=$1&amp;type=$2&amp;page=$3&amp;" ignoreCase="true"
         matchType="Master" />

    <add name="RewriteMasterNews" virtualUrl="^~/([\w-]+)/(wenzhang|xinwen|hangqing|daogou|pingce|yongche|keji|wenhua)"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/PageMasterV2/CarMasterBrandPageNews.aspx?id=$1&amp;type=$2&amp;" ignoreCase="true"
         matchType="Master" />

    <add name="RewriteMaster" virtualUrl="^~/([\w-]+)" rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/PageMasterV2/CarMasterPage.aspx?bsid=$1&amp;" ignoreCase="true" matchType="Master" />

    <add name="RewriteBrandNewsPage" virtualUrl="^~/([\w-]+)/(wenzhang|xinwen|hangqing|daogou|pingce|yongche|keji|wenhua)/(\d+)"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/PageBrandV2/CarBrandPageNews.aspx?id=$1&amp;type=$2&amp;page=$3&amp;" ignoreCase="true"
         matchType="Brand" />

    <add name="RewriteBrandNews" virtualUrl="^~/([\w-]+)/(wenzhang|xinwen|hangqing|daogou|pingce|yongche|keji|wenhua)"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/PageBrandV2/CarBrandPageNews.aspx?id=$1&amp;type=$2&amp;" ignoreCase="true" matchType="Brand" />

    <add name="RewriteBrand" virtualUrl="^~/([\w-]+)" rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/PageBrandV2/CarBrandPage.aspx?cbid=$1&amp;" ignoreCase="true" matchType="Brand" />

    <add name="RewriteSerialYearNewsPage"
         virtualUrl="^~/([\w-]+)/(\d+)/(wenzhang|xinwen|daogou|hangqing|yongche|shijia|pingce|anquan|keji|wenhua)/(\d+)"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/PageYearV2/SerialYearNews.aspx?id=$1&amp;type=$3&amp;pageIndex=$4&amp;year=$2&amp;"
         ignoreCase="true" matchType="Serial" />

    <add name="RewriteSerialYearNews"
         virtualUrl="^~/([\w-]+)/(\d+)/(wenzhang|xinwen|daogou|hangqing|yongche|shijia|pingce|anquan|keji|wenhua)"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/PageYearV2/SerialYearNews.aspx?id=$1&amp;type=$3&amp;year=$2&amp;" ignoreCase="true"
         matchType="Serial" />

    <add name="RewriteSerialYear" virtualUrl="^~/([\w-]+)/(\d+)" rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/PageYearV2/CsSummaryYear.aspx?ID=$1&amp;year=$2&amp;" ignoreCase="true" matchType="Serial" />

    <!-- 新版子品牌综述页测试 -->
    <add name="RewriteSerialForTest" virtualUrl="^~/([\w-]+)" rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/PageSerialV2/CsSummary.aspx?ID=$1&amp;" ignoreCase="true" matchType="Test" />

    <!-- 待销子品牌 独立子品牌综述页 add by chengl Mar.6.2012 -->
    <add name="RewriteSerialForWaitSale" virtualUrl="^~/([\w-]+)" rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/PageSerialV2/CsSummaryForWaitSale.aspx?ID=$1&amp;" ignoreCase="true"
         matchType="SerialForWaitSale" />

    <add name="RewriteSerial" virtualUrl="^~/([\w-]+)" rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/PageSerialV2/CsSummary.aspx?ID=$1&amp;" ignoreCase="true" matchType="Serial" />
  </rewrites>
</urlrewritingnet>