.mbrand{
	height: 41px;
	width: 950px;
	background: url(../images/ka_bg_mbrand1.png) no-repeat 0 0;
	margin: 0 auto 10px;
}
.mbrand .l {
	background:url(../images/ka_bg_mbrand2.png) repeat-x  50% 100% ;
	display:inline;
	float:left;
	height:39px;
	margin-left:20px;
	margin-top: 1px;
	padding-left: 10px;
}
.mbrand .l img{
	display:inline;
	float:left;
	margin:5px 0 0;
}

.mbrand h1 {
	background:url(../images/ka_bg_mbrand2.png) repeat-x  50% 100% ;
	display:inline;
	float:left;
	font-size:14px;
	font-weight:bold;
	line-height:39px;
	padding:0 10px 0 10px;
	margin-top: 1px;
}
.mbrand .column{
	float: right;
	height:41px;
	line-height: 41px;
	color: Black;
	font-size: 14px;
	padding-right: 15px;
}
.mbrand .column span{
	padding: 0 5px;
	font-weight: bold;
}

/* 主品牌新闻头 */
.ka_h278{ height: 278px; }


/* 模块 21 */
.ka_brand{ }
.ka_brand dl{
	height: 511px
}
.ka_brand dd{
	float: left;
}
.ka_brand .b { padding-bottom: 10px; width: 159px; height: 501px; border-right: 1px solid #cccccc;}
.ka_brand .brand { background: url("http://image.bitautoimg.com/uimg/carlogo/logo20100407.png") no-repeat scroll 0 0 transparent; border: 1px solid #CCCCCC; cursor: pointer; display: inline; float: left; height: 55px; margin: 42px 52px 5px; overflow: hidden; padding: 0; width: 55px; }
.ka_brand .m_100_b { background-position: -5445px 0; }
.ka_brand .m_101_b { background-position: -5500px 0; }
.ka_brand .m_102_b { background-position: -5555px 0; }
.ka_brand .m_103_b { background-position: -5610px 0; }
.ka_brand .m_104_b { background-position: -5665px 0; }
.ka_brand .m_105_b { background-position: -5720px 0; }
.ka_brand .m_106_b { background-position: -5775px 0; }
.ka_brand .m_107_b { background-position: -5830px 0; }
.ka_brand .m_108_b { background-position: -5885px 0; }
.ka_brand .m_109_b { background-position: -5940px 0; }
.ka_brand .m_10_b { background-position: -495px 0; }
.ka_brand .m_110_b { background-position: -5995px 0; }
.ka_brand .m_111_b { background-position: -6050px 0; }
.ka_brand .m_112_b { background-position: -6105px 0; }
.ka_brand .m_113_b { background-position: -6160px 0; }
.ka_brand .m_114_b { background-position: -6215px 0; }
.ka_brand .m_115_b { background-position: -6270px 0; }
.ka_brand .m_116_b { background-position: -6325px 0; }
.ka_brand .m_119_b { background-position: -6490px 0; }
.ka_brand .m_123_b { background-position: -6710px 0; }
.ka_brand .m_124_b { background-position: -6765px 0; }
.ka_brand .m_126_b { background-position: -6875px 0; }
.ka_brand .m_127_b { background-position: -6930px 0; }
.ka_brand .m_128_b { background-position: -6985px 0; }
.ka_brand .m_129_b { background-position: -7040px 0; }
.ka_brand .m_12_b { background-position: -605px 0; }
.ka_brand .m_133_b { background-position: -7260px 0; }
.ka_brand .m_134_b { background-position: -7315px 0; }
.ka_brand .m_135_b { background-position: -7370px 0; }
.ka_brand .m_136_b { background-position: -7425px 0; }
.ka_brand .m_137_b { background-position: -7480px 0; }
.ka_brand .m_138_b { background-position: -7535px 0; }
.ka_brand .m_13_b { background-position: -660px 0; }
.ka_brand .m_140_b { background-position: -7645px 0; }
.ka_brand .m_141_b { background-position: -7700px 0; }
.ka_brand .m_142_b { background-position: -7755px 0; }
.ka_brand .m_143_b { background-position: -7810px 0; }
.ka_brand .m_144_b { background-position: -7865px 0; }
.ka_brand .m_145_b { background-position: -7920px 0; }
.ka_brand .m_146_b { background-position: -7975px 0; }
.ka_brand .m_147_b { background-position: -8030px 0; }
.ka_brand .m_14_b { background-position: -715px 0; }
.ka_brand .m_15_b { background-position: -770px 0; }
.ka_brand .m_16_b { background-position: -825px 0; }
.ka_brand .m_17_b { background-position: -880px 0; }
.ka_brand .m_18_b { background-position: -935px 0; }
.ka_brand .m_19_b { background-position: -990px 0; }
.ka_brand .m_20_b { background-position: -1045px 0; }
.ka_brand .m_21_b { background-position: -1100px 0; }
.ka_brand .m_23_b { background-position: -1210px 0; }
.ka_brand .m_24_b { background-position: -1265px 0; }
.ka_brand .m_25_b { background-position: -1320px 0; }
.ka_brand .m_26_b { background-position: -1375px 0; }
.ka_brand .m_27_b { background-position: -1430px 0; }
.ka_brand .m_28_b { background-position: -1485px 0; }
.ka_brand .m_29_b { background-position: -1540px 0; }
.ka_brand .m_2_b { background-position: -55px 0; }
.ka_brand .m_30_b { background-position: -1595px 0; }
.ka_brand .m_31_b { background-position: -1650px 0; }
.ka_brand .m_32_b { background-position: -1705px 0; }
.ka_brand .m_33_b { background-position: -1760px 0; }
.ka_brand .m_34_b { background-position: -1815px 0; }
.ka_brand .m_35_b { background-position: -1870px 0; }
.ka_brand .m_36_b { background-position: -1925px 0; }
.ka_brand .m_37_b { background-position: -1980px 0; }
.ka_brand .m_38_b { background-position: -2035px 0; }
.ka_brand .m_39_b { background-position: -2090px 0; }
.ka_brand .m_3_b { background-position: -110px 0; }
.ka_brand .m_40_b { background-position: -2145px 0; }
.ka_brand .m_41_b { background-position: -2200px 0; }
.ka_brand .m_42_b { background-position: -2255px 0; }
.ka_brand .m_43_b { background-position: -2310px 0; }
.ka_brand .m_44_b { background-position: -2365px 0; }
.ka_brand .m_45_b { background-position: -2420px 0; }
.ka_brand .m_47_b { background-position: -2530px 0; }
.ka_brand .m_48_b { background-position: -2585px 0; }
.ka_brand .m_49_b { background-position: -2640px 0; }
.ka_brand .m_4_b { background-position: -165px 0; }
.ka_brand .m_50_b { background-position: -2695px 0; }
.ka_brand .m_51_b { background-position: -2750px 0; }
.ka_brand .m_52_b { background-position: -2805px 0; }
.ka_brand .m_53_b { background-position: -2860px 0; }
.ka_brand .m_54_b { background-position: -2915px 0; }
.ka_brand .m_55_b { background-position: -2970px 0; }
.ka_brand .m_56_b { background-position: -3025px 0; }
.ka_brand .m_57_b { background-position: -3080px 0; }
.ka_brand .m_58_b { background-position: -3135px 0; }
.ka_brand .m_59_b { background-position: -3190px 0; }
.ka_brand .m_5_b { background-position: -220px 0; }
.ka_brand .m_60_b { background-position: -3245px 0; }
.ka_brand .m_61_b { background-position: -3300px 0; }
.ka_brand .m_62_b { background-position: -3355px 0; }
.ka_brand .m_63_b { background-position: -3410px 0; }
.ka_brand .m_64_b { background-position: -3465px 0; }
.ka_brand .m_65_b { background-position: -3520px 0; }
.ka_brand .m_66_b { background-position: -3575px 0; }
.ka_brand .m_67_b { background-position: -3630px 0; }
.ka_brand .m_68_b { background-position: -3685px 0; }
.ka_brand .m_69_b { background-position: -3740px 0; }
.ka_brand .m_6_b { background-position: -275px 0; }
.ka_brand .m_70_b { background-position: -3795px 0; }
.ka_brand .m_71_b { background-position: -3850px 0; }
.ka_brand .m_72_b { background-position: -3905px 0; }
.ka_brand .m_73_b { background-position: -3960px 0; }
.ka_brand .m_74_b { background-position: -4015px 0; }
.ka_brand .m_75_b { background-position: -4070px 0; }
.ka_brand .m_76_b { background-position: -4125px 0; }
.ka_brand .m_77_b { background-position: -4180px 0; }
.ka_brand .m_78_b { background-position: -4235px 0; }
.ka_brand .m_79_b { background-position: -4290px 0; }
.ka_brand .m_7_b { background-position: -330px 0; }
.ka_brand .m_80_b { background-position: -4345px 0; }
.ka_brand .m_81_b { background-position: -4400px 0; }
.ka_brand .m_82_b { background-position: -4455px 0; }
.ka_brand .m_83_b { background-position: -4510px 0; }
.ka_brand .m_84_b { background-position: -4565px 0; }
.ka_brand .m_85_b { background-position: -4620px 0; }
.ka_brand .m_86_b { background-position: -4675px 0; }
.ka_brand .m_87_b { background-position: -4730px 0; }
.ka_brand .m_88_b { background-position: -4785px 0; }
.ka_brand .m_89_b { background-position: -4840px 0; }
.ka_brand .m_8_b { background-position: -385px 0; }
.ka_brand .m_90_b { background-position: -4895px 0; }
.ka_brand .m_91_b { background-position: -4950px 0; }
.ka_brand .m_92_b { background-position: -5005px 0; }
.ka_brand .m_93_b { background-position: -5060px 0; }
.ka_brand .m_94_b { background-position: -5115px 0; }
.ka_brand .m_95_b { background-position: -5170px 0; }
.ka_brand .m_96_b { background-position: -5225px 0; }
.ka_brand .m_97_b { background-position: -5280px 0; }
.ka_brand .m_98_b { background-position: -5335px 0; }
.ka_brand .m_99_b { background-position: -5390px 0; }
.ka_brand .m_9_b { background-position: -440px 0; }
.ka_brand .m_148_b { background-position: -8085px 0; }
.ka_brand .m_149_b { background-position: -8140px 0; }
.ka_brand .m_150_b { background-position: -8195px 0; }
.ka_brand .names{ height: 22px; font-weight: bold; text-align: center; color: #333; font-size: 14px; }
.ka_brand .have { padding: 8px 0 0 10px; width: 770px; }
.ka_brand .line_fg {
	clear: both;
	font-size: 0px;
	height: 10px;
	background:url("http://www.bitauto.com/themes/2009/common/images/icon_s_dot.png") repeat-x scroll 0 30% 
}
.ka_brand .brandcatena h4{
	height: 24px;
	line-height: 24px;
	font-size: 14px;
	font-weight: bold;
}
.ka_brand .brandcatena ul{
	display:block;
	padding:0 4px;
}
.ka_brand .brandcatena  li{
	color:#CCCCCC;
	float:left;
	padding:6px 0 10px 0;
	text-align:center;
	width:188px;
}
.ka_brand .brandcatena  li img{
	border: 1px solid #ccc
}
.ka_brand .brandcatena  li p{
	width: 150px;
	margin:0 auto;
	height:21px;
	line-height:21px;
}
.ka_brand .brandcatena  li p.btm{
	margin-bottom:6px; 
	padding-bottom: 2px;
	border-bottom: 1px solid #E6E6E6;
}
.ka_brand .brandcatena  li p.name{
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	font-weight: bold;
}
.ka_brand .brandcatena  li p.other a:link,.ka_brand .brandcatena  li p.other a:visited{
	color: #666666;
}
.ka_brand .brandcatena  li p.vote a {
	background:url("../images/p_bg-btn2.gif") repeat scroll 0 0 transparent;
	color:#FFFFFF;
	display:block;
	font-weight:bold;
	margin:7px auto 0;
	width:39px;
	padding: 0
}






/* 模块 22 */
.ka_dealer_logo { padding: 1px 1px 14px 10px; }
.ka_dealer_logo li { float: left; font-size: 12px; height: 85px; padding: 15px 0 0; position: relative; text-align: center; width: 102px; }
.ka_dealer_logo li img { border: 1px solid #999999; margin: 0 auto; }
.ka_dealer_logo li a:link, .ka_dealer_logo li a:visited { color: #333333; }
/* 模块 23 */
.ka_letter h3 span small{ font-size: 12px; color: #333333; font-style: normal; font-weight: normal; }
.ka_letter .ka_azbox { background: url("../images/ka_azbox.png") repeat-x scroll -1px 0 transparent; height: 119px; overflow: hidden; padding-left: 12px}
.ka_letter .ka_azbox dt,.ka_letter .ka_azbox dd { display: inline; line-height: 30px; overflow: hidden; }
.ka_letter .ka_azbox dt b { background: url("../images/ka_azico.png") no-repeat  0 0; color: #FFFFFF; display: inline-block; font-size: 15px; line-height: 29px; height: 29px; *height: 30px; text-align: center; width: 31px;}
.ka_letter .ka_azbox dd { padding: 0 3px; }
.ka_letter .ka_azbox dd a { line-height: 30px; margin-top: -3px; text-decoration: underline !important; white-space: nowrap; }
.ka_letter .ka_azbox dt b.ml1 { margin-left: -1px; }
.ka_letter .ka_azbox dd a.ff { padding-left: 10px; white-space: nowrap; }
.ka_letter .ka_azbox dd a.ie { margin-left: 0; white-space: nowrap; }
.ka_letter .ka_azbox dd a.iee { margin-right: 40px; }







