<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" /> 
    <title>【电动汽车_电动车导购_电动汽车价格_电动汽车排名】-易车网</title>
    <meta name="keywords" content="电动汽车,电动汽车导购,易车网">
    <meta name="description" content="电动汽车:易车网电动汽车频道为您提供全国电动汽车市场的电动汽车经销商最新报价,电动汽车品牌大全,电动车价格,电动车排名,评测内容等,更多电动车信息尽在易车网。">   
    <!--#include file="/ushtml/0000/2017m_yidongzhan_xinnengyuanpindao-1531.shtml"-->
</head>
<body> 
    <!-- header start -->
    <div class="op-nav">
        <a id="gobackElm" href="javascript:;" class="btn-return">返回</a>
        <div class="tt-name">
            <a href="http://m.yiche.com/" class="yiche-logo">首页</a><h1>选车</h1>
        </div>
        <!--#include file="/include/pd/2016/wap/00001/201607_wap_common_ejdht_Manual.shtml"-->
    </div> 

    <div class="op-nav-mark" style="display: none;"></div>
    <!-- header end -->
    <!-- 选车 start -->
    <div class="xc-car-box">

        <!--价格 start -->
        <div class="tt-small">
            <span>价格</span>
        </div>
        <div class="ruler">
            <ul class="line" data-width="1">
                <li></li>
                <li><span>10</span></li>
                <li><span>20</span></li>
                <li><span>30</span></li>
                <li><span>40</span></li>
                <li><span>50</span></li>
                <li><span>60</span></li>
                <li><span>70</span></li>
                <li><span>80</span></li>
                <li><span>90</span></li>
            </ul>
            <div class="sliderbar" data-min="0" data-max="100">
                <div class="line-float max-line current" data-index="100" data-bar="2">
                    <div id="max-dot" class="dot max-dot"><span>不限</span></div>
                </div>
                <div class="line-float min-line current" data-index="0" data-bar="1">
                    <div id="min-dot" class="dot min-dot"><span>0</span></div>
                </div>
                <div class="dot touch-dot" style="display: none;">0</div>
            </div>
        </div>
        <!--价格  end-->
        <!-- 动力类型 start  -->
        <div class="tt-small">
            <span>动力类型</span>
        </div>
        <div class="sort sort4">
            <ul>
                <li><a t="f_16"  class="">纯电</a></li>
                <li><a t="f_128" >插电混动</a></li>

            </ul>
        </div>

        <!-- 动力类型 end  -->
        <!-- 续航里程 start  -->
        <div class="tt-small">
            <span>续航里程</span>
        </div>
        <div class="sort sort4">
            <ul>
                <li><a t="bl_0-100"  >100km以下</a></li>
                <li><a t="bl_100-200" >100-200km</a></li>
                <li><a t="bl_200-300"  >200-300km</a></li> 
                <li><a t="bl_300-400" >300-400km</a></li> 
                <li><a t="bl_400-500" >400-500km</a></li>
                <li><a t="bl_500-9999" >500km以上</a></li>

            </ul>
        </div>


        <!-- 续航里程 end  -->
        <!-- 充电时间 start  -->
        <div class="tt-small">
            <span>充电时间</span>
        </div>
        <div class="sort sort4">
            <ul>
                <li><a t="ct_0-6"  class="">6小时以内</a></li>
                <li><a t="ct_6-8" >6-8小时</a></li>
                <li><a t="ct_8-12" >8-12小时</a></li> 
                <li><a t="ct_12-999"  >12小时以上</a></li>

            </ul>
        </div>


        <!-- 充电时间 end  -->
        <!-- 国别 start  -->
        <div class="tt-small">
            <span>国别</span>
        </div>
        <div class="sort sort4">
            <ul>
                <li><a t="g_1"  class="">自主</a></li>
                <li><a t="g_2" >合资</a></li>
                <li><a t="g_4" >进口</a></li>
            </ul>
        </div>


        <!-- 国别 end  -->
        <!-- 车身形式 start  -->
        <div class="tt-small">
            <span>车身形式</span>
        </div>
        <div class="sort sort4">
            <ul>
                <li><a t="b_1"  class="">两厢</a></li>
                <li><a t="b_2" >三厢</a></li>
                <li><a t="b_64" >SUV</a></li>
            </ul>
        </div>

        <br />
        <!-- 车身形式 end  -->
        <!-- 选车按钮 start  -->
        <div class="btn-warp-box">
            <a  id="clearSelected" class="ljt-btn ljt-current"></a>
            <a  id="selectResult" class="car-btn car-current">有0款车型符合条件</a>
        </div>
        @*<div class="btn-warp-box">
                <a href="###" class="ljt-btn ljt-current"></a>
                <a href="###" class="car-btn">有28款车型符合条件</a>
            </div>
            <div class="btn-warp-box">
                <a href="###" class="ljt-btn"></a>
                <a href="###" class="car-btn car-current">有28款车型符合条件</a>
            </div>*@


        <!-- 选车按钮 end  -->

    </div>

    <!-- 选车 end  -->


    <script type="text/javascript">
        var url = "http://m.yiche.com/";
        $(function () {//没有电脑版，临时处理
            var linktopc = $("#a_linkToPcPage");
            $(linktopc).hide().next().hide();
        });
    </script>

    <div class="footer15">
        <!--搜索框-->
        @Html.Partial("~/html/footersearch.cshtml")
        <div class="breadcrumb">
            <div class="breadcrumb-box">
                <a href="http://m.yiche.com/">首页</a> &gt; <span>选车</span>
            </div>
        </div>
        @Html.Partial("~/html/footerV3.cshtml")
    </div>
    <div class="float-r-box">
        <!--#include file="/include/pd/2014/wapCommon/00001/201511_wap_common_ycfd_Manual.shtml"-->
    </div>
    <script type="text/javascript" src="http://image.bitautoimg.com/carchannel/WirelessJsv2/CommonJs.js?v=20130606"> </script>
    <script type="text/javascript" src="http://js.inc.baa.bitautotech.com/c/c.js?s=ibt_userCars"> </script>

    <script type="text/javascript" src="http://image.bitautoimg.com/mergejs,s=carchannel/wirelessjsv2/v2/model.min.js,carchannel/wirelessjsv2/v2/swiper-3.3.1.min.js?v=201711100907"></script>
    
    <script src="http://image.bitautoimg.com/carchannel/wirelessjsv2/elec/selectcar.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () { 
            selectElecCar.bindEvent();
            selectElecCar.BindclearSelectedCar(); 
            selectElecCar.selectCar(selectElecCar);
        });
    </script>
    <script type="text/javascript" src="http://image.bitautoimg.com/carchannel/wirelessjsv2/elec/scrollbarX.min.js"></script>
    <script type="text/javascript" src="http://image.bitautoimg.com/carchannel/wirelessjsv2/elec/price.min.js"></script>
</body>
</html>
