<?xml version="1.0" encoding="utf-8"?>
<!-- config section for my http module -->
<!--
			Here's an example on how to change the algorithm or compression level
			
      <compressionModule preferredAlgorithm="deflate|gzip" compressionLevel="high|normal|low"/>
			
			so, to use deflate by default, and high compression, you would use the following line
			-->
<httpCompress preferredAlgorithm="gzip" compressionLevel="high">
	<excludedMimeTypes>
		<add type="image/jpeg"/>
		<add type="image/png"/>
		<add type="image/gif"/>
	</excludedMimeTypes>
	<excludedPaths>
		<add path="unittest.aspx"/>
	</excludedPaths>
</httpCompress>
