<?xml version="1.0" encoding="utf-8" ?>
<Root>
	<Channel name="koubei">
		<Car>
			<CarParamList>425,423,785,430,655,658,669,667,712,436,578,665,783,784,782</CarParamList>
		</Car>
	</Channel>
    <Channel name="askrobot">
    <!-- 答疑机器人 -->
        <Car>
            <CarParamList>786,787,788,789,790,857,858,859,860,861</CarParamList>
        </Car>
    </Channel>
</Root>
