<?xml version="1.0" encoding="utf-8" ?>
<ParameterConfigurationList>
	<Parameter Name="参数" Type="1">
		<ParameterList Name="基本信息" Type="2">
			<Item Value="Car_RepairPolicy" Name="保修政策" ParamID="398" Unit="" />
			<Item Value="Car_Traveltaxrelief" Name="车船税减免" ParamID="895" Unit="" />
      <Item Value="Purchase_Taxrelief" Name="购置税减免" ParamID="986" Unit="" />
			<Item Value="Engine_ExhaustForFloat" Name="排量（升）" ParamID="785" Unit="L" />
			<!--<Item Value="UnderPan_ForwardGearNum" Name="变速器型式" ParamID="724" Unit="" />
			<Item Value="UnderPan_TransmissionType" Name="变速器型式" ParamID="712" Unit="" />-->
			<Item Value="UnderPan_ForwardGearNum,UnderPan_TransmissionType" Name="变速箱" ParamID="724,712" Unit="挡," />
			<Item Value="Perf_ShiQuYouHao" Name="市区工况油耗" ParamID="783" Unit="L" />
			<Item Value="Perf_ShiJiaoYouHao" Name="市郊工况油耗" ParamID="784" Unit="L" />
			<Item Value="Perf_ZongHeYouHao" Name="综合工况油耗" ParamID="782" Unit="L" />
			<Item Value="Perf_FuelCostPer100" Name="百公里等速油耗" ParamID="658" Unit="L" />
			<Item Value="Perf_MeasuredFuel" Name="油耗" ParamID="788" Unit="L" />
			<Item Value="Perf_AccelerateTime" Name="加速时间" ParamID="650" Unit="s" />
			<Item Value="Perf_MeasuredAcceleration" Name="加速时间(0—100km/h)" ParamID="786" Unit="s" />
			<Item Value="Perf_MaxSpeed" Name="最高车速" ParamID="663" Unit="km/h" />
			<!--<Item Value="Perf_SeatNum" Name="乘员人数（含司机）" ParamID="665" Unit="人" />-->
      <Item Value="Perf_Seatscope" Name="乘员人数（区间）" ParamID="951" Unit="人" />
      <Item Value="Car_EnergySubsidy" Name="节能补贴" ParamID="853" Unit="" />
      <Item Value="new_energy_subsidies" Name="新能源汽车国家补贴" ParamID="997" Unit="万元" />
		</ParameterList>
		<ParameterList Name="车体" Type="2">
			<Item Value="OutStat_BodyColor" Name="车身颜色" ParamID="598" Unit="" />
			<Item Value="OutSet_Length" Name="长" ParamID="588" Unit="mm" />
			<Item Value="OutSet_Width" Name="宽" ParamID="593" Unit="mm" />
			<Item Value="OutSet_Height" Name="高" ParamID="586" Unit="mm" />
			<Item Value="OutSet_WheelBase" Name="轴距" ParamID="592" Unit="mm" />
			<Item Value="OutSet_FrontTread" Name="前轮距" ParamID="585" Unit="mm" />
			<Item Value="OutSet_BackTread" Name="后轮距" ParamID="582" Unit="mm" />
			<Item Value="Perf_Weight" Name="整备质量" ParamID="669" Unit="kg" />
			<Item Value="Perf_TotalWeight" Name="满载质量" ParamID="668" Unit="kg" />
			<Item Value="OutSet_MinGapFromEarth" Name="最小离地间隙" ParamID="589" Unit="mm" />
			<Item Value="Perf_MaxPaddleDepth" Name="最大涉水深度" ParamID="662" Unit="mm" />
			<Item Value="OutSet_NearCorner" Name="接近角" ParamID="591" Unit="°" />
			<Item Value="Perf_Throughtheangle" Name="通过角" ParamID="890" Unit="°" />
			<Item Value="OutSet_AwayCorner" Name="离去角" ParamID="581" Unit="°" />
			<Item Value="Inset_TrunkCapacity" Name="行李厢容积" ParamID="465" Unit="L" />
			<Item Value="Inset_TrunkCapacityE" Name="行李厢最大拓展容积" ParamID="466" Unit="L" />
			<Item Value="InStat_TrunkType" Name="行李厢盖开合方式" ParamID="556" Unit="" />
			<Item Value="Inset_BackUpOpenType" Name="行李厢打开方式" ParamID="441" Unit="" />
			<Item Value="Body_Doors" Name="车门数" ParamID="563" Unit="" />
			<Item Value="Body_TipType" Name="车顶型式" ParamID="573" Unit="" />
			<Item Value="Body_sailType" Name="车篷型式" ParamID="570" Unit="" />
      <Item Value="Body_CalashOCType" Name="车篷开合方式" ParamID="562" Unit="" />
			<Item Value="OutStat_TopSnelf" Name="车顶行李箱架" ParamID="627" Unit="" />
			<Item Value="OutStat_InductEmpennage" Name="后导流尾翼" ParamID="616" Unit="" />
			<Item Value="OutStat_Besiege" Name="运动包围" ParamID="597" Unit="" />
			<Item Value="Perf_WindBlock" Name="风阻系数" ParamID="670" Unit="Cd" />
      <Item Value="OutStat_SportsAppearanceKit" Name="运动外观套件" ParamID="793" Unit="" />
      <Item Value="Induction_trunk" Name="感应行李厢" ParamID="990" Unit="" />
		</ParameterList>
		<ParameterList Name="发动机" Type="2">
			<Item Value="Engine_Location" Name="发动机位置" ParamID="428" Unit="" />
			<Item Value="Engine_Type" Name="发动机型号" ParamID="436" Unit="" />
			<Item Value="Engine_ExhaustForFloat" Name="排量（升）" ParamID="785" Unit="L" />
			<Item Value="Engine_Exhaust" Name="排量" ParamID="423" Unit="mL" />
			<!--<Item Value="Engine_InhaleType" Name="进气型式" ParamID="425" Unit="" />
			<Item Value="Engine_AddPressType" Name="增压方式" ParamID="408" Unit="" />-->
			<Item Value="Engine_InhaleType,Engine_AddPressType" Name="进气形式" ParamID="425,408" Unit="," />
			<Item Value="Engine_CylinderRank" Name="气缸排列型式" ParamID="418" Unit="" />
			<Item Value="Engine_CylinderNum" Name="汽缸数" ParamID="417" Unit="个" />
			<Item Value="Engine_ValvePerCylinder" Name="每缸气门数" ParamID="437" Unit="个" />
			<Item Value="Engine_Camshaft" Name="气门结构" ParamID="410" Unit="" />
			<Item Value="Engine_CompressRat" Name="压缩比" ParamID="414" Unit=":1" />
			<Item Value="Engine_CylinderDM" Name="缸径" ParamID="415" Unit="mm" />
			<Item Value="Engine_Route" Name="行程" ParamID="434" Unit="mm" />
			<Item Value="Engine_horsepower" Name="最大马力" ParamID="791" Unit="Ps" />
			<Item Value="Engine_MaxPower" Name="最大功率-功率值" ParamID="430" Unit="kW" />
			<Item Value="Engine_PowerSpeed" Name="最大功率-转速" ParamID="433" Unit="r/min(rpm)" />
			<Item Value="Engine_MaxNJ" Name="最大扭矩-扭矩值" ParamID="429" Unit="Nm" />
			<Item Value="Engine_NJSpeed" Name="最大扭矩—转速" ParamID="432" Unit="r/min(rpm)" />
			<Item Value="Engine_SpTech" Name="特有技术" ParamID="435" Unit="" />
			<Item Value="Oil_FuelType" Name="燃料类型" ParamID="578" Unit="" />
			<!--<Item Value="Oil_FuelTab" Name="燃油标号" ParamID="577" Unit="" />-->
			<Item Value="Oil_SupplyType" Name="供油方式" ParamID="580" Unit="" />
			<Item Value="Oil_FuelCapacity" Name="燃油箱容积" ParamID="576" Unit="L" />
			<Item Value="Engine_CylinderTMaterial" Name="缸盖材料" ParamID="419" Unit="" />
			<Item Value="Engine_CylinderMaterial" Name="缸体材料" ParamID="416" Unit="" />
			<Item Value="Engine_EnvirStandard" Name="环保标准" ParamID="421" Unit="" />
			<Item Value="UnderPan_Startandstopsystem" Name="启停系统" ParamID="894" Unit="" />
			<Item Value="Electric_Maximumpowerspeed" Name="电机最大功率-转速" ParamID="871" Unit="" />
			<Item Value="Maximummotortorquespeed" Name="电机最大扭矩-转速" ParamID="873" Unit="" />
      <Item Value="new_energy_type" Name="新能源类型" ParamID="998" Unit="" />
		</ParameterList>
		<ParameterList Name="电池/电动机" Type="2">
			<Item Value="Electric_Peakpower" Name="电机最大功率" ParamID="870" Unit="kW" />
			<Item Value="Electric_maximumtorque" Name="电机最大扭矩" ParamID="872" Unit="Nm" />
			<Item Value="Electric_systemvoltage" Name="系统电压" ParamID="874" Unit="V" />
			<Item Value="Electric_RatedPower" Name="电机额定功率" ParamID="869" Unit="kW" />
			<Item Value="Electric_Motortype" Name="电机类型" ParamID="866" Unit="" />
      <Item Value="Electric_number" Name="电机数量" ParamID="983" Unit="" />
      <Item Value="Electric_position" Name="电机位置" ParamID="984" Unit="" />
			<Item Value="Electric_Normalchargingtime" Name="普通充电时间" ParamID="879" Unit="分钟" />
			<Item Value="Electric_Fast-chargetime" Name="快速充电时间" ParamID="878" Unit="分钟" />
			<Item Value="Electric_Batteryvoltage" Name="电池电压" ParamID="877" Unit="V" />
			<Item Value="Electric_Batterycapacity" Name="电池容量" ParamID="876" Unit="kW·h" />
			<Item Value="Electric_BatteryType" Name="电池类型" ParamID="875" Unit="" />
			<Item Value="Electric_Powerconsumption" Name="百公里耗电量" ParamID="868" Unit="kW" />
			<Item Value="Electric_mustMileageconstant" Name="纯电最高续航里程" ParamID="883" Unit="km" />
      <Item Value="chongdianfangshi" Name="充电方式" ParamID="954" Unit="" />
		</ParameterList>
		<ParameterList Name="变速箱" Type="2">
			<!--<Item Value="UnderPan_TransmissionType" Name="变速器型式" ParamID="712" Unit="" />
			<Item Value="UnderPan_ForwardGearNum" Name="前进档数" ParamID="724" Unit="" />-->
			<Item Value="UnderPan_ForwardGearNum,UnderPan_TransmissionType" Name="变速箱" ParamID="724,712" Unit="挡," />
			<Item Value="InStat_SteerEtc" Name="换档拨片" ParamID="547" Unit="" />
			<Item Value="InStat_EFileBar" Name="电子档杆" ParamID="844" Unit="" />
		</ParameterList>
		<ParameterList Name="底盘制动" Type="2">
			<Item Value="Body_Struc" Name="车体结构" ParamID="572" Unit="" />
			<Item Value="OutSet_MinWheelRadius" Name="最小转弯半径" ParamID="590" Unit="m" />
			<Item Value="UnderPan_DriveAsistTurn" Name="转向助力" ParamID="735" Unit="" />
			<Item Value="UnderPan_FrontBrakeType" Name="前制动类型" ParamID="726" Unit="" />
			<Item Value="UnderPan_RearBrakeType" Name="后制动类型" ParamID="718" Unit="" />
			<Item Value="UnderPan_ParkingBrake" Name="手刹类型" ParamID="716" Unit="" />
			<Item Value="Perf_DriveType" Name="驱动方式" ParamID="655" Unit="" />
			<Item Value="UnderPan_Airmatic" Name="空气悬挂" ParamID="814" Unit="" />
			<Item Value="UnderPan_SuspensionHeightControl" Name="可调悬挂" ParamID="708" Unit="" />
			<Item Value="UnderPan_FrontSuspensionType" Name="前悬挂类型" ParamID="728" Unit="" />
			<Item Value="UnderPan_RearSuspensionType" Name="后悬挂类型" ParamID="720" Unit="" />
			<Item Value="UnderPan_CentralDiffLock" Name="中央差速器锁" ParamID="733" Unit="" />
		</ParameterList>
		<ParameterList Name="安全配置" Type="2">
			<Item Value="Safe_DriverGasBag" Name="驾驶位安全气囊" ParamID="682" Unit="" />
			<Item Value="Safe_SubDriverGasBag" Name="副驾驶位安全气囊" ParamID="697" Unit="" />
			<Item Value="Safe_FsadGasbag" Name="前排侧安全气囊" ParamID="691" Unit="" />
			<Item Value="Safe_FheadGasbag" Name="前排头部气囊(气帘)" ParamID="690" Unit="" />
			<Item Value="Safe_KneeGasBag" Name="膝部气囊" ParamID="835" Unit="" />
			<Item Value="Safe_BsadGasbag" Name="后排侧安全气囊" ParamID="680" Unit="" />
			<Item Value="Safe_BheadGasbag" Name="后排头部气囊(气帘)" ParamID="679" Unit="" />
			<Item Value="InStat_BeltBag" Name="安全带气囊" ParamID="845" Unit="" />
			<Item Value="Safe_BeltReminder" Name="安全带未系提示" ParamID="836" Unit="" />
			<Item Value="UnderPan_lifeBeltlimit" Name="安全带限力功能" ParamID="701" Unit="" />
			<Item Value="Safe_BeltPreTighten" Name="安全带预收紧功能" ParamID="678" Unit="" />
			<Item Value="Safe_BeltPosTune" Name="前安全带调节" ParamID="677" Unit="" />
			<Item Value="Safe_BackBelt" Name="后排安全带" ParamID="675" Unit="" />
			<Item Value="Safe_BackthreespotBelt" Name="后排中间三点式安全带" ParamID="676" Unit="" />
			<Item Value="Perf_ElecLimitSpeed" Name="电子限速" ParamID="656" Unit="" />
			<Item Value="UnderPan_TyrePressureWatcher" Name="胎压监测装置" ParamID="714" Unit="" />
			<Item Value="UnderPan_ZeroPressureDrive" Name="零压续行(零胎压继续行驶)" ParamID="715" Unit="" />
			<Item Value="UnderPan_turnShrink" Name="可溃缩转向柱" ParamID="713" Unit="" />
			<Item Value="Safe_ShrinkFootBrake" Name="溃缩式制动踏板" ParamID="696" Unit="" />
			<Item Value="Safe_CentralLock" Name="车内中控锁" ParamID="837" Unit="" />
			<Item Value="InStat_CenterControlLock" Name="中控门锁" ParamID="493" Unit="" />
			<Item Value="InStat_ChildLock" Name="儿童锁" ParamID="494" Unit="" />
			<Item Value="InStat_Rckey" Name="遥控钥匙" ParamID="538" Unit="" />
			<Item Value="InStat_AIgnitionSys" Name="无钥匙启动系统" ParamID="469" Unit="" />
			<!--<Item Value="Safe_VATS" Name="电子防盗系统" ParamID="699" Unit="" />
			<Item Value="Safe_EATS" Name="发动机防盗系统" ParamID="683" Unit="" />-->
			<Item Value="Safe_VATS,Safe_EATS" Name="发动机电子防盗" ParamID="699,683" Unit="," />
      <Item Value="nokey_into" Name="无钥匙进入系统" ParamID="952" Unit="" />
		</ParameterList>
		<ParameterList Name="车轮" Type="2">
			<Item Value="UnderPan_FrontTyreStandard" Name="前轮胎规格" ParamID="729" Unit="" />
			<Item Value="UnderPan_RearTyreStandard" Name="后轮胎规格" ParamID="721" Unit="" />
			<Item Value="UnderPan_FrontRimStandard" Name="前轮毂规格" ParamID="727" Unit="" />
			<Item Value="UnderPan_RearRimStandard" Name="后轮毂规格" ParamID="719" Unit="" />
			<Item Value="UnderPan_SpareWheelStandard" Name="备胎类型" ParamID="707" Unit="" />
			<Item Value="UnderPan_RimMaterial" Name="轮毂材料" ParamID="704" Unit="" />
		</ParameterList>
		<ParameterList Name="行车辅助" Type="2">
			<Item Value="Safe_ABS" Name="ABS(刹车防抱死制动系统)" ParamID="673" Unit="" />
			<Item Value="Safe_EBD" Name="电子制动力分配系统" ParamID="685" Unit="" />
			<Item Value="Safe_EBA" Name="EBA/EVA(紧急制动辅助系统)" ParamID="684" Unit="" />
			<Item Value="Safe_TCS" Name="TCS(牵引力控制系统)" ParamID="698" Unit="" />
			<Item Value="UnderPan_DSC" Name="DSC(动态稳定控制系统)" ParamID="700" Unit="" />
			<Item Value="UnderPan_AsistTurnTune" Name="随速助力转向调节(EPS)" ParamID="732" Unit="" />
			<Item Value="InStat_AutoPark" Name="自动驻车" ParamID="811" Unit="" />
			<Item Value="InStat_UphillAuxiliary" Name="上坡辅助" ParamID="812" Unit="" />
			<Item Value="InStat_HDC" Name="陡坡缓降" ParamID="813" Unit="" />
			<Item Value="UnderPan_PRadar" Name="泊车雷达(车前)" ParamID="800" Unit="" />
			<Item Value="UnderPan_RRadar" Name="倒车雷达" ParamID="702" Unit="" />
			<Item Value="UnderPan_RImage" Name="倒车影像" ParamID="703" Unit="" />
			<Item Value="InStat_PanoramicCamera" Name="全景摄像头" ParamID="820" Unit="" />
			<Item Value="InStat_SpeedCruise" Name="定速巡航系统" ParamID="545" Unit="" />
			<Item Value="InStat_Automaticcruise" Name="自适应巡航" ParamID="893" Unit="" />
			<Item Value="InStat_GPS" Name="GPS电子导航" ParamID="516" Unit="" />
			<Item Value="InStat_Human-machineInteractionSystem" Name="人机交互系统" ParamID="806" Unit="" />
			<Item Value="InStat_AutoParking" Name="自动泊车入位" ParamID="816" Unit="" />
			<Item Value="InStat_RoadMergeAuxiliary" Name="并线辅助" ParamID="817" Unit="" />
			<Item Value="InStat_ActiveSafetySystems" Name="主动刹车/主动安全系统" ParamID="818" Unit="" />
			<Item Value="InStat_OverallActiveSteeringSystem" Name="整体主动转向系统" ParamID="841" Unit="" />
			<Item Value="InStat_NightVisionSystem" Name="夜视系统" ParamID="819" Unit="" />
			<Item Value="InStat_blindspotdetection" Name="盲点检测" ParamID="898" Unit="" />
			<Item Value="Safe_EDCMSR" Name="发动机阻力矩控制系统（EDC/MSR）" ParamID="897" Unit="" />
			<Item Value="Safe_CBC" Name="弯道制动控制系统（CBC）" ParamID="896" Unit="" />
      <Item Value="Lane_Departure" Name="车道偏离预警系统" ParamID="955" Unit="" />
		</ParameterList>
		<ParameterList Name="门窗/后视镜" Type="2">
			<Item Value="Body_Openmethod" Name="开门方式" ParamID="891" Unit="" />
			<Item Value="OutStat_CarWindow" Name="车窗" ParamID="601" Unit="" />
			<Item Value="OutStat_UV_InsulatinGlass" Name="防紫外线/隔热玻璃" ParamID="796" Unit="" />
			<Item Value="OutStat_AvoidNipHead" Name="电动窗防夹功能" ParamID="594" Unit="" />
			<Item Value="Body_LouverOCType" Name="天窗开合方式" ParamID="568" Unit="" />
			<Item Value="Body_Louver" Name="天窗型式" ParamID="567" Unit="" />
			<Item Value="OutStat_BackCurtain" Name="后窗遮阳帘" ParamID="595" Unit="" />
			<Item Value="OutStat_SecondRowCurtain" Name="后排侧遮阳帘" ParamID="797" Unit="" />
			<Item Value="OutStat_BBrushSensor" Name="后雨刷器" ParamID="596" Unit="" />
			<Item Value="OutStat_FBrushSensor" Name="雨刷传感器" ParamID="606" Unit="" />
			<Item Value="InStat_ElectricPick-upDoors" Name="电动吸合门" ParamID="821" Unit="" />
			<Item Value="InStat_ElectricTrunkPull" Name="行李厢电动吸合门" ParamID="822" Unit="" />
			<Item Value="OutStat_MirrorSideLight" Name="后视镜带侧转向灯" ParamID="830" Unit="" />
			<Item Value="OutStat_ReMirrormemory" Name="外后视镜记忆功能" ParamID="625" Unit="" />
			<Item Value="OutStat_ReMirrorHot" Name="外后视镜加热功能" ParamID="624" Unit="" />
			<Item Value="OutStat_ReMirrorFold" Name="外后视镜电动折叠功能" ParamID="623" Unit="" />
			<Item Value="OutStat_ReMirrorElecTune" Name="外后视镜电动调节" ParamID="622" Unit="" />
			<Item Value="OutStat_ReMirrorDazzle" Name="内后视镜防眩目功能" ParamID="621" Unit="" />
			<Item Value="InStat_FaceMirror" Name="遮阳板化妆镜" ParamID="512" Unit="" />
      <Item Value="Privacy_glass" Name="隐私玻璃" ParamID="989" Unit="" />
		</ParameterList>
		<ParameterList Name="灯光" Type="2">
			<Item Value="OutStat_FrontLightType" Name="前照灯类型" ParamID="614" Unit="" />
			<Item Value="OutStat_FLightClose" Name="前大灯自动开闭" ParamID="609" Unit="" />
			<Item Value="OutStat_FLightAutoClean" Name="前照灯自动清洗功能" ParamID="608" Unit="" />
			<Item Value="OutStat_FLightDelay" Name="前大灯延时关闭" ParamID="611" Unit="" />
			<Item Value="OutStat_FLightSteer" Name="前大灯随动转向" ParamID="613" Unit="" />
			<Item Value="OutStat_FLightHeightTune" Name="前照灯照射高度调节" ParamID="612" Unit="" />
			<Item Value="OutStat_FLightDazzle" Name="会车前灯防眩目功能" ParamID="610" Unit="" />
			<Item Value="OutStat_FfogLamp" Name="前雾灯" ParamID="607" Unit="" />
			<Item Value="InStat_ReadingLight" Name="车厢前阅读灯" ParamID="539" Unit="" />
			<Item Value="InStat_BReadingLight" Name="车厢后阅读灯" ParamID="480" Unit="" />
			<Item Value="OutStat_atmosphereLight" Name="车内氛围灯" ParamID="795" Unit="" />
			<Item Value="OutStat_DaytimeRunningLights" Name="日间行车灯" ParamID="794" Unit="" />
			<Item Value="OutStat_LEDtaillights" Name="LED尾灯" ParamID="846" Unit="" />
			<Item Value="OutStat_PerchStopLight" Name="高位(第三)制动灯" ParamID="620" Unit="" />
			<Item Value="OutStat_Corneringlights" Name="转向头灯（辅助灯）" ParamID="828" Unit="" />
			<Item Value="OutStat_SideLight" Name="侧转向灯" ParamID="626" Unit="" />
			<Item Value="OutStat_luggageLight" Name="行李厢灯" ParamID="618" Unit="" />
      <Item Value="choice_FrontLightType" Name="选配前大灯类型" ParamID="953" Unit="" />
		</ParameterList>
		<ParameterList Name="内部配置" Type="2">
			<Item Value="SteeringAdjustmentLeftAndRight" Name="方向盘前后调节" ParamID="799" Unit="" />
			<Item Value="InStat_SteeringAdjustmentUpAndDown" Name="方向盘上下调节" ParamID="798" Unit="" />
			<Item Value="InStat_SteerTuneType" Name="方向盘调节方式" ParamID="552" Unit="" />
			<Item Value="InStat_SteerMomery" Name="方向盘记忆设置" ParamID="549" Unit="" />
			<Item Value="InStat_SteerMaterial" Name="方向盘表面材料" ParamID="548" Unit="" />
			<Item Value="InStat_MultiFuncSteer" Name="多功能方向盘" ParamID="528" Unit="" />
			<Item Value="InStat_MultiFuncsSteer" Name="多功能方向盘功能" ParamID="527" Unit="" />
			<Item Value="InStat_ComputerMonitors" Name="行车电脑显示屏" ParamID="832" Unit="" />
			<Item Value="InStat_Hud" Name="HUD抬头数字显示" ParamID="518" Unit="" />
			<Item Value="InStat_InteriorColor" Name="内饰颜色" ParamID="801" Unit="" />
			<Item Value="InStat_BCarShelf" Name="后排杯架" ParamID="474" Unit="" />
			<Item Value="InStat_12VPower" Name="车内电源电压" ParamID="467" Unit="" />
      <Item Value="Steering_Wheel_hot" Name="方向盘加热" ParamID="956" Unit="" />
      <Item Value="Liquid_crystal_instrument_panel" Name="全液晶仪表盘" ParamID="988" Unit="" />
		</ParameterList>
		<ParameterList Name="座椅" Type="2">
			<Item Value="InStat_SportSeat" Name="运动座椅" ParamID="546" Unit="" />
			<Item Value="InStat_SeatMaterial" Name="座椅面料" ParamID="544" Unit="" />
      <Item Value="seat_height_adjustable" Name="座椅高低调节" ParamID="992" Unit="" />
      <Item Value="choice_SeatMaterial" Name="选配座椅材料" ParamID="948" Unit="" />
			<Item Value="InStat_DSeatTuneType" Name="驾驶座座椅调节方式" ParamID="508" Unit="" />
			<Item Value="InStat_DSeatTuneDirection" Name="驾驶座座椅调节方向" ParamID="507" Unit="" />
			<Item Value="InStat_DASeatTuneType" Name="副驾驶座椅调节方式" ParamID="503" Unit="" />
			<Item Value="InStat_DASeatTuneDirection" Name="副驾驶座椅调节方向" ParamID="502" Unit="" />
			<Item Value="InStat_DSeatProp" Name="驾驶座腰部支撑调节" ParamID="506" Unit="" />
			<Item Value="InStat_AdjustableShoulderSupport" Name="驾驶座肩部支撑调节" ParamID="802" Unit="" />
			<Item Value="InStat_FSeatPillowA" Name="前座椅头枕调节" ParamID="515" Unit="" />
			<Item Value="InStat_BSeatTuneType" Name="后排座椅调节方式" ParamID="833" Unit="" />
			<Item Value="InStat_BSeatLieRate" Name="后排座位放倒比例" ParamID="482" Unit="" />
      <Item Value="Rear_seat_angle_adjustment" Name="后排座椅角度调节" ParamID="991" Unit="" />
			<Item Value="InStat_FCenterArmrest" Name="前座中央扶手" ParamID="514" Unit="" />
			<Item Value="InStat_BCenterArmrest" Name="后座中央扶手" ParamID="475" Unit="" />
			<Item Value="InStat_SeatHeat" Name="座椅通风" ParamID="804" Unit="" />
			<Item Value="InStat_DSeatHot" Name="驾驶座座椅加热" ParamID="504" Unit="" />
			<Item Value="InStat_SeatKnead" Name="座椅按摩功能" ParamID="543" Unit="" />
			<Item Value="InStat_ElectricSeatMemory" Name="电动座椅记忆" ParamID="803" Unit="" />
			<Item Value="InStat_ChildSeatFix" Name="儿童安全座椅固定装置" ParamID="495" Unit="" />
			<Item Value="InStat_3rdRowSeats" Name="第三排座椅" ParamID="805" Unit="" />
      <Item Value="InStat_PositioningInteractiveServices" Name="定位互动服务" ParamID="834" Unit="" />
		</ParameterList>
		<ParameterList Name="娱乐通讯" Type="2">
			<Item Value="InStat_Tel" Name="车载电话" ParamID="554" Unit="" />
			<Item Value="InStat_Bluetooth" Name="蓝牙系统" ParamID="479" Unit="" />
			<Item Value="InStat_ExternalAudioInterface" Name="外接音源接口" ParamID="810" Unit="" />
			<!--<Item Value="InStat_HardDiskCapacity" Name="内置硬盘容量" ParamID="808" Unit="" />
			<Item Value="InStat_Built-inHardDrive" Name="内置硬盘" ParamID="807" Unit="" />-->
			<Item Value="InStat_Built-inHardDrive,InStat_HardDiskCapacity" Name="内置硬盘" ParamID="807,808" Unit="," />
			<Item Value="InStat_Video" Name="车载电视" ParamID="559" Unit="" />
			<Item Value="InStat_LoudHailer" Name="扬声器数量" ParamID="523" Unit="" />
			<Item Value="InStat_Audiobrand" Name="音响品牌" ParamID="473" Unit="" />
			<!--<Item Value="InStat_DVDPlayer" Name="DVD" ParamID="510" Unit="" />
			<Item Value="InStat_DVDNum" Name="DVD碟数" ParamID="509" Unit="碟" />-->
			<Item Value="InStat_DVDPlayer,InStat_DVDNum" Name="DVD" ParamID="510,509" Unit=",碟" />
			<!--<Item Value="InStat_CDPlayer" Name="CD" ParamID="490" Unit="" />
			<Item Value="InStat_CDNum" Name="CD碟数" ParamID="489" Unit="碟" />-->
			<Item Value="InStat_CDPlayer,InStat_CDNum" Name="CD" ParamID="490,489" Unit=",碟" />
			<Item Value="InStat_CCEscreen" Name="中控台液晶屏" ParamID="488" Unit="" />
			<Item Value="InStat_BEscreen" Name="后排液晶显示器" ParamID="477" Unit="" />
		</ParameterList>
		<ParameterList Name="空调/冰箱" Type="2">
			<Item Value="InStat_AirCType" Name="空调控制方式" ParamID="471" Unit="" />
			<!--<Item Value="InStat_TemperSubCount" Name="温度分区控制" ParamID="839" Unit="" />
			<Item Value="InStat_TemperAreaCount" Name="温区个数" ParamID="555" Unit="个" />-->
			<Item Value="InStat_TemperSubCount,InStat_TemperAreaCount" Name="温度分区控制" ParamID="839,555" Unit=",个" />
			<Item Value="InStat_BAirCSystem" Name="后排独立空调" ParamID="838" Unit="" />
			<Item Value="InStat_BleakAirNum" Name="后排出风口" ParamID="478" Unit="" />
			<Item Value="InStat_AirCondPollenFilter" Name="空气调节/花粉过滤" ParamID="840" Unit="" />
			<Item Value="InStat_AirPurification" Name="车内空气净化装置" ParamID="905" Unit="" />
			<Item Value="InStat_carFridge" Name="车载冰箱" ParamID="485" Unit="" />
		</ParameterList>
		<ParameterList Name="易车测试" Type="2">
			<Item Value="Perf_MeasuredAcceleration" Name="加速时间(0—100km/h)" ParamID="786" Unit="s" />
			<Item Value="Perf_BrakingDistance" Name="制动距离(100—0km/h)" ParamID="787" Unit="m" />
			<Item Value="Perf_MeasuredFuel" Name="油耗" ParamID="788" Unit="L/百公里" />
			<Item Value="Perf_Slalomspeed180" Name="18米绕桩速度" ParamID="861" Unit="km/h" />
			<Item Value="Perf_MeasuredSlackSpeedNoise" Name="车内怠速噪音" ParamID="789" Unit="dB(A)" />
			<Item Value="Perf_MeasuredAveSpeedNoise40" Name="车内等速(40km/h)噪音" ParamID="857" Unit="dB(A)" />
			<Item Value="Perf_MeasuredAveSpeedNoise" Name="车内等速(60km/h)噪音" ParamID="790" Unit="dB(A)" />
			<Item Value="Perf_MeasuredAveSpeedNoise80" Name="车内等速(80km/h)噪音" ParamID="858" Unit="dB(A)" />
			<Item Value="Perf_MeasuredAveSpeedNoise100" Name="车内等速(100km/h)噪音" ParamID="859" Unit="dB(A)" />
			<Item Value="Perf_MeasuredAveSpeedNoise120" Name="车内等速(120km/h)噪音" ParamID="860" Unit="dB(A)" />
		</ParameterList>
	</Parameter>
</ParameterConfigurationList>