<rules>
	<rule name="首页" stopProcessing="true">
		<match url="^/?$" />
		<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
		<action type="Rewrite" url="Default.aspx" />
	</rule>
	<rule name="按品牌" stopProcessing="true">
		<match url="^brandlist.html$" />
		<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
		<action type="Rewrite" url="SelectMasterBrand.aspx" />
  </rule>
  <rule name="按情景" stopProcessing="true">
    <match url="^scenelist.html$" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Rewrite" url="SelectCarOfScene.aspx" />
  </rule>
  <!--add by sk seo 2016.04.05-->
  <rule name="按品牌SEO" stopProcessing="true">
    <match url="^brandlist/$" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Rewrite" url="SelectMasterBrand.aspx?re=true" />
  </rule>
	<!-- 级别重写 add by chengl Mar.19.2014 -->
	<rule name="级别重写 weixingche" stopProcessing="true">
		<match url="^weixingche/$" ignoreCase="true" />
		<action type="Rewrite" url="SelectCar.aspx?l=1" />
	</rule>
	<rule name="级别重写 xiaoxingche" stopProcessing="true">
		<match url="^xiaoxingche/$" ignoreCase="true" />
		<action type="Rewrite" url="SelectCar.aspx?l=2" />
	</rule>
	<rule name="级别重写 jincouxingche" stopProcessing="true">
		<match url="^jincouxingche/$" ignoreCase="true" />
		<action type="Rewrite" url="SelectCar.aspx?l=3" />
	</rule>
	<rule name="级别重写 zhongxingche" stopProcessing="true">
		<match url="^zhongxingche/$" ignoreCase="true" />
		<action type="Rewrite" url="SelectCar.aspx?l=5" />
	</rule>
	<rule name="级别重写 zhongdaxingche" stopProcessing="true">
		<match url="^zhongdaxingche/$" ignoreCase="true" />
		<action type="Rewrite" url="SelectCar.aspx?l=4" />
	</rule>
	<rule name="级别重写 haohuaxingche" stopProcessing="true">
		<match url="^haohuaxingche/$" ignoreCase="true" />
		<action type="Rewrite" url="SelectCar.aspx?l=6" />
	</rule>
	<rule name="级别重写 mpv" stopProcessing="true">
		<match url="^mpv/$" ignoreCase="true" />
		<action type="Rewrite" url="SelectCar.aspx?l=7" />
	</rule>
	<rule name="级别重写 suv" stopProcessing="true">
		<match url="^suv/$" ignoreCase="true" />
		<action type="Rewrite" url="SelectCar.aspx?l=8" />
	</rule>
	<rule name="级别重写 paoche" stopProcessing="true">
		<match url="^paoche/$" ignoreCase="true" />
		<action type="Rewrite" url="SelectCar.aspx?l=9" />
	</rule>
	<rule name="级别重写 mianbaoche" stopProcessing="true">
		<match url="^mianbaoche/$" ignoreCase="true" />
		<action type="Rewrite" url="SelectCar.aspx?l=11" />
	</rule>
	<rule name="级别重写 pika" stopProcessing="true">
		<match url="^pika/$" ignoreCase="true" />
		<action type="Rewrite" url="SelectCar.aspx?l=12" />
	</rule>
	<rule name="级别重写 qita" stopProcessing="true">
		<match url="^qita/$" ignoreCase="true" />
		<action type="Rewrite" url="SelectCar.aspx?l=10" />
	</rule>
	<rule name="级别重写 xuanchegongju" stopProcessing="true">
		<match url="^xuanchegongju/$" ignoreCase="true" />
		<action type="Rewrite" url="SelectCar.aspx" />
	</rule>
	<rule name="选车工具 1" stopProcessing="true">
		<match url="^xuanchegongju/?$" ignoreCase="false" />
		<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
		<action type="Rewrite" url="SelectCar.aspx" />
	</rule>
	<rule name="选车工具 2" stopProcessing="true">
		<match url="^/xuanchegongju/\?(.*)$" ignoreCase="false" />
		<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
		<action type="Rewrite" url="SelectCar.aspx?$1" />
	</rule>

  <rule name="级别重写 selectscenecar" stopProcessing="true">
    <match url="^selectscenecar/$" ignoreCase="true" />
    <action type="Rewrite" url="SelectSceneCar.aspx" />
  </rule>
  <rule name="情景选车 1" stopProcessing="true">
    <match url="^selectscenecar/?$" ignoreCase="false" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Rewrite" url="SelectSceneCar.aspx" />
  </rule>
  <rule name="情景选车 2" stopProcessing="true">
    <match url="^/selectscenecar/\?(.*)$" ignoreCase="false" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Rewrite" url="SelectSceneCar.aspx?$1" />
  </rule>
  
	<rule name="对比工具 1" stopProcessing="true">
		<match url="^chexingduibi/?$" ignoreCase="false" />
		<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
		<action type="Rewrite" url="CarCompareTool.aspx" />
	</rule>
	<rule name="对比工具 2" stopProcessing="true">
		<match url="^chexingduibi/\?(.*)$" ignoreCase="false" />
		<action type="Rewrite" url="CarCompareTool.aspx?$1" />
	</rule>
  
	<rule name="全款计算器 1" stopProcessing="true">
		<match url="^gouchejisuanqi/$" ignoreCase="false" />
		<action type="Rewrite" url="CalcAutoCashTool.aspx"  />
	</rule>
  
  <rule name="全款计算器 2" stopProcessing="true">
    <match url="^gouchejisuanqical/$" ignoreCase="false" />
    <action type="Rewrite" url="CalcAutoCash.aspx" />
  </rule>
  
	<rule name="贷款计算器 1" stopProcessing="true">
		<match url="^qichedaikuanjisuanqi/$" ignoreCase="true" />
		<action type="Rewrite" url="CalcAutoLoanTool.aspx" />
	</rule>
	<rule name="贷款计算器 2" stopProcessing="true">
		<match url="^qichedaikuanjisuanqical/$" ignoreCase="true" />
		<action type="Rewrite" url="CalcAutoLoan.aspx" />
	</rule>
	<rule name="保险计算器 1" stopProcessing="true">
		<match url="^qichebaoxianjisuan/$" ignoreCase="true" />
		<action type="Rewrite" url="CalcInsuranceTool.aspx" />
	</rule>
	<rule name="保险计算器 2" stopProcessing="true">
		<match url="^qichebaoxianjisuancal/$" ignoreCase="true" />
		<action type="Rewrite" url="CalcInsurance.aspx" />
	</rule>
  <rule name="牙膏选车" stopProcessing="true">
    <match url="^yagaoxuanche/$" ignoreCase="false" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Rewrite" url="YaGaoSelectCar.aspx" />
  </rule>
  <rule name="SUV频道" stopProcessing="true">
    <match url="^suv/all/$" ignoreCase="false" />
    <action type="Rewrite" url="/suvchannel/default.aspx" />
  </rule>
  <rule name="SUV频道 列表 2" stopProcessing="true">
    <match url="^suv/all/list/$" ignoreCase="false" />
    <action type="Rewrite" url="suvchannel/SerialList.aspx" />
  </rule>
  <rule name="导购 大空间SUV" stopProcessing="true">
    <match url="^daogou/dakongjiansuv/$" ignoreCase="false" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Rewrite" url="DaoGou.aspx?topic=1" />
  </rule>
  <rule name="导购 小钢炮" stopProcessing="true">
    <match url="^daogou/xiaogangpao/$" ignoreCase="false" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Rewrite" url="DaoGou.aspx?topic=2" />
  </rule>
  <rule name="导购 大空间轿车" stopProcessing="true">
    <match url="^daogou/dakongjianjiaoche/$" ignoreCase="false" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Rewrite" url="DaoGou.aspx?topic=3" />
  </rule>
  <rule name="导购 合资SUV" stopProcessing="true">
    <match url="^daogou/hezisuv/$" ignoreCase="false" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Rewrite" url="DaoGou.aspx?topic=4" />
  </rule>
  
  <rule name="简版配置 3524" stopProcessing="true">
    <match url="^cscompare/index3524/$" ignoreCase="false" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Rewrite" url="tempaspx/cscompare3524.aspx" />
  </rule>
  <rule name="简版参数配置 3814" stopProcessing="true">
    <match url="^cscompare/index3814/$" ignoreCase="false" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Rewrite" url="tempaspx/cscompare3814.aspx" />
  </rule>



</rules>