<?xml version="1.0" encoding="utf-8"?>

<root>

	<!--业务线名称：易车商城--><!--已经上线-->
	<service name="yichemall">
		<!--易车商城 H5.V3 优惠购车接口-->
		<!--http://192.168.87.22:8083-->
		<!--<interface charset="utf-8" name="youhuigouche" url="http://api.yichemall.com/forth/car/buy?csId={0}&amp;cityId={1}" />-->
    <!--易车商城 H5.V3 优惠购车接口 20160111-->
    <!--<interface charset="utf-8" name="youhuigouche" url="http://api.yichemall.com/forth/car/get?csId=csId={0}&amp;cityId={1}" />-->
	</service>

	<!--业务线名称：贷款--><!--已经上线-->
	<service name="daikuan">
		<!--贷款 H5.V3 优惠购车接口-->
		<!--<interface charset="utf-8" name="youhuigouche" url="http://192.168.15.70:8089/Disiji?serialId={0}&amp;cityId={1}" />-->
		<!--<interface charset="utf-8" name="youhuigouche" url="http://chedai.m.yiche.com/Disiji?serialId={0}&amp;cityId={1}" />-->
    <!--贷款 H5.V3 优惠购车接口 20160111-->
    <!--<interface charset="utf-8" name="youhuigouche" url="http://192.168.15.70:802/api/other/GetDSJProducts?csid={0}&amp;cityid={1}" />-->
	</service>

	<!--业务线名称:惠买车-->
  <!--已经上线-->
	<service name="huimaiche">

		<!--注释规则：业务线名称 项目名称.版本号 接口功能描述-->

		<!--惠买车 H5.V3 优惠购车接口-->
		<!--<interface charset="utf-8" name="youhuigouche" url="http://www.huimaiche.com/api/GetCarSerialSaleData.ashx?csid={0}&amp;ccode={1}" />-->

    <!--惠买车 H5.V3 优惠购车接口 20160111-->
		<!--<interface charset="utf-8" name="youhuigouche" url="http://www.huimaiche.com/api/GetCarSerialSaleDataNew.ashx?csid={0}&amp;ccode={1}" />-->
    
    <!--m.maiche.biz是测试地址，m.huimaiche.com是线上地址-->
    <!--惠买车 H5.V1 首页顾问信息-->
    <interface charset="utf-8" name="header" url="http://m.huimaiche.com/adviser/FourthStage/index.aspx?csid={0}&amp;ID={1}" />

    <!--惠买车 H5.V1 看了还看-->
    <interface charset="utf-8" name="seeagain" url="http://m.huimaiche.com/adviser/FourthStage/Recommend.aspx?csid={0}&amp;ID={1}" />

    <!--惠买车 H5.V1 免费预约-->
    <interface charset="utf-8" name="booking" url="http://m.huimaiche.com/adviser/FourthStage/Subsribe.aspx?csid={0}&amp;ID={1}" />
    
    <!--惠买车 H5.V1 购车点评-->
    <interface charset="utf-8" name="comment" url="http://m.huimaiche.com/adviser/FourthStage/Comment.aspx?csid={0}&amp;ID={1}" />

    <!--惠买车 H5.V1 车款报价-->
    <interface charset="utf-8" name="carinfo" url="http://m.huimaiche.com/adviser/FourthStage/CarInfo.aspx?csid={0}&amp;ID={1}" />

    <!--惠买车 H5.V1 优惠购车-->
    <interface charset="utf-8" name="discount" url="http://m.huimaiche.com/adviser/FourthStage/Discount.aspx?ID={0}" />
  </service>

	<!--业务线名称：二手车--><!--已经上线-->
	<service name="ershouche">
		<!--二手车 H5.V3 优惠购车接口-->
		<!--<interface charset="utf-8" name="youhuigouche" url="http://m.taoche.com/ajax/taocheinfo.ashx?cid={0}&amp;sid={1}" />-->

    <interface charset="utf-8" name="ershouche" url="http://ershouche.h5.yiche.com/ajax/taocheinfo.ashx?cid={0}&amp;sid={1}" />
	</service>

	<!--业务线名称：经纪人--><!--已经上线-->
	<service name="agent">
    <!--测试接口地址 api.bitcar.com-->
		<!--经纪人 H5.V3 经纪人定制版信息获取-->
		<interface charset="utf-8" name="brokerinfo" url="http://api.cheguwen.com/api/getbrokerinfo?brokerid={0}&amp;modelid={1}&amp;type={2}" />

		<!--经纪人 H5.V3 经纪人分享-->
		<interface charset="utf-8" name="share" url="http://api.cheguwen.com/api/getbrokerinfo?brokerid={0}&amp;modelid={1}&amp;type={2}" />

    <!--经纪人 H5.V3 经纪人头-->
    <interface charset="utf-8" name="header" url="http://api.cheguwen.com/api/getbrokerinfo?brokerid={0}&amp;modelid={1}&amp;type={2}" />

  </service>

	<!--业务线名称：经销商--><!--已经上线-->
	<service name="dealer">
		
		<!--参数说明：http://m.h5qiche4s.cn/h5info/{接口类型}/{经销商ID}/{车型ID}/-->
		<!--经销商 H5.V3 经销商首页-->
		<interface charset="utf-8" name="dealerdefault" url="http://m.h5.qiche4s.cn/fourth2/h5info/dealerpic/{0}/{1}/" />

		<!--经销商 H5.V3 经销商分享-->
		<!--<interface charset="utf-8" name="share" url="http://m.h5.qiche4s.cn/fourth2/h5info/shareinfo/{0}/{1}/" />-->
		<interface charset="utf-8" name="dealershare" url="http://m.h5.qiche4s.cn/fourth_pandc/wxsharedealer/{1}/{0}/" />

		<!--经销商 H5.V3 经销商地图静态页-->
		<interface charset="utf-8" name="dealerstaticmap" url="http://m.h5.qiche4s.cn/fourth2/h5info/dealerlist/{0}/{1}/" />

		<!--经销商 H5.V3 经销商地图详情页-->
		<interface charset="utf-8" name="dealermapdetail" url="http://m.h5.qiche4s.cn/fourth2/h5info/dealermap/{0}/{1}/" />
		
		<!--经销商 H5.V3 经销商本店促销-->
		<!--参数说明：http://m.h5.qiche4s.cn/fourth/h5info/{接口类型}/{经销商ID}/{车型ID}/ -->
		<interface charset="utf-8" name="dealernews" url="http://m.h5.qiche4s.cn/fourth2/h5info/DealerNews/{0}/{1}/" />

		<!--经销商 H5.V3 店内还有(4S、综合店)-->
		<!--参数说明：http://m.h5.qiche4s.cn/fourth/h5info/{接口类型}/{经销商ID}/{车型ID}/ -->
		<interface charset="utf-8" name="dealercarreference" url="http://m.h5.qiche4s.cn/fourth2/h5info/dealercarreference/{0}/{1}/" />

		<!--经销商 H5.V3 经销商车款价格列表-->
		<!--参数说明：http://m.h5.qiche4s.cn/fourth/h5info/{接口类型}/{经销商ID}/{车型ID}/ -->
		<interface charset="utf-8" name="carsprice" url="http://m.h5.qiche4s.cn/fourth2/h5info/CarsPrice/{0}/{1}/" />
		
		<!--参数说明：http://m.h5qiche4s.cn/u/h5User/{接口类型}/{城市ID}/{车型ID}/-->
		<!--经销商 H5.V3 用户版经销商地静态页-->
		<interface charset="utf-8" name="userdealerstaticmap" url="http://m.h5.qiche4s.cn/fourth2/u/H5User/dealerlist/{0}/{1}/" />

		<!--经销商 H5.V3 用户版经销商地图详情页-->
		<interface charset="utf-8" name="userdealermapdetail" url="http://m.h5.qiche4s.cn/fourth2/u/H5User/dealermap/{0}/{1}/" />

    <interface charset="utf-8" name="yanghu" url="http://yanghu.h5.yiche.com/home/Index/{0}/{1}" />
    <interface charset="utf-8" name="ending" url="http://yanghu.h5.yiche.com/Dealer/DealerBrand?dealerId={0}&amp;BrandId={1}&amp;SerialId={2}" />
    
	</service>

	<!--已经上线-->
	<service name="dealersale">
		<!--经销商人+车+店定制版 开始-->

		<!--经销商 H5.V3 人+车+店定制版销售顾问信息 -->
		<!--http://m.h5.qiche4s.cn/fourth_PAndC/personInfo/{personid}/-->
		<interface charset="utf-8" name="header" url="http://m.h5.qiche4s.cn/fourth_PAndC/personInfo/{0}/" />

		<!--经销商 H5.V3 人+车+店定制版车型报价-->
		<!--http://m.h5.qiche4s.cn/fourth_PAndC/carPrice/{csid}/{personid}/-->
		<interface charset="utf-8" name="dealersalecarprice" url="http://m.h5.qiche4s.cn/fourth_PAndC/carPrice/{0}/{1}/" />

		<!--经销商 H5.V3 人+车+店定制版热门促销-->
		<!--http://m.h5.qiche4s.cn/fourth_PAndC/dealerNews/{csid}/{personid}/-->
		<interface charset="utf-8" name="dealersalenews" url="http://m.h5.qiche4s.cn/fourth_PAndC/dealerNews/{0}/{1}/" />

		<!--经销商 H5.V3 人+车+店定制版热销车型-->
		<!--http://m.h5.qiche4s.cn/fourth_PAndC/ortherCs/{csid}/{personid}/-->
		<interface charset="utf-8" name="dealersaleserial" url="http://m.h5.qiche4s.cn/fourth_PAndC/ortherCs/{0}/{1}/" />

		<!--经销商 H5.V3 人+车+店定制版商家店铺-->
		<!--http://m.h5.qiche4s.cn/fourth_PAndC/dealerInfo/{personid}/-->
		<interface charset="utf-8" name="dealersaleshop" url="http://m.h5.qiche4s.cn/fourth_PAndC/dealerInfo/{0}/{1}/" />

		<!--经销商 H5.V3 人+车+店定制版 分享-->
		<!--http://m.h5.qiche4s.cn/fourth_PAndC/wxshare/{csid}/{personid}/-->
		<interface charset="utf-8" name="dealersaleshare" url="http://m.h5.qiche4s.cn/fourth_PAndC/wxshare/{0}/{1}/" />

		<!--经销商人+车+店定制版 结束-->

	</service>
	
	<!--业务线名称：易车惠--><!--已经上线-->
	<service name="market">
		<!--易车惠 H5.V3 优惠购车接口-->
		<!--<interface charset="utf-8" name="youhuigouche" url="http://api.market.bitauto.com/MessageInterface/disiji/getdisiji.ashx?cmdid={0}&amp;cityid={1}" />-->

    <!--易车惠 H5.V3 优惠购车接口 20160111-->
		<!--<interface charset="utf-8" name="youhuigouche" url="http://api.market.bitauto.com/MessageInterface/DynamicAds/GetHandler.ashx?key=cbb11ed87dc8a95d81400c7f33c7c171&amp;csid={0}&amp;cityid={1}&amp;name=Disiji" />-->
	</service>

	<!--业务线名称：养护--><!--已经上线-->
	<service name="yanghu">
    <!--测试接口地址test.yanghu.m.yiche.com-->
		<!--H5.V3 养护接口--> 
		<!--<interface charset="utf-8" name="yanghu" url="http://yanghu.m.yiche.com/maintainchart/{0}/{1}" />-->
		<!--<interface charset="utf-8" name="yanghu" url="http://test.yanghu.h5.yiche.com/home/multistore/{0}/{1}"/>-->
		<interface charset="utf-8" name="yanghu" url="http://yanghu.h5.yiche.com/home/multistore/{0}/{1}"/>
	</service>

  <!--业务线名称：易鑫-->
  <service name="yixin">
		<!--<interface charset="utf-8" name="baoxian" url="http://123.127.236.158:805/InsureRedirect/OutDsjHtmlResult"/>-->
		<interface charset="utf-8" name="baoxian" url="http://baoxian.m.daikuan.com/InsureRedirect/OutDsjHtmlResult"/>
	</service>
</root>