<?xml version="1.0" encoding="utf-8"?>

<root>
	<!--业务线名称:惠买车-->
	<service name="huimaiche">

		<!--注释规则：业务线名称 项目名称.版本号 接口功能描述-->

		<!--惠买车 H5.V2 优惠购车接口-->
		<interface charset="utf-8" name="youhuigouce"
		           url="http://www.huimaiche.com/api/GetCarSerialSaleData.ashx?csid={0}&amp;ccode={1}" />
	</service>

	<!--业务线名称：易车商城-->
	<service name="yichemall">
		<!--易车商城 H5.V2 优惠购车接口-->
		<interface charset="utf-8" name="youhuigouce" url="http://192.168.87.22:8083/car/buy?csId={0}&amp;cityId={1}" />
	</service>

	<!--业务线名称：经销商-->
	<service name="dealer">
		<!--经销商 H5.V2 经销商车型图片页-->
		<!--参数说明：http://m.h5qiche4s.cn/fourth2/d/dealer/{接口类型}/{经销商ID}/{车型ID}/ -->
		<interface charset="utf-8" name="dealerpic" url="http://m.h5qiche4s.cn/fourth2/d/dealer/DealerPic/{0}/{1}/" />
		
		<!--经销商 H5.V2 经销商车款价格列表-->
		<!--参数说明：http://m.h5qiche4s.cn/fourth2/d/dealer/{接口类型}/{经销商ID}/{车型ID}/ -->
		<interface charset="utf-8" name="carsprice" url="http://m.h5qiche4s.cn/fourth2/d/dealer/CarsPrice/{0}/{1}/" />

		<!--经销商 H5.V2 经销商地图页-->
		<!--参数说明：http://m.h5qiche4s.cn/fourth2/d/dealer/{接口类型}/{经销商ID}/{车型ID}/ -->
		<interface charset="utf-8" name="dealermap" url="http://m.h5qiche4s.cn/fourth2/d/dealer/DealerMap/{0}/{1}/" />

		<!--经销商 H5.V2 经销商本店促销-->
		<!--参数说明：http://m.h5qiche4s.cn/fourth2/d/dealer/{接口类型}/{经销商ID}/{车型ID}/ -->
		<interface charset="utf-8" name="dealernews" url="http://m.h5qiche4s.cn/fourth2/d/dealer/DealerNews/{0}/{1}/" />

		<!--经销商 H5.V2 店内还有(4S、综合店)-->
		<!--参数说明：http://m.h5qiche4s.cn/fourth2/d/dealer/{接口类型}/{经销商ID}/{车型ID}/ -->
		<interface charset="utf-8" name="dealercarreference" url="http://m.h5qiche4s.cn/fourth2/d/dealer/DealerCarReference/{0}/{1}/" />

		<!--经销商 H5.V2 车型地图页-->
		<!--参数说明：http://m.h5qiche4s.cn/fourth2/c/CarSerial/{接口类型}/{城市ID}/{车型ID}/-->
		<interface charset="utf-8" name="serialmap" url="http://m.h5qiche4s.cn/fourth2/c/CarSerial/DealerMap/{0}/{1}/" />

		<!--经销商 H5.V2 经销商地图页 地图图片-->
		<!--参数说明：http://m.h5qiche4s.cn/fourth2/c/CarSerial/{接口类型}/{城市ID}/{车型ID}/-->
		<interface charset="utf-8" name="dealerimgmap" url="http://m.h5qiche4s.cn/fourth2/c/CarSerial/dealerlist/{0}/{1}/" />
		<!--http://m.h5qiche4s.cn/fourth2/c/CarSerial/dealerlist/201/2874/-->

		<!--经销商 H5.V2 分享-->
		<!--参数说明：http://m.h5qiche4s.cn/fourth2/c/CarSerial/{接口类型}/{城市ID}/{车型ID}/-->
		<interface charset="utf-8" name="share" url="http://m.h5qiche4s.cn/fourth2/d/dealer/ShareInfo/{0}/{1}/" />

	</service>

	<!--业务线名称：贷款-->
	<service name="daikuan">
		<!--贷款 H5.V2 优惠购车接口-->
		<!--<interface charset="utf-8" name="youhuigouce" url="http://192.168.15.70:8089/Disiji?serialId={0}&amp;cityId={1}" />-->
		<interface charset="utf-8" name="youhuigouce" url="http://chedai.m.yiche.com/Disiji?serialId={0}&amp;cityId={1}" />

	</service>

	<!--业务线名称：经纪人-->
	<service name="agent">
		<!--经纪人 H5.V2 经纪人定制版信息获取-->
		<interface charset="utf-8" name="brokerinfo" url="http://api.bitcar.com/api/getbrokerinfo?brokerid={0}&amp;modelid={1}&amp;type={2}" />
		<!--<interface charset="utf-8" name="brokerinfo" url="http://192.168.43.79:8054/api/getbrokerinfo?brokerid={0}&amp;modelid={1}&amp;type={2}" />-->

		<!--经纪人 H5.V2 经纪人分享-->
		<interface charset="utf-8" name="share" url="http://api.bitcar.com/api/getbrokerinfo?brokerid={0}&amp;modelid={1}&amp;type={2}" />
		<!--<interface charset="utf-8" name="share" url="http://192.168.43.79:8054/api/getbrokerinfo?brokerid={0}&amp;modelid={1}&amp;type={2}" />-->
	</service>

	<!--业务线名称：易车慧-->
	<service name="market">
		<!--易车慧 H5.V2 优惠购车接口-->
		<interface charset="utf-8" name="youhuigouce" url="http://api.market.bitauto.com/MessageInterface/disiji/getdisiji.ashx?cmdid={0}&amp;cityid={1}" />
	</service>

	<!--业务线名称：二手车-->
	<service name="ershouche">
		<!--易车慧 H5.V2 优惠购车接口-->
		<interface charset="utf-8" name="youhuigouce" url="http://m.taoche.com/ajax/taocheinfo.ashx?cid={0}&amp;sid={1}" />
	</service>

</root>