<?xml version="1.0" encoding="utf-8"?>
<root>
  <service name="dealer">
    <interface url="http://m.h5.qiche4s.cn/fourth/h5info/{0}/{1}/{2}/"/>
    <!-- 经销商接口 -->
  </service>
  <service name="broker">
    <interface url="http://api.cheguwen.com/api/getbrokerinfo/?brokerid={0}&amp;modelid={1}"/>
    <!-- 经纪人接口 -->
    <!--<interface url="http://api.bitcar.com/api/GetBrokerInfo?brokerid={0}&amp;modelid={1}"/>-->
  </service>
</root>
