<?xml version="1.0" encoding="utf-8"?>

<urlrewritingnet rewriteOnlyVirtualUrls="true" contextItemsPrefix="QueryString"
                 defaultPage="http://car.h5.yiche.com/?referrer="
                 defaultProvider="RegEx" xmlns="http://www.urlrewriting.net/schemas/config/2006/07"
                 changeXmlUrl="http://carser.bitauto.com/forpicmastertoserial/ChangeURL.xml"
                 allSpellXmlUrl="http://carser.bitauto.com/forpicmastertoserial/AllSpellMasterToCar.xml"
                 backallSpellXmlFile="E:\wwwroot\Carchannelv2.1\data\AllSpellMasterToCar.xml">
  <!-- otherMatchUrl="http://carser.bitauto.com/forpicmastertoserial/SpecialNecessaryMatch.xml" -->

  <rewrites>
    
    <!--主品牌地址-->
    <add name="RewriteMaster" virtualUrl="^~/([\w-]+)" rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/cssummary/CarMasterPage.aspx?bsid=$1&amp;" ignoreCase="true" matchType="Master" />
    
    <!--品牌地址-->
    <add name="RewriteBrand" virtualUrl="^~/([\w-]+)" rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/cssummary/CarBrandPage.aspx?cbid=$1&amp;" ignoreCase="true" matchType="Brand" /> 

    <!--经纪人定制版-->
    <add name="RewriteSerialBrokerV2" virtualUrl="^~/([\w-]+)/broker/(\d+)"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/cssummary/v3/CsSummary.aspx?csID=$1&amp;brokerid=$2" ignoreCase="true" matchType="Serial" />

    <!--经销商定制版经销商地图详情页-->
    <add name="RewriteDealerMapDetail" virtualUrl="^~/([\w-]+)/dealer/(\d+)/dealermap/(\d+)"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/cssummary/DealersMap/DealerMapDetial.aspx?csID=$1&amp;dealerid=$2&amp;cityid=$3" ignoreCase="true"
         matchType="Serial" />

    <!--经销商定制版-->
    <add name="RewriteSerialDealerV2" virtualUrl="^~/([\w-]+)/dealer/(\d+)"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/cssummary/v3/CsSummary.aspx?csID=$1&amp;dealerid=$2" ignoreCase="true" matchType="Serial" />

    <!--经销商人+车+店定制版-->
    <add name="RewriteSerialDealerSaleV2" virtualUrl="^~/([\w-]+)/dealersale/(\d+)"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/cssummary/v3/CsSummary.aspx?csID=$1&amp;dealerpersonid=$2" ignoreCase="true" matchType="Serial" />

    <!--惠买车定制版-->
    <add name="RewriteSerialHuiMaiCheGuWenV1" virtualUrl="^~/([\w-]+)/hmcguwen/(\d+)"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/cssummary/v3/CsSummary.aspx?csID=$1&amp;agentid=$2" ignoreCase="true" matchType="Serial" />

    <!--车主卡定制版-->
    <add name="RewriteSerialChezhukaV2" virtualUrl="^~/([\w-]+)/chezhuka"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/cssummary/v3/CsSummary.aspx?csID=$1&amp;chezhukamark=chezhuka" ignoreCase="true" matchType="Serial" />

    <!--用户版经销商地图详情页-->
    <add name="RewriteSerialDealerMapDetail" virtualUrl="^~/([\w-]+)/dealermap/(\d+)"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/cssummary/DealersMap/DealerMapDetial.aspx?csID=$1&amp;cityid=$2" ignoreCase="true" matchType="Serial" />
    
    <!--正常版-->
    <add name="RewriteSerial" virtualUrl="^~/([\w-]+)" rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/cssummary/v7/CsSummary.aspx?csID=$1&amp;IsUserEdition=1&amp;" ignoreCase="true" matchType="Serial" />
    
  </rewrites>

</urlrewritingnet>