<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false"/>
  </configSections>
  <log4net configSource="Config\log4net.config"/>
  <connectionStrings>
    <!--Mongodb 连接字符串-->
    <add name="MongoDB.ConnectionString" connectionString ="mongodb://192.168.0.128/?safe=true"/>
  </connectionStrings>
  <system.web>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="zh-CN"/>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Windows"/>
    <customErrors defaultRedirect="http://car.bitauto.com" mode="Off"/>
    <caching>
      <outputCache omitVaryStar="true" />
    </caching>
  </system.web>
  <BitAuto.Utils.CommonPlatformConfig>
    <CommonConfig>
      <CacheConfig defaultProvider="EnyimProvider">
        <providers>
          <!-- 
			        servers="127.0.0.1:11211"  memcache服务端列表，
			        socketConnectTimeout="1000"  socket链接超时时间
			        socketTimeout="1000"		socket超时时间
			        defaultExpireTime="5000000"  默认的缓存时间，单位是毫秒
              <add name="MemcachedCacheProvider" type="BitAuto.Services.Cache.MemcachedCacheProvider,BitAuto.Services"
						 servers="192.168.200.126:11211,192.168.200.126:11211" socketConnectTimeout="1000" socketTimeout="1000" defaultExpireTime="5000000"/>
			    -->
          <!-- 
			    如果采用了EnyimProvider，只有type和defaultExpireTime属性生效，其他参数在<enyim.com>配置节中指定
			    -->
          <add name="EnyimProvider" type="BitAuto.Services.Cache.EnyimProvider,BitAuto.Services" defaultExpireTime="5000000"/>
        </providers>
      </CacheConfig>
    </CommonConfig>
  </BitAuto.Utils.CommonPlatformConfig>
  <enyim.com>
    <memcached>
      <servers>
        <!--<add address="192.168.0.173" port="11211" />-->
        <add address="192.168.200.126" port="11212"/>
        <add address="192.168.200.126" port="11211"/>
        <!--<add address="59.151.102.126" port="11212" />-->
        <!--<add address="59.151.102.227" port="11212" />-->
      </servers>
      <socketPool minPoolSize="10" maxPoolSize="100" connectionTimeout="00:00:10" deadTimeout="00:02:00"/>
    </memcached>
  </enyim.com>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <add name="business" path="*" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness32"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>