<?xml version="1.0" encoding="utf-8"?>
<ParameterConfigurationList>
    <Parameter Name="参数" Type="1">
        <ParameterList Name="基本信息" Type="2">
            <item Name="保修政策" Value="Car_RepairPolicy" Type="3" Unit="" ParamID="398" DataType="BigInt" InputTypeId="3" />
            <item Name="上市日期(年)" Value="Car_MarketYear" Type="3" Unit="年" ParamID="385" DataType="BigInt" InputTypeId="6" />
            <item Name="年款" Value="Car_YearType" Type="3" Unit="" ParamID="-1" />
        </ParameterList>
        <ParameterList Name="基本性能" Type="2">
            <Item Value="Perf_ZongHeYouHao" Name="综合工况油耗" ParamID="782" Unit="L" />
            <Item Value="Perf_ShiQuYouHao" Name="市区工况油耗" ParamID="783" Unit="L" />
            <Item Value="Perf_ShiJiaoYouHao" Name="市郊工况油耗" ParamID="784" Unit="L" />
            <Item Value="Perf_FuelCostPer100" Name="百公里等速油耗" ParamID="658" Unit="L" />
            <Item Value="Perf_MaxClimbDegree" Name="最大爬坡度" ParamID="661" Unit="%" />
            <Item Value="Perf_MaxClimbDegreeValue" Name="最大爬坡度(值)" ParamID="738" Unit="" />
            <Item Value="OutSet_MinWheelRadius" Name="最小转弯半径" ParamID="590" Unit="m" />
            <Item Value="Perf_MaxPaddleDepth" Name="最大涉水深度" ParamID="662" Unit="mm" />
            <Item Value="Perf_DriveType" Name="驱动方式" ParamID="655" Unit="" />
            <Item Value="Perf_SeatNum" Name="乘员人数（含司机）" ParamID="665" Unit="人" />
            <Item Value="Perf_WindBlock" Name="风阻系数" ParamID="670" Unit="Cd" />
            <Item Value="Perf_SlackSpeedNoise" Name="车内怠速噪音" ParamID="666" Unit="dB(A)" />
            <Item Value="Perf_AveSpeedNoise" Name="车内等速噪音" ParamID="651" Unit="dB(A)" />
            <Item Value="Perf_FEaxleWeight" Name="前轴荷" ParamID="657" Unit="kg" />
            <Item Value="Perf_BEaxleWeight" Name="后轴荷" ParamID="652" Unit="kg" />
            <Item Value="Perf_Weight" Name="整备质量" ParamID="669" Unit="kg" />
            <Item Value="Perf_TotalWeight" Name="允许总质量" ParamID="668" Unit="kg" />
            <Item Value="Perf_Tonnage" Name="最大承载质量" ParamID="667" Unit="kg" />
            <Item Value="Perf_AccelerateTime" Name="加速时间" ParamID="650" Unit="s" />
            <Item Value="Perf_BrakeGap" Name="制动距离(100—0 km/h)" ParamID="653" Unit="m" />
            <Item Value="Perf_MaxSpeed" Name="最高车速" ParamID="663" Unit="km/h" />
            <Item Value="Perf_FuelCostPerRate100" Name="百公里等速油耗速度" ParamID="659" Unit="km/h" />
            <Item Value="Perf_CNCAPfuelconsumption" Name="CNCAP市区工况油耗" ParamID="854" Unit="L" />
            <Item Value="Perf_CNCAPSuburbsfuelconsumption" Name="CNCAP市郊工况油耗" ParamID="855" Unit="L" />
            <Item Value="Perf_Prototypetestingfuelconsumption" Name="三部委检测油耗" ParamID="862" Unit="L" />
            <Item Value="Perf_Throughtheangle" Name="通过角" ParamID="890" Unit="" />
        </ParameterList>
        <ParameterList Name="车身结构" Type="2">
            <Item Value="Body_Doors" Name="车门数" ParamID="563" Unit="" />
            <Item Value="Body_Type" Name="车身型式" ParamID="574" Unit="" />
            <Item Value="Body_Islong" Name="车身加长型" ParamID="566" Unit="" />
            <Item Value="Body_TipType" Name="车顶型式" ParamID="573" Unit="" />
            <Item Value="Body_Louver" Name="天窗型式" ParamID="567" Unit="" />
            <Item Value="Body_LouverOCType" Name="天窗开合方式" ParamID="568" Unit="" />
            <Item Value="Body_sailType" Name="车篷型式" ParamID="570" Unit="" />
            <Item Value="Body_CalashOCType" Name="车篷开合方式" ParamID="562" Unit="" />
            <Item Value="Body_CalashOCTime" Name="车篷开合时间" ParamID="561" Unit="s" />
            <Item Value="Body_Struc" Name="车体结构" ParamID="572" Unit="" />
        </ParameterList>
        <ParameterList Name="外部尺寸" Type="2">
            <Item Value="OutSet_Length" Name="长" ParamID="588" Unit="mm" />
            <Item Value="OutSet_Width" Name="宽" ParamID="593" Unit="mm" />
            <Item Value="OutSet_Height" Name="高" ParamID="586" Unit="mm" />
            <Item Value="OutSet_WheelBase" Name="轴距" ParamID="592" Unit="mm" />
            <Item Value="OutSet_FrontTread" Name="前轮距" ParamID="585" Unit="mm" />
            <Item Value="OutSet_BackTread" Name="后轮距" ParamID="582" Unit="mm" />
            <Item Value="OutSet_FhangLength" Name="前悬长度" ParamID="584" Unit="mm" />
            <Item Value="OutSet_BhangLength" Name="后悬长度" ParamID="583" Unit="mm" />
            <Item Value="OutSet_NearCorner" Name="接近角" ParamID="591" Unit="" />
            <Item Value="OutSet_AwayCorner" Name="离去角" ParamID="581" Unit="" />
            <Item Value="OutSet_MinGapFromEarth" Name="最小离地间隙" ParamID="589" Unit="mm" />
        </ParameterList>
        <ParameterList Name="内部尺寸" Type="2">
            <Item Value="Inset_FheadSpace" Name="前排头部空间" ParamID="455" Unit="mm" />
            <Item Value="Inset_BheadSpace" Name="后排头部空间" ParamID="448" Unit="mm" />
            <Item Value="Inset_FjianSpace" Name="前排肩部空间" ParamID="458" Unit="mm" />
            <Item Value="Inset_BjianSpace" Name="后排肩部空间" ParamID="451" Unit="mm" />
            <Item Value="Inset_FFootSpace" Name="前排腿部最大空间" ParamID="454" Unit="mm" />
            <Item Value="Inset_BFootSpace" Name="后排腿部最大空间" ParamID="447" Unit="mm" />
            <Item Value="Inset_ThirdHeight" Name="第三排头部空间" ParamID="463" Unit="mm" />
            <Item Value="Inset_ThirdJSpace" Name="第三排肩部空间" ParamID="464" Unit="mm" />
            <Item Value="Inset_ThirdFootSpace" Name="第三排腿部空间" ParamID="462" Unit="mm" />
            <Item Value="Inset_BackUpwidth" Name="行李箱最大开口宽度" ParamID="442" Unit="mm" />
            <Item Value="Inset_BaggageMWidth" Name="行李箱最小开口宽度" ParamID="445" Unit="mm" />
            <Item Value="Inset_BackUpheight" Name="行李箱开口离地高度" ParamID="440" Unit="mm" />
            <Item Value="Inset_BaggageHeight" Name="行李箱内部高度" ParamID="444" Unit="mm" />
            <Item Value="Inset_BaggageDepth" Name="行李箱内部深度" ParamID="443" Unit="mm" />
            <Item Value="Inset_BaggageWidth" Name="行李箱内部最大宽度" ParamID="446" Unit="mm" />
            <Item Value="Inset_TrunkCapacity" Name="行李箱容积" ParamID="465" Unit="L" />
            <Item Value="Inset_TrunkCapacityE" Name="行李箱最大拓展容积" ParamID="466" Unit="L" />
            <Item Value="Inset_BackUpOpenType" Name="行李箱打开方式" ParamID="441" Unit="" />
        </ParameterList>
        <ParameterList Name="燃油" Type="2">
            <Item Value="Oil_FuelCapacity" Name="燃油箱容积" ParamID="576" Unit="L" />
            <Item Value="Oil_SboxSpace" Name="副油箱容积" ParamID="579" Unit="L" />
            <Item Value="Oil_FuelType" Name="燃料类型" ParamID="578" Unit="" />
            <!-- <Item Value="Oil_FuelTab" Name="燃油标号" ParamID="577" Unit="" /> -->
            <Item Value="Oil_SupplyType" Name="供油方式" ParamID="580" Unit="" />
            <Item Value="Engine_Type" Name="型号" ParamID="436" Unit="" />
            <Item Value="Engine_Company" Name="生产厂家" ParamID="413" Unit="" />
            <Item Value="Engine_Exhaust" Name="排量" ParamID="423" Unit="mL" />
            <Item Value="Engine_MaxSpeed" Name="最高转速" ParamID="431" Unit="r/min(rpm)" />
            <Item Value="Engine_MaxPower" Name="最大功率" ParamID="430" Unit="kW" />
            <Item Value="Engine_PowerSpeed" Name="最大功率转速" ParamID="433" Unit="r/min(rpm)" />
            <Item Value="Engine_MaxNJ" Name="最大扭矩" ParamID="429" Unit="Nm   " />
            <Item Value="Engine_NJSpeed" Name="最大扭矩转速" ParamID="432" Unit="r/min(rpm)" />
            <Item Value="Engine_CylinderRank" Name="气缸排列型式" ParamID="418" Unit="" />
            <Item Value="Engine_Location" Name="发动机位置" ParamID="428" Unit="" />
            <Item Value="Engine_InhaleType" Name="进气型式" ParamID="425" Unit="" />
            <!-- <Item Value="Engine_AddPressType" Name="增压方式" ParamID="408" Unit="" />-->
            <Item Value="Engine_Camshaft" Name="凸轮轴" ParamID="410" Unit="" />
            <Item Value="Engine_SpTech" Name="特有技术" ParamID="435" Unit="" />
            <Item Value="Engine_CylinderNum" Name="汽缸数" ParamID="417" Unit="个" />
            <Item Value="Engine_ValvePerCylinder" Name="每缸气门数" ParamID="437" Unit="个" />
            <Item Value="Engine_CylinderDM" Name="缸径" ParamID="415" Unit="mm" />
            <Item Value="Engine_Route" Name="行程" ParamID="434" Unit="mm" />
            <Item Value="Engine_ValveTM" Name="可变气门正时" ParamID="438" Unit="" />
            <Item Value="Engine_ValveVTM" Name="可变气门升程" ParamID="439" Unit="" />
            <Item Value="Engine_CompressRat" Name="压缩比" ParamID="414" Unit=":1" />
            <Item Value="Engine_CylinderMaterial" Name="缸体材料" ParamID="416" Unit="" />
            <Item Value="Engine_CylinderTMaterial" Name="缸盖材料" ParamID="419" Unit="" />
            <Item Value="Engine_EnvirStandard" Name="环保标准" ParamID="421" Unit="" />
            <Item Value="Engine_EGR" Name="废气再循环（EGR）" ParamID="420" Unit="" />
            <Item Value="Engine_Catalyze" Name="三元催化器" ParamID="411" Unit="" />
            <Item Value="Engine_AIFluid_VL" Name="防冻液容积" ParamID="409" Unit="L" />
            <Item Value="Engine_Eoil_VL" Name="机油容积" ParamID="422" Unit="L" />
            <Item Value="Engine_horsepower" Name="最大马力" ParamID="791" Unit="Ps" />
        </ParameterList>
        <ParameterList Name="底盘操控" Type="2">
            <Item Value="UnderPan_RedirectorType" Name="转向机形式" ParamID="722" Unit="" />
            <Item Value="UnderPan_DriveAsistTurn" Name="转向助力" ParamID="735" Unit="" />
            <Item Value="UnderPan_AsistTurnTune" Name="随速助力转向调节(EPS)" ParamID="732" Unit="" />
            <Item Value="UnderPan_circleNum" Name="方向盘回转总圈数" ParamID="734" Unit="圈" />
            <Item Value="UnderPan_TransmissionType" Name="变速器型式" ParamID="712" Unit="" />
            <Item Value="UnderPan_ForwardGearNum" Name="前进档数" ParamID="724" Unit="" />
            <Item Value="UnderPan_GearChangePosition" Name="变速箱变速杆位置" ParamID="730" Unit="" />
            <Item Value="UnderPan_TransferCaseGearNum" Name="分动箱档数" ParamID="710" Unit="" />
            <Item Value="UnderPan_TransferCaseType" Name="分动箱型式" ParamID="711" Unit="" />
            <Item Value="UnderPan_TransferCaseControl" Name="分动箱操纵" ParamID="709" Unit="" />
            <Item Value="UnderPan_ReductionRatio" Name="主减速比" ParamID="723" Unit="" />
            <Item Value="UnderPan_CentralDiffLock" Name="中央差速器锁" ParamID="733" Unit="" />
            <Item Value="UnderPan_FrontAxleDiffLock" Name="前轴差速器锁" ParamID="725" Unit="" />
            <Item Value="UnderPan_RearAxleDiffLock" Name="后轴差速器锁" ParamID="717" Unit="" />
            <Item Value="UnderPan_FrontBrakeType" Name="前制动类型" ParamID="726" Unit="" />
            <Item Value="UnderPan_RearBrakeType" Name="后制动类型" ParamID="718" Unit="" />
            <Item Value="UnderPan_ParkingBrake" Name="驻车制动器" ParamID="716" Unit="" />
            <Item Value="UnderPan_ShockAbsorberType" Name="减震器类型" ParamID="705" Unit="" />
            <Item Value="UnderPan_FrontSuspensionType" Name="前悬挂类型" ParamID="728" Unit="" />
            <Item Value="UnderPan_RearSuspensionType" Name="后悬挂类型" ParamID="720" Unit="" />
            <Item Value="UnderPan_SuspensionHeightControl" Name="悬挂高度调节" ParamID="708" Unit="" />
            <Item Value="UnderPan_RimMaterial" Name="轮毂材料" ParamID="704" Unit="" />
            <Item Value="UnderPan_FrontRimStandard" Name="前轮毂规格" ParamID="727" Unit="" />
            <Item Value="UnderPan_RearRimStandard" Name="后轮毂规格" ParamID="719" Unit="" />
            <Item Value="UnderPan_FrontTyreStandard" Name="前轮胎规格" ParamID="729" Unit="" />
            <Item Value="UnderPan_RearTyreStandard" Name="后轮胎规格" ParamID="721" Unit="" />
            <Item Value="UnderPan_SpareWheelStandard" Name="备胎类型" ParamID="707" Unit="" />
            <Item Value="UnderPan_SpareWheelPosition" Name="备胎位置" ParamID="706" Unit="" />
            <Item Value="UnderPan_ZeroPressureDrive" Name="零压续行(零胎压继续行驶)" ParamID="715" Unit="" />
        </ParameterList>
    </Parameter>
    <Configuration Name="配置" Type="1">
        <ConfigurationList Name="外部配置" Type="2">
            <Item Value="OutStat_BodyColor" Name="车身颜色" ParamID="598" Unit="" />
            <Item Value="OutStat_PaintType" Name="车身油漆" ParamID="619" Unit="" />
            <Item Value="OutStat_InductEmpennage" Name="后导流尾翼" ParamID="616" Unit="" />
            <Item Value="OutStat_TopSnelf" Name="车顶行李箱架" ParamID="627" Unit="" />
            <Item Value="OutStat_Besiege" Name="运动包围" ParamID="597" Unit="" />
            <Item Value="OutStat_Doorglasstype" Name="车门玻璃类型" ParamID="605" Unit="" />
            <Item Value="OutStat_CarWindow" Name="车窗" ParamID="601" Unit="" />
            <Item Value="OutStat_Fwindglasstype" Name="前风窗玻璃类型" ParamID="615" Unit="" />
            <Item Value="OutStat_LockCease" Name="电动窗锁止功能" ParamID="617" Unit="" />
            <Item Value="OutStat_Bwindglasstype" Name="后风窗玻璃类型" ParamID="599" Unit="" />
            <Item Value="OutStat_AvoidNipHead" Name="电动窗防夹功能" ParamID="594" Unit="" />
            <Item Value="OutStat_BackCurtain" Name="后窗遮阳帘" ParamID="595" Unit="" />
            <Item Value="OutStat_BWindHot" Name="后风窗加热功能" ParamID="600" Unit="" />
            <Item Value="OutStat_BBrushSensor" Name="后雨刷器" ParamID="596" Unit="" />
            <Item Value="OutStat_FBrushSensor" Name="雨刷传感器" ParamID="606" Unit="" />
            <Item Value="OutStat_ReMirrorDazzle" Name="内后视镜防眩目功能" ParamID="621" Unit="" />
            <Item Value="OutStat_ReMirrorElecTune" Name="外后视镜电动调节" ParamID="622" Unit="" />
            <Item Value="OutStat_ReMirrorFold" Name="外后视镜电动折叠功能" ParamID="623" Unit="" />
            <Item Value="OutStat_ReMirrorHot" Name="外后视镜加热功能" ParamID="624" Unit="" />
            <Item Value="OutStat_ReMirrormemory" Name="外后视镜记忆功能" ParamID="625" Unit="" />
            <Item Value="OutStat_FrontLightType" Name="前照灯类型" ParamID="614" Unit="" />
            <Item Value="OutStat_FLightDazzle" Name="会车前灯防眩目功能" ParamID="610" Unit="" />
            <Item Value="OutStat_FLightSteer" Name="前大灯随动转向" ParamID="613" Unit="" />
            <Item Value="OutStat_FLightDelay" Name="前大灯延时关闭" ParamID="611" Unit="" />
            <Item Value="OutStat_FfogLamp" Name="前雾灯" ParamID="607" Unit="" />
            <Item Value="OutStat_FLightClose" Name="前大灯自动开闭" ParamID="609" Unit="" />
            <Item Value="OutStat_FLightHeightTune" Name="前照灯照射高度调节" ParamID="612" Unit="" />
            <Item Value="OutStat_FLightAutoClean" Name="前照灯自动清洗功能" ParamID="608" Unit="" />
            <Item Value="OutStat_SideLight" Name="侧转向灯" ParamID="626" Unit="" />
            <Item Value="OutStat_luggageLight" Name="行李箱灯" ParamID="618" Unit="" />
            <Item Value="OutStat_PerchStopLight" Name="高位(第三)制动灯" ParamID="620" Unit="" />
            <Item Value="InStat_ElectricPick-upDoors" Name="电动吸合门" ParamID="821" Unit="" />
            <Item Value="OutStat_DaytimeRunningLights" Name="日间行车灯" ParamID="794" Unit="" />
            <Item Value="OutStat_atmosphereLight" Name="车内氛围灯" ParamID="795" Unit="" />
            <Item Value="OutStat_LEDtaillights" Name="LED尾灯" ParamID="846" Unit="" />
            <Item Value="OutStat_UV_InsulatinGlass" Name="防紫外线/隔热玻璃" ParamID="796" Unit="" />
            <Item Value="OutStat_SecondRowCurtain" Name="后排侧遮阳帘" ParamID="797" Unit="" />
        </ConfigurationList>
        <ConfigurationList Name="内饰" Type="2">
            <Item Value="InStat_SteerMaterial" Name="方向盘表面材料" ParamID="548" Unit="" />
            <Item Value="InStat_SteerTuneDirection" Name="方向盘调节方向" ParamID="551" Unit="" />
            <Item Value="InStat_SteerRange" Name="方向盘幅数" ParamID="550" Unit="" />
            <Item Value="InStat_SteerMomery" Name="方向盘记忆设置" ParamID="549" Unit="" />
            <Item Value="InStat_SteerTuneType" Name="方向盘调节方式" ParamID="552" Unit="" />
            <Item Value="InStat_SteerEtc" Name="方向盘换档" ParamID="547" Unit="" />
            <Item Value="InStat_PanelDisplay" Name="仪表板显示型式" ParamID="532" Unit="" />
            <Item Value="InStat_PanelLightColor" Name="仪表板背光颜色" ParamID="533" Unit="" />
            <Item Value="InStat_PanelLumTune" Name="仪表板亮度可调" ParamID="534" Unit="" />
            <Item Value="InStat_Hud" Name="HUD抬头数字显示" ParamID="518" Unit="" />
            <Item Value="InStat_Computer" Name="行车电脑" ParamID="500" Unit="" />
            <Item Value="InStat_Clock" Name="时钟" ParamID="496" Unit="" />
            <Item Value="InStat_Otemperature" Name="车外温度显示" ParamID="531" Unit="" />
            <Item Value="InStat_OilWarn" Name="燃油不足警告方式" ParamID="530" Unit="" />
            <Item Value="InStat_Tach" Name="转速表" ParamID="553" Unit="" />
            <Item Value="InStat_Guide" Name="罗盘/指南针" ParamID="517" Unit="" />
            <Item Value="InStat_Altitude" Name="海拔仪" ParamID="472" Unit="" />
            <Item Value="InStat_SeatColor" Name="座椅颜色" ParamID="542" Unit="" />
            <Item Value="InStat_SeatMaterial" Name="座椅面料" ParamID="544" Unit="" />
            <Item Value="InStat_SportSeat" Name="运动座椅" ParamID="546" Unit="" />
            <Item Value="InStat_SeatKnead" Name="座椅按摩功能" ParamID="543" Unit="" />
            <Item Value="InStat_DSeatHot" Name="驾驶座座椅加热" ParamID="504" Unit="" />
            <Item Value="InStat_DSeatProp" Name="驾驶座腰部支撑调节" ParamID="506" Unit="" />
            <Item Value="InStat_DSeatTuneType" Name="驾驶座座椅调节方式" ParamID="508" Unit="" />
            <Item Value="InStat_DSeatTuneDirection" Name="驾驶座座椅调节方向" ParamID="507" Unit="" />
            <Item Value="InStat_DSeatMomery" Name="驾驶座椅调节记忆位置组数" ParamID="505" Unit="" />
            <Item Value="InStat_DASeatTuneType" Name="副驾驶座椅调节方式" ParamID="503" Unit="" />
            <Item Value="InStat_DASeatTuneDirection" Name="副驾驶座椅调节方向" ParamID="502" Unit="" />
            <Item Value="InStat_FCenterArmrest" Name="前座中央扶手" ParamID="514" Unit="" />
            <Item Value="InStat_BCenterArmrest" Name="后座中央扶手" ParamID="475" Unit="" />
            <Item Value="InStat_BSafePillow" Name="主动式安全头枕" ParamID="481" Unit="" />
            <Item Value="InStat_BSeatPillow" Name="后座椅头枕" ParamID="483" Unit="" />
            <Item Value="InStat_FSeatPillowA" Name="前座椅头枕调节" ParamID="515" Unit="" />
            <Item Value="InStat_BSeatPillowA" Name="后座椅头枕调节" ParamID="484" Unit="" />
            <Item Value="InStat_ChildSeatFix" Name="儿童安全座椅固定装置" ParamID="495" Unit="" />
            <Item Value="InStat_BSeatLieRate" Name="后排座位放倒比例" ParamID="482" Unit="" />
            <Item Value="InStat_SteeringAdjustmentUpAndDown" Name="方向盘上下调节" ParamID="798" Unit="" />
            <Item Value="SteeringAdjustmentLeftAndRight" Name="方向盘前后调节" ParamID="799" Unit="" />
            <Item Value="InStat_Automaticcruise" Name="自适应巡航" ParamID="893" Unit="" />
            <Item Value="InStat_InteriorColor" Name="内饰颜色" ParamID="801" Unit="" />
            <Item Value="InStat_SeatHeat" Name="座椅通风" ParamID="804" Unit="" />
            <Item Value="InStat_3rdRowSeats" Name="第三排座椅" ParamID="805" Unit="" />
            <Item Value="InStat_ElectricSeatMemory" Name="电动座椅记忆" ParamID="803" Unit="" />
        </ConfigurationList>
        <ConfigurationList Name="影音空调" Type="2">
            <Item Value="InStat_Cassette" Name="卡带" ParamID="487" Unit="" />
            <Item Value="InStat_Radio" Name="收音机" ParamID="537" Unit="" />
            <Item Value="InStat_MP3Player" Name="MP3" ParamID="526" Unit="" />
            <Item Value="InStat_VCDPlayer" Name="VCD" ParamID="558" Unit="" />
            <Item Value="InStat_CDPlayer" Name="CD" ParamID="490" Unit="" />
            <Item Value="InStat_CDNum" Name="CD碟数" ParamID="489" Unit="碟" />
            <Item Value="InStat_DVDPlayer" Name="DVD" ParamID="510" Unit="" />
            <Item Value="InStat_DVDNum" Name="DVD碟数" ParamID="509" Unit="碟" />
            <Item Value="InStat_Video" Name="车载电视" ParamID="559" Unit="" />
            <Item Value="InStat_CCEscreen" Name="中控台液晶屏" ParamID="488" Unit="" />
            <Item Value="InStat_BEscreen" Name="后排液晶显示器" ParamID="477" Unit="" />
            <Item Value="InStat_Audiobrand" Name="音响品牌" ParamID="473" Unit="" />
            <Item Value="InStat_LoudHailer" Name="扬声器数量" ParamID="523" Unit="" />
            <Item Value="InStat_AirCSystem" Name="空调" ParamID="470" Unit="" />
            <Item Value="InStat_AirCType" Name="空调控制方式" ParamID="471" Unit="" />
            <Item Value="InStat_HumidityTune" Name="湿度调节" ParamID="519" Unit="" />
            <Item Value="InStat_TemperAreaCount" Name="温区个数" ParamID="555" Unit="个" />
            <Item Value="InStat_BleakAirNum" Name="后排出风口" ParamID="478" Unit="" />
            <Item Value="InStat_leakAirNum" Name="出风口个数" ParamID="522" Unit="个" />
            <Item Value="InStat_ExternalAudioInterface" Name="外接音源接口" ParamID="810" Unit="" />
            <Item Value="InStat_AudioFormatSupport" Name="音频格式支持" ParamID="809" Unit="" />
            <Item Value="InStat_Human-machineInteractionSystem" Name="人机交互系统" ParamID="806" Unit="" />
            <Item Value="InStat_BAirCSystem" Name="后排独立空调" ParamID="838" Unit="" />
            <Item Value="InStat_TemperSubCount" Name="温度分区控制" ParamID="839" Unit="" />
            <Item Value="InStat_AirCondPollenFilter" Name="空气调节/花粉过滤" ParamID="840" Unit="" />
        </ConfigurationList>
        <ConfigurationList Name="便利功能" Type="2">
            <Item Value="InStat_PowerNum" Name="车内电源插口数量" ParamID="536" Unit="个" />
            <Item Value="InStat_12VPower" Name="车内电源电压" ParamID="467" Unit="" />
            <Item Value="InStat_ReadingLight" Name="车厢前阅读灯" ParamID="539" Unit="" />
            <Item Value="InStat_BReadingLight" Name="车厢后阅读灯" ParamID="480" Unit="" />
            <Item Value="InStat_ILightCloseDelay" Name="车内灯光延时关闭" ParamID="520" Unit="" />
            <Item Value="InStat_SpeedCruise" Name="定速巡航系统" ParamID="545" Unit="" />
            <Item Value="InStat_GPS" Name="GPS电子导航" ParamID="516" Unit="" />
            <Item Value="Perf_ElecLimitSpeed" Name="电子限速" ParamID="656" Unit="" />
            <Item Value="UnderPan_RRadar" Name="倒车雷达" ParamID="702" Unit="" />
            <Item Value="UnderPan_RImage" Name="倒车影像" ParamID="703" Unit="" />
            <Item Value="InStat_CenterControlLock" Name="中控门锁" ParamID="493" Unit="" />
            <Item Value="UnderPan_TyrePressureWatcher" Name="胎压检测装置" ParamID="714" Unit="" />
            <Item Value="InStat_POwerCleaner" Name="车门/行李箱电吸" ParamID="535" Unit="" />
            <Item Value="InStat_WireLink" Name="无线上网功能" ParamID="560" Unit="" />
            <Item Value="InStat_Tel" Name="车载电话" ParamID="554" Unit="" />
            <Item Value="InStat_Bluetooth" Name="蓝牙系统" ParamID="479" Unit="" />
            <Item Value="InStat_carFridge" Name="车载冰箱" ParamID="485" Unit="" />
            <Item Value="InStat_MultiFuncSteer" Name="多功能方向盘" ParamID="528" Unit="" />
            <Item Value="InStat_MultiFuncsSteer" Name="多功能方向盘功能" ParamID="527" Unit="" />
            <Item Value="InStat_AIgnitionSys" Name="无钥匙点火系统" ParamID="469" Unit="" />
            <Item Value="InStat_Rckey" Name="遥控钥匙" ParamID="538" Unit="" />
            <Item Value="InStat_RemoteTrunk" Name="遥控行李箱盖" ParamID="541" Unit="" />
            <Item Value="InStat_COpenType" Name="行李箱盖车内开启" ParamID="501" Unit="" />
            <Item Value="InStat_TrunkType" Name="行李箱盖开合方式" ParamID="556" Unit="" />
            <Item Value="InStat_RemoteOilCover" Name="遥控油箱盖" ParamID="540" Unit="" />
            <Item Value="InStat_OilLidOpen" Name="油箱盖车内开启" ParamID="529" Unit="" />
            <Item Value="InStat_CenterBox" Name="中央置物盒" ParamID="491" Unit="" />
            <Item Value="InStat_FCarShelf" Name="前排杯架" ParamID="513" Unit="" />
            <Item Value="InStat_BCarShelf" Name="后排杯架" ParamID="474" Unit="" />
            <Item Value="InStat_ClothesHook" Name="衣物挂钩" ParamID="497" Unit="" />
            <Item Value="InStat_FaceMirror" Name="遮阳板化妆镜" ParamID="512" Unit="" />
            <Item Value="UnderPan_PRadar" Name="泊车雷达(车前)" ParamID="800" Unit="" />
            <Item Value="InStat_AutoParking" Name="自动泊车入位" ParamID="816" Unit="" />
            <Item Value="InStat_RoadMergeAuxiliary" Name="并线辅助" ParamID="817" Unit="" />
            <Item Value="InStat_ActiveSafetySystems" Name="主动刹车/主动安全系统" ParamID="818" Unit="" />
            <Item Value="InStat_NightVisionSystem" Name="夜视系统" ParamID="819" Unit="" />
            <Item Value="InStat_PanoramicCamera" Name="全景摄像头" ParamID="820" Unit="" />
            <Item Value="InStat_OverallActiveSteeringSystem" Name="整体主动转向系统" ParamID="841" Unit="" />
        </ConfigurationList>
        <ConfigurationList Name="安全配置" Type="2">
            <Item Value="Safe_ABD" Name="ABD(自动制动差速器)" ParamID="672" Unit="" />
            <Item Value="Safe_ABS" Name="ABS(刹车防抱死制动系统)" ParamID="673" Unit="" />
            <Item Value="Safe_ASR" Name="ASR(驱动防滑装置)" ParamID="674" Unit="" />
            <Item Value="UnderPan_DSC" Name="DSC(动态稳定控制系统)" ParamID="700" Unit="" />
            <Item Value="Safe_EBA" Name="EBA/EVA(紧急制动辅助系统)" ParamID="684" Unit="" />
            <Item Value="Safe_EBD" Name="EBD/EBV(电子制动力分配)" ParamID="685" Unit="" />
            <Item Value="Safe_EDS" Name="EDS(电子差速锁)" ParamID="687" Unit="" />
            <Item Value="Safe_ESP" Name="ESP(电子稳定程序)" ParamID="688" Unit="" />
            <Item Value="Safe_TCS" Name="TCS(牵引力控制系统)" ParamID="698" Unit="" />
            <Item Value="Safe_VATS" Name="电子防盗系统" ParamID="699" Unit="" />
            <Item Value="Safe_EATS" Name="发动机防盗系统" ParamID="683" Unit="" />
            <Item Value="Safe_Other" Name="主动安全-其他" ParamID="693" Unit="" />
            <Item Value="Safe_DriverGasBag" Name="驾驶位安全气囊" ParamID="682" Unit="" />
            <Item Value="Safe_SubDriverGasBag" Name="副驾驶位安全气囊" ParamID="697" Unit="" />
            <Item Value="Safe_FheadGasbag" Name="前排头部气囊(气帘)" ParamID="690" Unit="" />
            <Item Value="Safe_BheadGasbag" Name="后排头部气囊(气帘)" ParamID="679" Unit="" />
            <Item Value="Safe_FsadGasbag" Name="前排侧安全气囊" ParamID="691" Unit="" />
            <Item Value="Safe_BsadGasbag" Name="后排侧安全气囊" ParamID="680" Unit="" />
            <Item Value="Safe_SGasbagShrink" Name="副气囊锁止功能" ParamID="695" Unit="" />
            <Item Value="Safe_GasbagNum" Name="气囊气帘数量" ParamID="692" Unit="个" />
            <Item Value="Safe_BeltPosTune" Name="前安全带调节" ParamID="677" Unit="" />
            <Item Value="Safe_BeltPreTighten" Name="安全带预收紧功能" ParamID="678" Unit="" />
            <Item Value="UnderPan_lifeBeltlimit" Name="安全带限力功能" ParamID="701" Unit="" />
            <Item Value="Safe_BackBelt" Name="后排安全带" ParamID="675" Unit="" />
            <Item Value="Safe_BackthreespotBelt" Name="后排中间三点式安全带" ParamID="676" Unit="" />
            <Item Value="InStat_ChildLock" Name="儿童锁" ParamID="494" Unit="" />
            <Item Value="Safe_ShrinkFootBrake" Name="溃缩式制动踏板" ParamID="696" Unit="" />
            <Item Value="Safe_DoorAvoidHamCL" Name="车门防撞杆(防撞侧梁)" ParamID="681" Unit="" />
            <Item Value="UnderPan_turnShrink" Name="可溃缩转向柱" ParamID="713" Unit="" />
            <Item Value="Safe_KneeGasBag" Name="膝部气囊" ParamID="835" Unit="" />
            <Item Value="Safe_BeltReminder" Name="安全带未系提示" ParamID="836" Unit="" />
            <Item Value="Safe_CentralLock" Name="车内中控锁" ParamID="837" Unit="" />
            <Item Value="InStat_AutoPark" Name="自动驻车" ParamID="811" Unit="" />
            <Item Value="InStat_UphillAuxiliary" Name="上坡辅助" ParamID="812" Unit="" />
            <Item Value="InStat_HDC" Name="陡坡缓降" ParamID="813" Unit="" />
            <Item Value="UnderPan_ActiveSteeringSystem" Name="主动转向系统" ParamID="815" Unit="" />
        </ConfigurationList>
        <ConfigurationList Name="碰撞测试" Type="2">
            <Item Value="Injury_Star" Name="C-NCAP星级" ParamID="649" Unit="" />
            <Item Value="Injury_NCAP" Name="NCAP碰撞测试" ParamID="637" Unit="" />
        </ConfigurationList>
        <ConfigurationList Name="易车测试" Type="2">
            <Item Value="Perf_MeasuredAcceleration" Name="加速时间(0—100km/h)" ParamID="786" Unit="s" />
            <Item Value="Perf_BrakingDistance" Name="制动距离(100—0km/h)" ParamID="787" Unit="m" />
            <Item Value="Perf_MeasuredFuel" Name="油耗" ParamID="788" Unit="L/百公里" />
            <Item Value="Perf_MeasuredSlackSpeedNoise" Name="车内怠速噪音" ParamID="789" Unit="dB(A)" />
            <Item Value="Perf_MeasuredAveSpeedNoise40" Name="车内等速(40km/h)噪音" ParamID="857" Unit="dB(A)" />
            <Item Value="Perf_MeasuredAveSpeedNoise" Name="车内等速(60km/h)噪音" ParamID="790" Unit="dB(A)" />
            <Item Value="Perf_MeasuredAveSpeedNoise80" Name="车内等速(80km/h)噪音" ParamID="858" Unit="dB(A)" />
            <Item Value="Perf_MeasuredAveSpeedNoise100" Name="车内等速(100km/h)噪音" ParamID="859" Unit="dB(A)" />
            <Item Value="Perf_MeasuredAveSpeedNoise120" Name="车内等速(120km/h)噪音" ParamID="860" Unit="dB(A)" />
            <Item Value="Perf_Slalomspeed180" Name="18米绕桩速度" ParamID="861" Unit="km/h" />
            <Item Value="Perf_Maximumrearlegroom" Name="第二排腿部最大空间" ParamID="888" Unit="mm" />
            <Item Value="Perf_Minimumrearlegroom" Name="第二排腿部最小空间" ParamID="889" Unit="mm" />
            <Item Value="Perf_Thirdrowlegroom" Name="第三排腿部空间" ParamID="892" Unit="mm" />
        </ConfigurationList>
    </Configuration>
</ParameterConfigurationList>