<?xml version="1.0" encoding="utf-8" ?>
<PhotoImageConfig>
	<Item name="SavePath" value="\\192.168.0.174\Data\PhotoImage\"/>
    <!-- 线上目录配置 -->
    <!--<Item name="SavePath" value="E:\wwwroot\Carchannelv2.1\Data\PhotoImage\"/>-->
	<Item name="SerialColorPath" value="SerialColor\SerialColor_{0}.xml"/>
	<Item name="SerialColorAllPath" value="SerialColorAll\SerialColorAll_{0}.xml"/>
	<Item name="SerialPhotoListPath" value="SerialPhotoList\SerialPhotoList_{0}.xml"/>
	<Item name="SerialYearPath" value="SerialYear\SerialYear_{0}_{1}.xml"/>
	<Item name="SerialComparePath" value="SerialCompare.xml"/>
	<Item name="SerialPhotoComparePath" value="SerialPhotoCompare\SerialPhotoCompare_{0}.xml"/>
	<Item name="SerialClassPath" value="SerialClass\SerialClass_{0}.html"/>
	<Item name="SerialCoverPath" value="SerialCover.xml"/>
	<Item name="SerialCoverWithoutPath" value="SerialCoverWithout.xml"/>
	<Item name="SerialStandardImagePath" value="SerialStandardImage\SerialStandardImage_{0}.xml"/>
	<Item name="CarStandardImagePath" value="CarStandardImage\CarStandardImage_{0}_{1}.xml"/>
	<Item name="CarCoverImagePath" value="CarCoverImage.xml"/>
	<Item name="CarFocusImagePath" value="CarFocusImage\CarFocusImage_{0}.xml"/>
	<Item name="SerialYearFocusImagePath" value="SerialYearFocusImage\SerialYearFocusImage_{0}_{1}.xml"/>
	<Item name="SerialDefaultCarPath" value="SerialDefaultCar.xml"/>
	<Item name="SerialDefaultCarImagePath" value="SerialDefaultCarImage\SerialDefaultCarImage_{0}_{1}.xml"/>
	<Item name="SerialFocusImagePath" value="SerialFocusImage\SerialFocusImage_{0}.xml"/>
	<Item name="SerialColorCountPath" value="SerialColorCount\SerialColorCount_{0}.xml"/>
	<Item name="SerialPhotoHtmlPath" value="SerialPhotoHtml\{0}.html"/>
	<Item name="SerialYearPhotoHtmlPath" value="SerialYearPhotoHtml\{0}_{1}.html"/>
	<Item name="CarPhotoHtmlPath" value="CarPhotoHtml\{0}.html"/>
	<Item name="SerialPositionImagePath" value="SerialPositionImage\SerialPositionImage_{0}.xml"/>

    <Item name="SerialColorImagePath" value="SerialColorImage\{0}.xml"/>
    <Item name="SerialElevenImagePath" value="SerialElevenImage\{0}.xml"/>
    <Item name="SerialDefaultCarFillImagePath" value="SerialDefaultCarFillImage\{0}.xml"/>
    <Item name="SerialReallyColorImagePath" value="SerialReallyColorImage\{0}.xml"/>
</PhotoImageConfig>