<?xml version="1.0"?>
<!-- 
    注意: 除了手动编辑此文件以外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
     “网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\v2.x\Config 中
-->
<configuration>
	<configSections>
		<sectionGroup name="enyim.com">
			<section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching"/>
		</sectionGroup>
		<section name="BitAuto.Utils.CommonPlatformConfig" type="BitAuto.Utils.Config.CommonPlatformConfiurationSectionHandler, BitAuto.Utils" allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="BitAuto.CarChannelAPI.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
		<section name="PhotoImageConfig" type="BitAuto.CarChannel.Common.PhotoImageConfig, Common"/>
	</configSections>
	<PhotoImageConfig configSource="config\PhotoImage.config"/>
	<appSettings>
		<!---->
		<add key="MasterToSerialXMLPath" value="http://carser.bitauto.com/forpicmastertoserial/MasterToSerial.xml"/>
		<!-- -->
		<!-- 彩虹条 Start -->
		<!-- 综合页 -->
		<add key="CommonRBItemIDs" value="37,38,39,40,41,42,43,44,45,51"/>
		<!-- 国产车 -->
		<add key="DomesticCarRBItemIDs" value="27,28,29,30,31,32,33,34,42,35,43,36"/>
		<!-- 进口车 -->
		<add key="NDomesticCarRBItemIDs" value="52,53,54,55,42,56"/>
		<!-- 彩虹条 End -->
		<add key="UpdateInterval" value="60"/>
		<add key="CachedDuration" value="10"/>
		<!-- 指数文件块位置 -->
		<add key="IndexDataBlockPath" value="E:\ExponentialData"/>
		<!-- 文件块位置 -->
		<add key="DataBlockPath" value="\\192.168.0.174\"/>
		<add key="AutoData" value="Data\autodata.xml"/>
		<add key="AutoDataUrl" value="http://carser.bitauto.com/forpicmastertoserial/MasterToBrandToSerial.xml"/>
		<!--主品牌、品牌、子品牌（在销）-->
		<add key="BaseAutoDataUrl" value="http://carser.bitauto.com/forpicmastertoserial/BaseData/MasterToBrandToSerial.xml"/>
		<!--主品牌、品牌、子品牌（包括停销）-->
		<add key="BaseAllAutoDataUrl" value="http://carser.bitauto.com/forpicmastertoserial/BaseData/MasterToBrandToSerialAllSale.xml"/>
		<!--主品牌、品牌、子品牌（包括概念车）-->
		<add key="BaseAllAutoDataAndLevelUrl" value="http://carser.bitauto.com/forpicmastertoserial/BaseData/MasterToBrandToSerialAllSaleAndLevel.xml"/>
		<!-- 车型全拼对照 -->
		<add key="AllSpellList" value="http://carser.bitauto.com/forpicmastertoserial/AllSpellMasterToCar.xml"/>
		<!-- 车型默认图 -->
		<add key="DefaultCarPic" value="http://image.bitautoimg.com/autoalbum/V2.1/images/150-100.gif"/>
		<!-- 视频默认图 -->
		<add key="DefaultVideoPic" value="http://car.bitauto.com/images/vedioImage.gif"/>
		<!-- 图片配置-->
		<add key="ImageDomain" value="img4.bitauto.com/autoalbum"/>
		<!-- 车型颜色图片 -->
		<add key="CarColorPhoto" value="http://imgsvr.bitauto.com/photo/imageservice.aspx"/>
		<!-- 图库接口-->
		<add key="PhotoService" value="http://imgsvr.bitauto.com/autochannel/autoservice.aspx?sid={0}"/>
		<!-- 图库年款页接口-->
		<add key="PhotoServiceForYear" value="http://imgsvr.bitauto.com/autochannel/SerialImageService.aspx?dataname=serialyearimages&amp;serialid={0}&amp;year={1}"/>
		<!-- 图库子品牌默认图接口-->
		<add key="PhotoSerialDefaultService" value="http://photo.bitauto.com/service/getserialcover.aspx"/>
		<!-- 图片对比子品牌-->
		<add key="PhotoCompareSerialList" value="http://imgsvr.bitauto.com/autochannel/imagecompareaccount.aspx?min=20&amp;chk=true"/>
		<!-- 图片对比接口-->
		<add key="PhotoCompareService" value="http://imgsvr.bitauto.com/autochannel/imagecompare.aspx?sid={0}"/>
		<!-- 图库提供图片页HTML -->
		<add key="PhotoProvideCateHTML" value="http://imgsvr.bitauto.com/Photo/HtmlOutput.aspx?dataname=groupandcarlist&amp;id={0}"/>
		<!-- 价格区间的所有子品牌-->
		<add key="PriceRangeSerial" value="http://carser.bitauto.com/forpicmastertoserial/list/PriceForList.xml"/>
		<!-- 子品牌下所有车型-->
		<add key="SerialToCar" value="http://carser.bitauto.com/forpicmastertoserial/SerialToCar.xml"/>
		<!-- 子品牌头导航-->
		<add key="HeadForSerial" value="http://car.bitauto.com/carservice/GetSerialTop.aspx?csid={0}&amp;tagname={1}"/>
		<!-- 车型头导航-->
		<add key="HeadForCar" value="http://car.bitauto.com/carservice/GetCarTop.aspx?carid={0}&amp;tagname={1}"/>
		<!-- 车型对比统计 -->
		<add key="CarCompareStat" value="http://carser.bitauto.com/forpicmastertoserial/CarCompareStat/{0}.xml"/>
		<!-- 子品牌对比统计 -->
		<add key="SerialCompareStat" value="http://carser.bitauto.com/forpicmastertoserial/SerialCompareStat/{0}.xml"/>
		<!-- 全部车型报价(部分地区) modified by sk 2015.11.30 全国最低报价-->
		<add key="AllCarPriceNoZone" value="http://price.bitauto.com/interface/xml/carminprice.xml"/>
		<!-- 全部子品牌报价(部分地区) modified by sk 2015.12.15 全国最低报价-->
		<add key="AllSerialPriceNoZone" value="http://price.bitauto.com/interface/xml/SerialMinPrice.xml"/>
		<!-- 全部子品牌答疑总数 -->
		<add key="AllSerialAskCount" value="http://ask.bitauto.com/api/http/askhandler.ashx?interfaceid=5&amp;authorizecode=2ADF0648-57F2-4D95-810F-57700B7CE8E0&amp;datatype=0&amp;op=getbrandcount"/>
		<!-- 全部子品牌点评总数-->
		<add key="AllSerialDianPingCount" value="http://koubei.bitauto.com/api/bitauto/handlermodelinfo.ashx"/>
		<!-- 全部子品牌图片总数及默认图-->
		<add key="AllSerialPicCount" value="http://imgsvr.bitauto.com/baa/getserialcover.aspx"/>
		<!-- 全部子品牌图片总数及默认图(2种默认图)new-->
		<add key="AllSerialDefaultPicAndCount" value="http://imgsvr.bitauto.com/photo/getseriallist.aspx"/>
		<!-- 子品牌12张标准图(页面缓存无数据缓存) -->
		<add key="SerialPhoto12ImageInterface" value="http://imgsvr.bitauto.com/autochannel/SerialImageService.aspx?dataname=serialstandardimage&amp;serialid={0}&amp;rownum=12"/>
		<!-- 车型12张标准图(页面缓存无数据缓存) -->
		<add key="CarPhoto12ImageInterface" value="http://imgsvr.bitauto.com/autochannel/carImageService.aspx?dataname=carstandardimagewithaccount&amp;serialid={0}&amp;carid={1}"/>
		<!-- 图库子品牌接口 -->
		<add key="PhotoSerialInterface" value="http://imgsvr.bitauto.com/autochannel/SerialImageService.aspx"/>
		<!-- 图库车型接口 -->
		<add key="PhotoCarInterface" value="http://imgsvr.bitauto.com/autochannel/carImageService.aspx"/>
		<!-- 
        http://imgsvr.bitauto.com/autochannel/SerialImageService.aspx?dataname=carcoverimage&showall=false&showfullurl=true&subfix=2
        http://imgsvr.bitauto.com/autochannel/carImageService.aspx?dataname=caraccountbygroup&serialid=1650&carid=48280&&showfullurl=true&subfix=2
        -->
		<!-- 取子品牌油耗(点评)-->
		<add key="SerialDianPingYouHao" value="http://koubei.bitauto.com/api/handler.ashx?apikey=d6f7bea642f24ac68a7a1206a3efb6f5&amp;cat=fuel&amp;op=get&amp;carid={0}"/>
		<!-- 取子品牌油耗区间(点评)-->
		<add key="SerialYouHaoRangeNew" value="http://koubei.bitauto.com/api/bitauto/HandlerModelInfo.ashx"/>
		<!-- 添加油耗 -->
		<add key="AddDianPingYouHao" value="http://koubei.bitauto.com/api/handler.ashx?apikey=d6f7bea642f24ac68a7a1206a3efb6f5&amp;cat=fuel&amp;op=add"/>
		<!-- 取子品牌点评数据(车型综述) -->
		<add key="SerialKouBeiData" value="http://koubei.bitauto.com/api/handler.ashx?apikey=d6f7bea642f24ac68a7a1206a3efb6f5&amp;cat=topic&amp;op=get&amp;carid={0}&amp;maxresults={1}"/>
		<!-- 取子品牌点详细评数据(子品牌综述) -->
		<add key="SerialKouBeiDataForCsSummary" value="http://koubei.bitauto.com/Api/Car/ReviewList.aspx?model_id={0}&amp;page={1}&amp;size={2}"/>
		<!-- 评测对比 -->
		<add key="SeriaPingCeData" value="http://api.admin.bitauto.com/api/list/newstocar.aspx?newsid={0}&amp;showtype=3"/>
		<!--新闻请求地址-->
		<add key="NewsRequestUrl" value="http://api.admin.bitauto.com/api/list/NewsToCar.aspx"/>
		<!--新闻地址-->
		<add key="NewsUrl" value="http://api.admin.bitauto.com/api/newslist.aspx"/>
		<!--设置Ip库服务存在的地址-->
		<add key="BitAuto.Services.IpLocation.Client.Address" value="tcp://59.151.102.230:20003/GetIpDistrict"/>
		<add key="CityLocationCacheSwitch" value="false"/>
		<add key="BitAuto.Beyond.IPLocation.CacheTime" value="0"/>
		<!--设置Ip库服务存在的地址-->
		<add key="BBSUrl" value="http://api.baa.com.cn/go2baa.aspx?brandid={0}&amp;geturl=1"/>
		<!--设置销量地图接口地址-->
		<add key="SellDataMapUrl" value="http://imgsvr.bitauto.com/autochannel/serialsalemap.aspx"/>
		<!-- 车型基础数据NAS(通用导航头)-->
		<!-- <add key="CarDataBaseNASPath" value="\\192.168.0.204\ycnasroot\webcommon\xml\"/> -->
		<add key="CarDataBaseNASPath" value="\\192.168.0.40\nas\"/>
		<!-- 口碑报告 -->
		<add key="SerialKouReport" value="http://koubei.bitauto.com/Api/Bitauto/handlerkoubeireport.ashx?modellist=all"/>
		<!--新闻编辑信息地址-->
		<add key="NewsEditerMessageUrl" value="http://api.admin.bitauto.com/api/list/EidtorUser.aspx"/>
		<!--图释右边图片地址-->
		<add key="SerialOutSetWebPath" value="http://image.bitauto.com/CarChannel/images/CarSize/{0}/{0}_{1}_{2}_{3}.jpg"/>
		<!--图释右边默认图片地址-->
		<add key="SerialOutSetDefaultWebPath" value="http://image.bitauto.com/CarChannel/images/CarSize/0/{0}/{1}_{2}.jpg"/>
		<!--MongoDB-->
		<add key="MongoDBConnectionString" value="mongodb://dealer:dealer@192.168.0.149/DealerPrice?safe=true;w=2;wtimeoutMS=10000"/>
		<!--NewsRecommendVendorCacheTime缓存时间，单位分钟-->
		<add key="NewsRecommendVendorCacheTime" value="30"/>
		<!--子品牌对应论坛信息-->
		<add key="BaaCarBrandToForumUrl" value="http://api.baa.bitauto.com/CarBrandToForumUrl.aspx"/>
		<!-- 是否使用memcache，否的时候使用本地cache -->
		<add key="IsUseMemcache" value="true"/>
		<!-- MongoDB for Car -->
		<add key="MongoDBForCarConnectionString" value="mongodb://192.168.0.128/?safe=true"/>
		<!-- 线上配置 -->
		<!--<add key="MongoDBForCarConnectionString" value="mongodb://choosecar_rw:Yui(7)pl@mongo2.itoms.bitautotech.com/choosecarNew?slaveOk=true;connectTimeoutMS=3000;socketTimeoutMS=3000"/>-->
    <!--树形数据接口-->
    <add key="LeftTreeUrl_tupian" value="http://imgsvr.bitauto.com/data/photo/treedata_v2.xml"/>
    <add key="LeftTreeUrl_baojia" value="http://price.bitauto.com/includeFile/treeList.xml"/>
    <add key="LeftTreeUrl_jingxiaoshang" value="http://dealer.bitauto.com/treedata1.xml"/>
    <add key="LeftTreeUrl_jiangjia" value="http://jiangjia.bitauto.com/includefile/treelist.xml"/>
    <add key="LeftTreeUrlTimeOut" value="10000"/>

    <add key="MongoDBConnectionString" value="mongodb://192.168.15.143/?safe=true" />
    <add key="MongoDBDefaultDataBase" value="CarsEvaluationReport" />
    <add key="MongoDBDefaultDataTable" value="assessmentdata" />
	</appSettings>
	<connectionStrings>
		<!--车型频道数据库连接字符串-->
		<!--<add name="DefaultConnectionString" connectionString="Data Source=192.168.0.173\SQL08;Initial Catalog=AutoCarChannel;User ID=sa;Password=sa;"/>-->
    <add name="DefaultConnectionString" connectionString="Data Source=192.168.0.173\sql2014;Initial Catalog=AutoCarChannel;User ID=CarChannel;Password=1qaz@WSX;"/>

    <add name="PvConnectionString" connectionString="Data Source=192.168.0.40\SQL2005;Initial Catalog=AutoCarChannelPv_Log;User ID=sa;Password=sa;"/>
		<!--车型后台数据库连接字符串-->
		<!--<add name="AutoStorageConnectionString" connectionString="Data Source=192.168.0.173\SQL08;Initial Catalog=AutoStorageNew;User ID=sa;Password=sa;"/>-->
    <add name="AutoStorageConnectionString" connectionString="Data Source=192.168.0.173\sql2014;Initial Catalog=AutoStorageNew;User ID=CarChannel;Password=1qaz@WSX;"/>
    
		<!--车型后台服务数据库连接字符串-->
		<add name="CarDataUpdateConnectionString" connectionString="Data Source=192.168.0.173\sql2008;Initial Catalog=CarDataUpdate;User ID=CarChannel;Password=1qaz@WSX;"/>
		<!--开贷频道数据库链接字符串-->
		<add name="InsuranceLoanConnectionString" connectionString="server=192.168.0.173\sql08;database=BuyCarWeb;uid=sa;pwd=sa" />
    <!--评测后台数据库链接字符串-->
    <add name="CarsEvaluationData" connectionString="Data Source=192.168.0.173\sql2014;Initial Catalog=CarsEvaluationData;User ID=CarChannel;Password=1qaz@WSX;" />
	</connectionStrings>
	<system.web>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="zh-CN"/>
		<!-- 
            设置 compilation debug="true" 将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies>
		</compilation>
		<httpHandlers>
			<add verb="*" path="*.js" type="System.Web.StaticFileHandler"/>
			<add verb="*" path="*.css" type="System.Web.StaticFileHandler"/>
		</httpHandlers>
		<!--
            通过 <authentication> 节可以配置 ASP.NET 使用的 
            安全身份验证模式，
            以标识传入的用户。 
        -->
		<authentication mode="Windows"/>
		<!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<customErrors defaultRedirect="http://car.bitauto.com" mode="Off"/>
        <caching>
            <outputCache omitVaryStar="true" />
        </caching>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
        <!--<identity impersonate="true" userName="ycappro" password="$z*vw720"/>-->
    </system.web>
	<BitAuto.Utils.CommonPlatformConfig>
		<CommonConfig>
			<CacheConfig defaultProvider="EnyimProvider">
				<providers>
					<!-- 
			        servers="127.0.0.1:11211"  memcache服务端列表，
			        socketConnectTimeout="1000"  socket链接超时时间
			        socketTimeout="1000"		socket超时时间
			        defaultExpireTime="5000000"  默认的缓存时间，单位是毫秒
              <add name="MemcachedCacheProvider" type="BitAuto.Services.Cache.MemcachedCacheProvider,BitAuto.Services"
						 servers="192.168.200.126:11211,192.168.200.126:11211" socketConnectTimeout="1000" socketTimeout="1000" defaultExpireTime="5000000"/>
			    -->
					<!-- 
			    如果采用了EnyimProvider，只有type和defaultExpireTime属性生效，其他参数在<enyim.com>配置节中指定
			    -->
					<add name="EnyimProvider" type="BitAuto.Services.Cache.EnyimProvider,BitAuto.Services" defaultExpireTime="5000000"/>
				</providers>
			</CacheConfig>
		</CommonConfig>
	</BitAuto.Utils.CommonPlatformConfig>
	<enyim.com>
		<memcached>
			<servers>
				<!--<add address="192.168.0.173" port="11211" />-->
				<add address="192.168.200.126" port="11212"/>
				<add address="192.168.200.126" port="11211"/>
				<!--<add address="59.151.102.126" port="11212" />-->
				<!--<add address="59.151.102.227" port="11212" />-->
			</servers>
			<socketPool minPoolSize="10" maxPoolSize="100" connectionTimeout="00:00:10" deadTimeout="00:02:00"/>
		</memcached>
	</enyim.com>
	<system.webServer>
		<handlers>
			<add name="car" path="*" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness32"/>
		</handlers>
		<validation validateIntegratedModeConfiguration="false"/>
	</system.webServer>
	<applicationSettings>
		<BitAuto.CarChannelAPI.Web.Properties.Settings>
   <setting name="API_CarChannelWeb_cn_ucar_api_CarSourceForBitAuto"
    serializeAs="String">
    <value>http://api.taoche.cn/CarSourceInterface/CarSourceForBitAuto.asmx</value>
   </setting>
  </BitAuto.CarChannelAPI.Web.Properties.Settings>
	</applicationSettings>
</configuration>
