<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="CachedDuration" value="10" />

  <!--缓存类型：Memcached，Default-->
  <add key="CacheManagerType" value="Memcached"/>
  <!--新增车款参数缓存接口-->
  <add key="CarParameterApi" value="http://api24.car.bitauto.com/CarInfo/WriteCarParamCache.ashx?carids={0}&amp;optional=1"/>
  <add key="ParameterConfigPath" value="D:\\CarGitRoot\\CarChannel\\Carchannel\\AppApi\\Config\\ParameterConfigurationNewV2.config"/>
  <!----> 
  <add key="MasterToSerialXMLPath" value="http://carser.bitauto.com/forpicmastertoserial/MasterToSerial.xml"/>
  <!-- -->
  <!-- 彩虹条 Start -->
  <!-- 综合页 -->
  <add key="CommonRBItemIDs" value="37,38,39,40,41,42,43,44,45,51"/>
  <!-- 国产车 -->
  <add key="DomesticCarRBItemIDs" value="27,28,29,30,31,32,33,34,42,35,43,36"/>
  <!-- 进口车 -->
  <add key="NDomesticCarRBItemIDs" value="52,53,54,55,42,56"/>
  <!-- 彩虹条 End -->
  <add key="UpdateInterval" value="60"/>
  <add key="CachedDuration" value="10"/>
  <!-- 指数文件块位置 -->
  <add key="IndexDataBlockPath" value="E:\ExponentialData"/>
  <!-- 文件块位置 -->
  <add key="DataBlockPath" value="\\192.168.0.174\"/>
  <add key="AutoData" value="Data\autodata.xml"/>
  <add key="AutoDataUrl" value="http://carser.bitauto.com/forpicmastertoserial/MasterToBrandToSerial.xml"/>
  <!--主品牌、品牌、子品牌（在销）-->
  <add key="BaseAutoDataUrl" value="http://carser.bitauto.com/forpicmastertoserial/BaseData/MasterToBrandToSerial.xml"/>
  <!--主品牌、品牌、子品牌（包括停销）-->
  <add key="BaseAllAutoDataUrl" value="http://carser.bitauto.com/forpicmastertoserial/BaseData/MasterToBrandToSerialAllSale.xml"/>
  <!--主品牌、品牌、子品牌（包括概念车）-->
  <add key="BaseAllAutoDataAndLevelUrl" value="http://carser.bitauto.com/forpicmastertoserial/BaseData/MasterToBrandToSerialAllSaleAndLevel.xml"/>
  <!-- 车型全拼对照 -->
  <add key="AllSpellList" value="http://carser.bitauto.com/forpicmastertoserial/AllSpellMasterToCar.xml"/>
  <!-- 车型默认图 -->
  <add key="DefaultCarPic" value="http://image.bitautoimg.com/autoalbum/V2.1/images/150-100.gif"/>
  <!-- 视频默认图 -->
  <add key="DefaultVideoPic" value="http://car.bitauto.com/images/vedioImage.gif"/>
  <!-- 图片配置-->
  <add key="ImageDomain" value="img4.bitauto.com/autoalbum"/>
  <!-- 车型颜色图片 -->
  <add key="CarColorPhoto" value="http://imgsvr.bitauto.com/photo/imageservice.aspx"/>
  <!-- 图库接口-->
  <add key="PhotoService" value="http://imgsvr.bitauto.com/autochannel/autoservice.aspx?sid={0}"/>
  <!-- 图库年款页接口-->
  <add key="PhotoServiceForYear" value="http://imgsvr.bitauto.com/autochannel/SerialImageService.aspx?dataname=serialyearimages&amp;serialid={0}&amp;year={1}"/>
  <!-- 图库子品牌默认图接口-->
  <add key="PhotoSerialDefaultService" value="http://photo.bitauto.com/service/getserialcover.aspx"/>
  <!-- 图片对比子品牌-->
  <add key="PhotoCompareSerialList" value="http://imgsvr.bitauto.com/autochannel/imagecompareaccount.aspx?min=20&amp;chk=true"/>
  <!-- 图片对比接口-->
  <add key="PhotoCompareService" value="http://imgsvr.bitauto.com/autochannel/imagecompare.aspx?sid={0}"/>
  <!-- 图库提供图片页HTML -->
  <add key="PhotoProvideCateHTML" value="http://imgsvr.bitauto.com/Photo/HtmlOutput.aspx?dataname=groupandcarlist&amp;id={0}"/>
  <!-- 价格区间的所有子品牌-->
  <add key="PriceRangeSerial" value="http://carser.bitauto.com/forpicmastertoserial/list/PriceForList.xml"/>
  <!-- 子品牌下所有车型-->
  <add key="SerialToCar" value="http://carser.bitauto.com/forpicmastertoserial/SerialToCar.xml"/>
  <!-- 子品牌头导航-->
  <add key="HeadForSerial" value="http://car.bitauto.com/carservice/GetSerialTop.aspx?csid={0}&amp;tagname={1}"/>
  <!-- 车型头导航-->
  <add key="HeadForCar" value="http://car.bitauto.com/carservice/GetCarTop.aspx?carid={0}&amp;tagname={1}"/>
  <!-- 车型对比统计 -->
  <add key="CarCompareStat" value="http://carser.bitauto.com/forpicmastertoserial/CarCompareStat/{0}.xml"/>
  <!-- 子品牌对比统计 -->
  <add key="SerialCompareStat" value="http://carser.bitauto.com/forpicmastertoserial/SerialCompareStat/{0}.xml"/>
  <!-- 全部车型报价(部分地区) modified by sk 2015.11.30 全国最低报价-->
  <add key="AllCarPriceNoZone" value="http://price.bitauto.com/interface/xml/carminprice.xml"/>
  <!-- 全部子品牌报价(部分地区) modified by sk 2015.12.15 全国最低报价-->
  <add key="AllSerialPriceNoZone" value="http://price.bitauto.com/interface/xml/SerialMinPrice.xml"/>
  <!-- 全部子品牌答疑总数 -->
  <add key="AllSerialAskCount" value="http://ask.bitauto.com/api/http/askhandler.ashx?interfaceid=5&amp;authorizecode=2ADF0648-57F2-4D95-810F-57700B7CE8E0&amp;datatype=0&amp;op=getbrandcount"/>
  <!-- 全部子品牌点评总数-->
  <add key="AllSerialDianPingCount" value="http://koubei.bitauto.com/api/bitauto/handlermodelinfo.ashx"/>
  <!-- 全部子品牌图片总数及默认图-->
  <add key="AllSerialPicCount" value="http://imgsvr.bitauto.com/baa/getserialcover.aspx"/>
  <!-- 全部子品牌图片总数及默认图(2种默认图)new-->
  <add key="AllSerialDefaultPicAndCount" value="http://imgsvr.bitauto.com/photo/getseriallist.aspx"/>
  <!-- 子品牌12张标准图(页面缓存无数据缓存) -->
  <add key="SerialPhoto12ImageInterface" value="http://imgsvr.bitauto.com/autochannel/SerialImageService.aspx?dataname=serialstandardimage&amp;serialid={0}&amp;rownum=12"/>
  <!-- 车型12张标准图(页面缓存无数据缓存) -->
  <add key="CarPhoto12ImageInterface" value="http://imgsvr.bitauto.com/autochannel/carImageService.aspx?dataname=carstandardimagewithaccount&amp;serialid={0}&amp;carid={1}"/>
  <!-- 图库子品牌接口 -->
  <add key="PhotoSerialInterface" value="http://imgsvr.bitauto.com/autochannel/SerialImageService.aspx"/>
  <!-- 图库车型接口 -->
  <add key="PhotoCarInterface" value="http://imgsvr.bitauto.com/autochannel/carImageService.aspx"/>
  <!-- 
        http://imgsvr.bitauto.com/autochannel/SerialImageService.aspx?dataname=carcoverimage&showall=false&showfullurl=true&subfix=2
        http://imgsvr.bitauto.com/autochannel/carImageService.aspx?dataname=caraccountbygroup&serialid=1650&carid=48280&&showfullurl=true&subfix=2
        -->
  <!-- 取子品牌油耗(点评)-->
  <add key="SerialDianPingYouHao" value="http://koubei.bitauto.com/api/handler.ashx?apikey=d6f7bea642f24ac68a7a1206a3efb6f5&amp;cat=fuel&amp;op=get&amp;carid={0}"/>
  <!-- 取子品牌油耗区间(点评)-->
  <add key="SerialYouHaoRangeNew" value="http://koubei.bitauto.com/api/bitauto/HandlerModelInfo.ashx"/>
  <!-- 添加油耗 -->
  <add key="AddDianPingYouHao" value="http://koubei.bitauto.com/api/handler.ashx?apikey=d6f7bea642f24ac68a7a1206a3efb6f5&amp;cat=fuel&amp;op=add"/>
  <!-- 取子品牌点评数据(车型综述) -->
  <add key="SerialKouBeiData" value="http://koubei.bitauto.com/api/handler.ashx?apikey=d6f7bea642f24ac68a7a1206a3efb6f5&amp;cat=topic&amp;op=get&amp;carid={0}&amp;maxresults={1}"/>
  <!-- 取子品牌点详细评数据(子品牌综述) -->
  <add key="SerialKouBeiDataForCsSummary" value="http://koubei.bitauto.com/Api/Car/ReviewList.aspx?model_id={0}&amp;page={1}&amp;size={2}"/>
  <!-- 评测对比 -->
  <add key="SeriaPingCeData" value="http://api.admin.bitauto.com/api/list/newstocar.aspx?newsid={0}&amp;showtype=3"/>
  <!--新闻请求地址-->
  <add key="NewsRequestUrl" value="http://api.admin.bitauto.com/api/list/NewsToCar.aspx"/>
  <!--新闻地址-->
  <add key="NewsUrl" value="http://api.admin.bitauto.com/api/newslist.aspx"/>
  <!--设置Ip库服务存在的地址-->
  <add key="BitAuto.Services.IpLocation.Client.Address" value="tcp://59.151.102.230:20003/GetIpDistrict"/>
  <add key="CityLocationCacheSwitch" value="false"/>
  <add key="BitAuto.Beyond.IPLocation.CacheTime" value="0"/>
  <!--设置Ip库服务存在的地址-->
  <add key="BBSUrl" value="http://api.baa.com.cn/go2baa.aspx?brandid={0}&amp;geturl=1"/>
  <!--设置销量地图接口地址-->
  <add key="SellDataMapUrl" value="http://imgsvr.bitauto.com/autochannel/serialsalemap.aspx"/>
  <!-- 车型基础数据NAS(通用导航头)-->
  <!-- <add key="CarDataBaseNASPath" value="\\192.168.0.204\ycnasroot\webcommon\xml\"/> -->
  <add key="CarDataBaseNASPath" value="\\192.168.0.40\nas\"/>
  <!-- 口碑报告 -->
  <add key="SerialKouReport" value="http://koubei.bitauto.com/Api/Bitauto/handlerkoubeireport.ashx?modellist=all"/>
  <!--新闻编辑信息地址-->
  <add key="NewsEditerMessageUrl" value="http://api.admin.bitauto.com/api/list/EidtorUser.aspx"/>
  <!--图释右边图片地址-->
  <add key="SerialOutSetWebPath" value="http://image.bitauto.com/CarChannel/images/CarSize/{0}/{0}_{1}_{2}_{3}.jpg"/>
  <!--图释右边默认图片地址-->
  <add key="SerialOutSetDefaultWebPath" value="http://image.bitauto.com/CarChannel/images/CarSize/0/{0}/{1}_{2}.jpg"/>
  <!--MongoDB-->
  <add key="MongoDBConnectionString" value="mongodb://dealer:dealer@192.168.0.149/DealerPrice?safe=true;w=2;wtimeoutMS=10000"/>
  <!--NewsRecommendVendorCacheTime缓存时间，单位分钟-->
  <add key="NewsRecommendVendorCacheTime" value="30"/>
  <!--子品牌对应论坛信息-->
  <add key="BaaCarBrandToForumUrl" value="http://api.baa.bitauto.com/CarBrandToForumUrl.aspx"/>
  <!-- 是否使用memcache，否的时候使用本地cache -->
  <add key="IsUseMemcache" value="true"/>
  <!-- MongoDB for Car -->
  <add key="MongoDBForCarConnectionString" value="mongodb://192.168.0.128/?safe=true"/>
  <!-- 线上配置 -->
  <!--<add key="MongoDBForCarConnectionString" value="mongodb://choosecar_rw:Yui(7)pl@mongo2.itoms.bitautotech.com/choosecarNew?slaveOk=true;connectTimeoutMS=3000;socketTimeoutMS=3000"/>-->
  <!--树形数据接口-->
  <add key="LeftTreeUrl_tupian" value="http://imgsvr.bitauto.com/data/photo/treedata_v2.xml"/>
  <add key="LeftTreeUrl_baojia" value="http://price.bitauto.com/includeFile/treeList.xml"/>
  <add key="LeftTreeUrl_jingxiaoshang" value="http://dealer.bitauto.com/treedata1.xml"/>
  <add key="LeftTreeUrl_jiangjia" value="http://jiangjia.bitauto.com/includefile/treelist.xml"/>
  <add key="LeftTreeUrlTimeOut" value="10000"/>

  <add key="MongoDBConnectionString" value="mongodb://192.168.0.205/?safe=true" />
  <add key="MongoDBDefaultDataBase" value="CarsEvaluationReport" />
  <add key="MongoDBDefaultDataTable" value="assessmentdata" />
  <!--销售顾问Token-->
  <add key="VendorSalesToken" value="EB8947D8-1909-4448-9D8B-6918DBB57A24"/>
  <!--销售顾问MD5-->
  <add key="VendorSalesMD5" value="EB8947D8-1909-4448-9D8B-6918DBB57A24"/>
  <!--获取车型参考价接口-->
  <add key="YiPai_ReferPriceByCityCS_API" value="http://frontapi.easypass.cn/ReferPriceAPI/GetReferPriceByCityCS"/>
  <!--获取车款参考价接口-->
  <add key="YiPai_ReferPriceByCityCar_API" value="http://frontapi.easypass.cn/ReferPriceAPI/GetReferPriceByCityCar"/>
</appSettings>
