<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="CachedDuration" value="10" />

  <!--缓存类型：Memcached，Default-->
  <add key="CacheManagerType" value="Memcached"/>
  <!--新增车款参数缓存接口-->
  <add key="CarParameterApi" value="http://api24.car.bitauto.com/CarInfo/WriteCarParamCache.ashx?carids={0}&amp;optional=1"/>
</appSettings>
