<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BitAuto.CarChannel.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BitAuto.CarChannel.Common.Properties.Settings>
            <setting name="Common_com_bitauto_dealer_VendorSearch" serializeAs="String">
                <value>http://api.dealer.bitauto.com/api/Service/VendorSearch.asmx</value>
            </setting>
            <setting name="Common_com_bitauto_das_NumberFormat" serializeAs="String">
                <value>http://autocall.bitauto.com/eil/das.asmx</value>
            </setting>
            <setting name="Common_cn_com_baa_api_ForumService" serializeAs="String">
                <value>http://api.baa.bitauto.com/forumservice.asmx</value>
            </setting>
            <setting name="Common_com_bitauto_news_NewsService" serializeAs="String">
                <value>http://news.bitauto.com/comment/newsservice.asmx</value>
            </setting>
            <setting name="Common_com_bitauto_dealer_VendorInfor_VendorInfor" serializeAs="String">
                <value>http://api.dealer.bitauto.com/api/Service/VendorInfor.asmx</value>
            </setting>
            <setting name="Common_cn_com_baa_ibt_api_UserManagerWebService" serializeAs="String">
                <value>http://api.baa.bitauto.com/ibt/usermanagerwebservice.asmx</value>
            </setting>
            <setting name="Common_com_bitauto_carser_Service" serializeAs="String">
                <value>http://carser.bitauto.com/ForPicMasterToSerial/Service.asmx</value>
            </setting>
        </BitAuto.CarChannel.Common.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
