<?xml version="1.0" encoding="utf-8"?>
<urlrewritingnet rewriteOnlyVirtualUrls="true" contextItemsPrefix="QueryString" defaultPage = "http://car.m.yiche.com/?referrer="
  defaultProvider="RegEx" xmlns="http://www.urlrewriting.net/schemas/config/2006/07"
	changeXmlUrl="http://carser.bitauto.com/forpicmastertoserial/ChangeURL.xml"
	allSpellXmlUrl="http://carser.bitauto.com/forpicmastertoserial/AllSpellMasterToCar.xml"
    backallSpellXmlFile="E:\wwwroot\Carchannelv2.1\data\AllSpellMasterToCar.xml">
  <!-- otherMatchUrl="http://carser.bitauto.com/forpicmastertoserial/SpecialNecessaryMatch.xml" -->
  <rewrites>
    <!--<add name="RewriteSerialPingCePage" virtualUrl="^~/([\w-]+)/pingce/p(\d+)/(\d+)"    rewriteUrlParameter="ExcludeFromClientQueryString"
	destinationUrl="~/CsPingCe.aspx?csID=$1&amp;newsid=$2&amp;page=$3&amp;"    ignoreCase="true" matchType="Serial"/>-->
    <!--<add name="RewriteSerialPingCe" virtualUrl="^~/([\w-]+)/pingce/p(\d+)"    rewriteUrlParameter="ExcludeFromClientQueryString"
	destinationUrl="~/CsPingCe.aspx?csID=$1&amp;newsid=$2&amp;"    ignoreCase="true" matchType="Serial"/>-->
    <!--<add name="RewriteSerialYearPingCePage" virtualUrl="^~/([\w-]+)/(\d+)/pingce/p(\d+)/(\d+)"    rewriteUrlParameter="ExcludeFromClientQueryString"
	destinationUrl="~/CsPingCe.aspx?csID=$1&amp;year=$2&amp;newsid=$3&amp;page=$4&amp;"    ignoreCase="true" matchType="Serial"/>-->
    <!--<add name="RewriteSerialYearPingCe" virtualUrl="^~/([\w-]+)/(\d+)/pingce/p(\d+)"    rewriteUrlParameter="ExcludeFromClientQueryString"
	destinationUrl="~/CsPingCe.aspx?csID=$1&amp;year=$2&amp;newsid=$3&amp;"    ignoreCase="true" matchType="Serial"/>-->
    <!--默认评测-->
    <!--<add name="RewritePingceContentPage" virtualUrl="^~/([\w-]+)/pingce/(\d+)"    rewriteUrlParameter="ExcludeFromClientQueryString"
			destinationUrl="~/CsPingCe.aspx?csid=$1&amp;page=$2&amp;"    ignoreCase="true" matchType="Serial" />-->
    <!--<add name="RewritePingceContent" virtualUrl="^~/([\w-]+)/pingce"    rewriteUrlParameter="ExcludeFromClientQueryString"
   destinationUrl="~/CsPingCe.aspx?csid=$1&amp;"    ignoreCase="true" matchType="Serial"/>-->
    <add name="RewriteSerialNews" virtualUrl="^~/([\w-]+)/(wenzhang|xinwen|daogou|hangqing|yongche|shijia|pingce|gaizhuang|anquan)"    rewriteUrlParameter="ExcludeFromClientQueryString"
			 destinationUrl="~/CsPingCe.aspx?csid=$1&amp;type=$2&amp;"    ignoreCase="true" matchType="Serial"/>
    <!--<add name="RewriteYearPingceContentPage" virtualUrl="^~/([\w-]+)/(\d+)/pingce/(\d+)"    rewriteUrlParameter="ExcludeFromClientQueryString"
			destinationUrl="~/CsPingCe.aspx?csid=$1&amp;year=$2&amp;page=$3&amp;"    ignoreCase="true" matchType="Serial" />-->
    <!--<add name="RewriteYearPingceContent" virtualUrl="^~/([\w-]+)/(\d+)/pingce"    rewriteUrlParameter="ExcludeFromClientQueryString"
			 destinationUrl="~/CsPingCe.aspx?csid=$1&amp;year=$2&amp;"    ignoreCase="true" matchType="Serial"/>-->

    <!--<add name="RewritePaihang" virtualUrl="^~/([\w-]+)/paihang"    rewriteUrlParameter="ExcludeFromClientQueryString"
			destinationUrl="~/CsCompareRank.aspx?id=$1&amp;"    ignoreCase="true" matchType="Serial" />-->

    <!--<add name="RewritePhotoYear" virtualUrl="^~/([\w-]+)/tupian/(\d+)"    rewriteUrlParameter="ExcludeFromClientQueryString"
			destinationUrl="~/year/carphotobyyear.aspx?csid=$1&amp;year=$2&amp;"    ignoreCase="true" matchType="Serial" />-->

    <!--<add name="RewritePhoto" virtualUrl="^~/([\w-]+)/tupian"    rewriteUrlParameter="ExcludeFromClientQueryString"
                destinationUrl="~/CsPhoto.aspx?csid=$1&amp;"    ignoreCase="true" matchType="Serial" />-->

    <!--<add name="RewriteCarPhoto" virtualUrl="^~/([\w-]+)/m(\d+)/tupian"    rewriteUrlParameter="ExcludeFromClientQueryString"
        destinationUrl="~/CarPhoto.aspx?carID=$2&amp;"    ignoreCase="true" matchType="Serial" />-->

    <!--<add name="RewriteCarPeizhi" virtualUrl="^~/([\w-]+)/m(\d+)/peizhi"    rewriteUrlParameter="ExcludeFromClientQueryString"
			destinationUrl="~/CarCompare.aspx?carID=$2&amp;"    ignoreCase="true" matchType="Serial" />-->

    <!--<add name="RewriteSerialCsPeizhiYear" virtualUrl="^~/([\w-]+)/peizhi/(\d+)"  rewriteUrlParameter="ExcludeFromClientQueryString"
   destinationUrl="~/CsCompare.aspx?csID=$1&amp;year=$2&amp;"  ignoreCase="true" matchType="Serial"/>-->


    <!--<add name="RewriteSerialPeizhi1jhbj" virtualUrl="^~/suteng/peizhi"    rewriteUrlParameter="ExcludeFromClientQueryString"
  destinationUrl="~/TempAspx/CsCompare3524.aspx?csID=$1&amp;"    ignoreCase="true" matchType="Serial" />-->
    
    <add name="RewriteSerialPeizhi" virtualUrl="^~/([\w-]+)/peizhi"    rewriteUrlParameter="ExcludeFromClientQueryString"
  destinationUrl="~/CsCompare.aspx?csID=$1&amp;"    ignoreCase="true" matchType="Serial" />
  

    <!-- 新闻行情页 增加城市 -->
    <!--<add name="RewriteSerialCityNewsPage" virtualUrl="^~/([\w-]+)/(xinwen|daogou|hangqing|yongche|shijia|pingce|gaizhuang)/([a-zA-Z-]+)/(\d+)"    rewriteUrlParameter="ExcludeFromClientQueryString"
			destinationUrl="~/SerialNews.aspx?id=$1&amp;type=$2&amp;pageIndex=$4&amp;city=$3&amp;"    ignoreCase="true" matchType="Serial" />-->

    <!--<add name="RewriteSerialCityNewsPage2" virtualUrl="^~/([\w-]+)/(xinwen|daogou|hangqing|yongche|shijia|pingce|gaizhuang)/([a-zA-Z-]+)"    rewriteUrlParameter="ExcludeFromClientQueryString"
			destinationUrl="~/SerialNews.aspx?id=$1&amp;type=$2&amp;pageIndex=1&amp;city=$3&amp;"    ignoreCase="true" matchType="Serial" />-->
    <!-- 新闻行情页 增加城市end -->

    <!--<add name="RewriteSerialPage" virtualUrl="^~/([\w-]+)/(xinwen|daogou|hangqing|yongche|shijia|pingce|gaizhuang|anquan)/(\d+)"    rewriteUrlParameter="ExcludeFromClientQueryString"
			destinationUrl="~/SerialNews.aspx?id=$1&amp;type=$2&amp;pageIndex=$3&amp;"    ignoreCase="true" matchType="Serial" />-->

    <!--<add name="RewriteSerialNews" virtualUrl="^~/([\w-]+)/(xinwen|daogou|hangqing|yongche|shijia|pingce|gaizhuang|anquan)"    rewriteUrlParameter="ExcludeFromClientQueryString"
			 destinationUrl="~/SerialNews.aspx?id=$1&amp;type=$2&amp;"    ignoreCase="true" matchType="Serial"/>-->

    <!-- 车贷申请 -->

    <!--<add name="RewriteCarLoanApplyWidthCar" virtualUrl="^~/([\w-]+)/chedai/sq/m(\d+)"    rewriteUrlParameter="ExcludeFromClientQueryString"
    destinationUrl="/CarLoanApply.aspx?csid=$1&amp;carID=$2&amp;"    ignoreCase="true" matchType="Serial" />
    <add name="RewriteCarLoanApply" virtualUrl="^~/([\w-]+)/chedai/sq"    rewriteUrlParameter="ExcludeFromClientQueryString"
    destinationUrl="/CarLoanApply.aspx?csid=$1&amp;"    ignoreCase="true" matchType="Serial" />-->
    <add name="RewriteCarPhoto" virtualUrl="^~/([\w-]+)/m(\d+)/tupian"    rewriteUrlParameter="ExcludeFromClientQueryString"
  destinationUrl="~/CarPhoto.aspx?carid=$2&amp;"    ignoreCase="true" matchType="Serial" />
    <add name="RewriteCarPeiZhi" virtualUrl="^~/([\w-]+)/m(\d+)/peizhi"    rewriteUrlParameter="ExcludeFromClientQueryString"
   destinationUrl="~/CarCompare.aspx?carid=$2&amp;"    ignoreCase="true" matchType="Serial" />
    <add name="RewriteCar" virtualUrl="^~/([\w-]+)/m(\d+)"    rewriteUrlParameter="ExcludeFromClientQueryString"
   destinationUrl="~/CarSummary.aspx?carid=$2&amp;"    ignoreCase="true" matchType="Serial" />
    

    <!--<add name="RewriteSerialCheDai" virtualUrl="^~/([\w-]+)/chedai"    rewriteUrlParameter="ExcludeFromClientQueryString"
     destinationUrl="~/CarLoanApply.aspx?csid=$1&amp;"    ignoreCase="true" matchType="Serial" />-->

    <!-- 子品牌置换页 -->
    <!--<add name="RewriteSerialZhihuan1" virtualUrl="^~/([\w-]+)/zhihuan/([a-zA-Z-]+)/(\d+)"    rewriteUrlParameter="ExcludeFromClientQueryString"
			destinationUrl="~/CsZhiHuan.aspx?id=$1&amp;pageIndex=$3&amp;city=$2&amp;"    ignoreCase="true" matchType="Serial" />-->

    <!--<add name="RewriteSerialZhihuan2" virtualUrl="^~/([\w-]+)/zhihuan/([a-zA-Z-]+)"    rewriteUrlParameter="ExcludeFromClientQueryString"
			destinationUrl="~/CsZhiHuan.aspx?id=$1&amp;pageIndex=1&amp;city=$2&amp;"    ignoreCase="true" matchType="Serial" />-->

    <!--<add name="RewriteSerialZhihuan3" virtualUrl="^~/([\w-]+)/zhihuan"    rewriteUrlParameter="ExcludeFromClientQueryString"
			destinationUrl="~/CsZhiHuan.aspx?id=$1&amp;" ignoreCase="true" matchType="Serial" />-->
    <!-- 子品牌置换页 end -->

    <!--<add name="RewriteLevelCityPaihang" virtualUrl="^~/(\w+)/paihang/(\w+)"    rewriteUrlParameter="ExcludeFromClientQueryString"
			destinationUrl="~/LevelPaihang.aspx?level=$1&amp;city=$2&amp;"    ignoreCase="true" matchType="Level"/>-->

    <!--<add name="RewriteLevelPaihang" virtualUrl="^~/(\w+)/paihang"    rewriteUrlParameter="ExcludeFromClientQueryString"
			destinationUrl="~/LevelPaihang.aspx?level=$1&amp;"    ignoreCase="true" matchType="Level"/>-->

    <!--级别图片-->
    <!--<add name="RewriteLevelTupian" virtualUrl="^~/(\w+)/tupian"    rewriteUrlParameter="ExcludeFromClientQueryString"
			destinationUrl="~/CsLevelImage.aspx?level=$1&amp;"    ignoreCase="true" matchType="Level"/>-->
    <!--级别视频-->
    <!--<add name="RewriteLevelShipin" virtualUrl="^~/(\w+)/shipin"    rewriteUrlParameter="ExcludeFromClientQueryString"
			destinationUrl="~/CsLevelShipin.aspx?level=$1&amp;"    ignoreCase="true" matchType="Level"/>-->
    <!--级别口碑-->
    <!--<add name="RewriteLevelKoubei" virtualUrl="^~/(\w+)/koubei"    rewriteUrlParameter="ExcludeFromClientQueryString"
			destinationUrl="~/CsLevelKoubei.aspx?level=$1&amp;"    ignoreCase="true" matchType="Level"/>-->


    <!--<add name="RewriteLevelNewsPage" virtualUrl="^~/(\w+)/(\w+)/(\d+)"    rewriteUrlParameter="ExcludeFromClientQueryString"
			 destinationUrl="~/CsLevelNews.aspx?level=$1&amp;news=$2&amp;pageIndex=$3&amp;"    ignoreCase="true" matchType="Level"/>-->

    <!--<add name="RewriteLevelNews" virtualUrl="^~/(\w+)/(\w+)"    rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/CsLevelNews.aspx?level=$1&amp;news=$2&amp;"    ignoreCase="true"  matchType="Level"/>-->

    <!--<add name="RewriteLevel" virtualUrl="^~/(\w+)"  rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/CsLevelNew.aspx?level=$1&amp;"  ignoreCase="true" matchType="Level"/>-->

    <!--<add name="RewriteMasterNewsPage" virtualUrl="^~/([\w-]+)/(xinwen|hangqing|daogou|pingce|yongche)/(\d+)"  rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/CarMasterBrandPageNews.aspx?id=$1&amp;type=$2&amp;page=$3&amp;"  ignoreCase="true" matchType="Master"/>-->
    <!--<add name="RewriteMasterNews" virtualUrl="^~/([\w-]+)/(xinwen|hangqing|daogou|pingce|yongche)"  rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/CarMasterBrandPageNews.aspx?id=$1&amp;type=$2&amp;"  ignoreCase="true" matchType="Master"/>-->

    <!--<add name="RewriteMasterOther" virtualUrl="^~/([\w-]+)/(tupian|video|review|dayi)"  rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/CarMasterBrandPageOther.aspx?id=$1&amp;type=$2&amp;"  ignoreCase="true" matchType="Master"/>-->

    <!--主品牌置换页-->
    <!--<add name="RewriteMasterBrandZhiHuanPage" virtualUrl="^~/([\w-]+)/zhihuan/([a-zA-Z-]+)"  rewriteUrlParameter="ExcludeFromClientQueryString"
			destinationUrl="~/CarBrandPageZhihuan.aspx?id=$1&amp;city=$2&amp;brand=master&amp;"  ignoreCase="true" matchType="Master"/>-->
    <!--<add name="RewriteMasterBrandZhiHuan" virtualUrl="^~/([\w-]+)/zhihuan"  rewriteUrlParameter="ExcludeFromClientQueryString"
			destinationUrl="~/CarBrandPageZhihuan.aspx?id=$1&amp;brand=master&amp;"  ignoreCase="true" matchType="Master"/>-->
    <!--主品牌置换页 end-->
    <add name="RewriteSelectBrand" virtualUrl="^~/brandlist/([\w-]+)"  rewriteUrlParameter="ExcludeFromClientQueryString"
       destinationUrl="~/SelectBrand.aspx?bsid=$1&amp;"  ignoreCase="true" matchType="Master"/>
    
    <add name="RewriteMaster" virtualUrl="^~/([\w-]+)"  rewriteUrlParameter="ExcludeFromClientQueryString"
       destinationUrl="~/CarMasterPage.aspx?bsid=$1&amp;"  ignoreCase="true" matchType="Master"/>
    
    <!--<add name="RewriteBrandNewsPage" virtualUrl="^~/([\w-]+)/(xinwen|hangqing|daogou|pingce|yongche)/(\d+)"  rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/CarBrandPageNews.aspx?id=$1&amp;type=$2&amp;page=$3&amp;"  ignoreCase="true" matchType="Brand"/>-->

    <!--<add name="RewriteBrandNews" virtualUrl="^~/([\w-]+)/(xinwen|hangqing|daogou|pingce|yongche)"  rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/CarBrandPageNews.aspx?id=$1&amp;type=$2&amp;"  ignoreCase="true" matchType="Brand"/>-->
    <!--<add name="RewriteBrandOther" virtualUrl="^~/([\w-]+)/(tupian|video|review|dayi)"  rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/CarBrandPageOther.aspx?id=$1&amp;type=$2&amp;"  ignoreCase="true" matchType="Brand"/>-->

    <!--品牌置换页-->
    <!--<add name="RewriteBrandZhiHuanPage" virtualUrl="^~/([\w-]+)/zhihuan/([a-zA-Z-]+)"  rewriteUrlParameter="ExcludeFromClientQueryString"
			destinationUrl="~/CarBrandPageZhihuan.aspx?id=$1&amp;city=$2&amp;"  ignoreCase="true" matchType="Brand"/>-->
    <!--<add name="RewriteBrandZhiHuan" virtualUrl="^~/([\w-]+)/zhihuan"  rewriteUrlParameter="ExcludeFromClientQueryString"
			destinationUrl="~/CarBrandPageZhihuan.aspx?id=$1&amp;"  ignoreCase="true" matchType="Brand"/>-->
    <!--品牌置换页 end-->

    <add name="RewriteBrand" virtualUrl="^~/([\w-]+)"  rewriteUrlParameter="ExcludeFromClientQueryString"
       destinationUrl="~/CarBrandPage.aspx?cbid=$1&amp;"  ignoreCase="true" matchType="Brand"/>

    <!--请保持销量数据的顺序-->
    <!--<add name="RewriteSerialSellDataDitu2" virtualUrl="^~/([\w-]+)/xiaoliangditu/([\d-]+)"  rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/SellDataDituForSerial.aspx?csId=$1&amp;date=$2&amp;"  ignoreCase="true" matchType="Serial"/>-->

    <!--<add name="RewriteSerialSellDataDitu" virtualUrl="^~/([\w-]+)/xiaoliangditu"  rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/SellDataDituForSerial.aspx?csId=$1&amp;"  ignoreCase="true" matchType="Serial"/>-->

    <!--<add name="RewriteSerialSellData" virtualUrl="^~/([\w-]+)/xiaoliang"  rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/SellDataForSerial.aspx?csId=$1&amp;"  ignoreCase="true" matchType="Serial"/>-->

    <!--<add name="RewriteSerialBaoYang" virtualUrl="^~/([\w-]+)/baoyang"  rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/CSMaintenance.aspx?csId=$1&amp;"  ignoreCase="true" matchType="Serial"/>-->

    <!--<add name="RewriteSerialYearNewsPage" virtualUrl="^~/([\w-]+)/(\d+)/(xinwen|daogou|hangqing|yongche|shijia|pingce|anquan)/(\d+)"    rewriteUrlParameter="ExcludeFromClientQueryString"
			destinationUrl="~/SerialYearNews.aspx?id=$1&amp;type=$3&amp;pageIndex=$4&amp;year=$2&amp;"    ignoreCase="true" matchType="Serial" />-->

    <!--<add name="RewriteSerialYearNews" virtualUrl="^~/([\w-]+)/(\d+)/(xinwen|daogou|hangqing|yongche|shijia|pingce|anquan)"    rewriteUrlParameter="ExcludeFromClientQueryString"
			 destinationUrl="~/SerialYearNews.aspx?id=$1&amp;type=$3&amp;year=$2&amp;"    ignoreCase="true" matchType="Serial"/>-->

    <add name="RewriteSerialYear" virtualUrl="^~/([\w-]+)/(\d+)"  rewriteUrlParameter="ExcludeFromClientQueryString"
       destinationUrl="~/CsSummaryV2.aspx?ID=$1&amp;year=$2&amp;"  ignoreCase="true" matchType="Serial"/>

    <!-- 待销子品牌 独立子品牌综述页 add by chengl Mar.6.2012 -->
    <!-- 
        <add name="RewriteSerialForWaitSale" virtualUrl="^~/([\w-]+)"  rewriteUrlParameter="ExcludeFromClientQueryString"
        destinationUrl="~/CsSummaryForWaitSale.aspx?ID=$1&amp;"  ignoreCase="true" matchType="SerialForWaitSale"/>
        -->
    <add name="RewriteSerial" virtualUrl="^~/([\w-]+)"  rewriteUrlParameter="ExcludeFromClientQueryString"
       destinationUrl="~/CsSummaryV2.aspx?ID=$1&amp;"  ignoreCase="true" matchType="Serial"/>
  </rewrites>
</urlrewritingnet>
