<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BitAuto.CarChannel.BLL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BitAuto.CarChannel.BLL.Properties.Settings>
            <setting name="BLL_Das_GroupService" serializeAs="String">
                <value>http://das.bitauto.com/Group/Service/GroupService.asmx</value>
            </setting>
            <setting name="BLL_cn_ucar_api_CarSourceForBitAuto" serializeAs="String">
                <value>http://api.taoche.cn/CarSourceInterface/CarSourceForBitAuto.asmx</value>
            </setting>
            <setting name="BLL_com_bitauto_price_DealerPrice" serializeAs="String">
                <value>http://price.bitauto.com/interfacemaiche/dealerprice.asmx</value>
            </setting>
            <setting name="BLL_com_bitauto_partner_Service" serializeAs="String">
                <value>http://partner.bitauto.com/api/taoche/service.asmx</value>
            </setting>
            <setting name="BLL_com_bitauto_partner1_ReplaceCarService" serializeAs="String">
                <value>http://partner.bitauto.com/api/order/replacecarService.asmx</value>
            </setting>
        </BitAuto.CarChannel.BLL.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
