<rules>
  <!--<rule name="首页" stopProcessing="true">
    <match url="^/?$" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Rewrite" url="/V2/Default.aspx" />
  </rule>-->
  <rule name="首页" stopProcessing="true">
    <match url="^/?$" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <!--<action type="Rewrite" url="/xuanche/IndexV4.aspx" />-->
    <action type="Rewrite" url="/xuanche/SelectByBrandV4.aspx" />
  </rule>
  <rule name="车标党" stopProcessing="true">
    <match url="^chebiaodang/?$" ignoreCase="true" />
    <action type="Rewrite" url="/xuanche/SelectByBrandV4.aspx" />
  </rule>
  <rule name="感觉控" stopProcessing="true">
    <match url="^ganjuekong/?$" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Rewrite" url="/xuanche/SelectByFeelV4.aspx" />
  </rule>
  <rule name="发烧友" stopProcessing="true">
    <match url="^fashaoyou/?$" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Rewrite" url="/xuanche/SelectByParamV4.aspx" />
  </rule>
  <rule name="结果列表" stopProcessing="true">
    <match url="^CarList/?$" />
    <action type="Rewrite" url="/xuanche/SearchCarListV4.aspx" />
  </rule>
  <rule name="添加对比车型" stopProcessing="true">
    <match url="^addchexingduibi/?$" />
    <action type="Rewrite" url="/carcompare/AddCarCompare.aspx" />
  </rule>
  <rule name="车型对比" stopProcessing="true">
    <match url="^chexingduibi/?$" />
    <action type="Rewrite" url="/carcompare/CarCompare.aspx" />
  </rule>

  <rule name="驾校一点通" stopProcessing="true">
    <match url="^interface/jxydt/?$" />
    <action type="Rewrite" url="/Interface/cooperation/CarDataJson.ashx" />
  </rule>

  <rule name="车一百" stopProcessing="true">
    <match url="^interface/cyb/?$" />
    <action type="Rewrite" url="/Interface/cooperation/CarDataSerial.ashx" />
  </rule>

  <rule name="发现" stopProcessing="true">
    <match url="^zhuanti/discovery/([\w-]+)/?$" ignoreCase="true" />
    <action type="Rewrite" url="zhuanti/ztdiscovery.aspx?act={R:1}" />
  </rule>
  
  <!--<rule name="品牌列表" stopProcessing="true">
    <match url="^brandlist/(\d+)/?$" ignoreCase="true" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Rewrite" url="/V2/BrandList.aspx?mid={R:1}" appendQueryString="false" />
  </rule>-->

</rules>