<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <sectionGroup name="enyim.com">
      <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
    </sectionGroup>
    <section name="BitAuto.Utils.CommonPlatformConfig" type="BitAuto.Utils.Config.CommonPlatformConfiurationSectionHandler, BitAuto.Utils" allowDefinition="MachineToApplication" restartOnExternalChanges="true" />
    <!--<section name="BitAuto.OS.Service.ClientConfig" type="Com.BitAuto.OS.Service.Config.ClientSection, Com.BitAuto.OS.Service"/>-->
  </configSections>
  <connectionStrings>
    <!--车型频道数据库连接字符串-->
    <add name="DefaultConnectionString" connectionString="Data Source=192.168.0.173\sql2014;Initial Catalog=AutoCarChannel;User ID=CarChannel;Password=1qaz@WSX;" />
    <!--车型后台数据库连接字符串-->
    <add name="AutoStorageConnectionString" connectionString="Data Source=192.168.0.173\sql2014;Initial Catalog=AutoStorageNew;User ID=CarChannel;Password=1qaz@WSX;" />
  </connectionStrings>
  <appSettings configSource="config\appSettings.config" />
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="None" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <customErrors mode="On">
      <error statusCode="404" redirect="~/Error/NoAccess/" />
    </customErrors>
    <!--<identity impersonate="true" password="$z*vw720" userName="ycappro" />-->
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <!--自定义配置节-->
  <BitAuto.Utils.CommonPlatformConfig>
    <CommonConfig>
      <CacheConfig defaultProvider="EnyimProvider">
        <providers>
          <!-- 
              servers="127.0.0.1:11211"  memcache服务端列表，
              socketConnectTimeout="1000"  socket链接超时时间
              socketTimeout="1000"    socket超时时间
              defaultExpireTime="5000000"  默认的缓存时间，单位是毫秒
              <add name="MemcachedCacheProvider" type="BitAuto.Services.Cache.MemcachedCacheProvider,BitAuto.Services"
             servers="192.168.200.126:11211,192.168.200.126:11211" socketConnectTimeout="1000" socketTimeout="1000" defaultExpireTime="5000000"/>
          -->
          <!-- 
          如果采用了EnyimProvider，只有type和defaultExpireTime属性生效，其他参数在<enyim.com>配置节中指定
          -->
          <add name="EnyimProvider" type="BitAuto.Services.Cache.EnyimProvider,BitAuto.Services" defaultExpireTime="5000000" />
        </providers>
      </CacheConfig>
    </CommonConfig>
  </BitAuto.Utils.CommonPlatformConfig>
  <enyim.com>
    <memcached>
      <servers>
        <!--<add address="192.168.0.173" port="11211" />-->
        <add address="192.168.200.126" port="11212" />
        <add address="192.168.200.126" port="11211" />
        <!--<add address="59.151.102.126" port="11212" />-->
        <!--<add address="59.151.102.227" port="11212" />-->
      </servers>
      <socketPool minPoolSize="10" maxPoolSize="100" connectionTimeout="00:00:10" deadTimeout="00:02:00" />
    </memcached>
  </enyim.com>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<!--<dependentAssembly>
				<assemblyIdentity name="System.Net.Http" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MongoDB.Driver" publicKeyToken="F686731CFB9CC103" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.9.2.235" newVersion="1.9.2.235"/>
			</dependentAssembly>
			
			<dependentAssembly>
				<assemblyIdentity name="MongoDB.Bson" publicKeyToken="F686731CFB9CC103" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.9.2.235" newVersion="1.9.2.235"/>
			</dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Driver" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.2.235" newVersion="1.9.2.235" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Bson" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.2.235" newVersion="1.9.2.235" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
