@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <title>【汽车标志_汽车品牌大全_@DateTime.Now.ToString("yyyy") 年热门车型推荐】-手机易车网</title>
    <meta name="keywords" content="汽车大全,汽车标志,车型大全,@DateTime.Now.ToString(" yyyy") 年热门车型，易车网" />
    <meta name="description" content="手机易车网选车频道，为您提供各种汽车品牌型号及报价信息，主要涵盖：“汽车品牌、汽车标志、汽车报价、@DateTime.Now.ToString(" yyyy") 年热门车型推荐等,是您选车购车的第一网络平台." />
    <!--#include file="/ushtml/0000/20171201_m_newCarSell-1485.shtml"-->
</head>
<body>
    @Html.Partial("~/html/TopDownloadLayer.cshtml")
    @Html.Partial("/html/WTParams.cshtml")
    <div class="mbt-page">
        <!-- header start -->
        <div class="op-nav">
            <a id="gobackElm" href="javascript:;" class="btn-return">返回</a>
            <div class="tt-name">
                <a href="http://m.yiche.com/" class="yiche-logo">汽车</a><h1>选车</h1>
            </div>
            <!--#include file="/include/pd/2016/wap/00001/201607_wap_common_ejdht_Manual.shtml"-->
        </div>
        <script type="text/javascript">
            if (typeof (WtFrom) != "undefined" && WtFrom == "mcfw99") {
                $(".op-nav").hide();
            }
        </script>
        <div class="op-nav-mark" style="display: none;"></div>
        <!-- header end -->
        <!--新增顶部改版块-->
        <div class="new-car-content">

            <div class="second-tags js-news-cartab">
                <div class="pd15">
                    <ul>
                        <li class="current"><a href="#"><span>全新上市</span></a></li>
                        <li><a href="#"><span>即将上市</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="swiper-container js-swiper-container-news-carlist">
                <div class="swiper-wrapper">
                    <!--全新上市-->
                    <div class="swiper-slide">
                        <!-- 列表 start -->
                        <ul class="newscar-list" id="newscar_list_0">
                             
                            <div class="load-box"><i></i><span>正在载入...</span></div>
                        </ul>
                        <!-- 列表 end -->
                        <!-- more start -->
                        <!--<a href="#" class="btn-more btn-add-more"><i>加载更多</i></a>-->
                        <!-- more end -->
                    </div>
                    <!--即将上市-->
                    <div class="swiper-slide">
                        <!-- 列表 start -->
                        <ul class="newscar-list" id="newscar_list_1">
                            
                            <div class="load-box"><i></i><span>正在载入...</span></div>
                        </ul>
                        <!-- 列表 end -->
                        <!-- more start -->
                        <!--<a href="#" class="btn-more btn-add-more"><i>加载更多</i></a>-->
                        <!-- more end -->
                    </div>
                </div>
            </div>

        </div>
        <!--新增顶部改版块END-->
    </div>
    <script type="text/javascript">
        var url = "http://m.yiche.com/";
    </script>

    <script src="../js/swiper-3.2.7.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        // tab切换Swiper
        var swiperNewslist = new Swiper('.js-swiper-container-news-carlist', {
            autoHeight: true,
            onSlideChangeStart: function () {
                $(".js-news-cartab .current").removeClass('current')
                $(".js-news-cartab li").eq(swiperNewslist.activeIndex).addClass('current')
            }
        });
        $(".js-news-cartab li").on('touchstart mousedown', function (e) {
            e.preventDefault()
            $(".js-news-cartab .current").removeClass('current')
            $(this).addClass('current')
            swiperNewslist.slideTo($(this).index())
            loadNewCarList($(this).index());
        });
        $(".js-news-cartab li").click(function (e) {
            e.preventDefault()
        });


        window.addEventListener('scroll', function () {
            if ($(window).scrollTop() + $(window).height() + 340 >= $(document).height()) {
                var index = $(".swiper-wrapper .active").attr("tabindex");
                RequestData(index);
            }
        }, false);


        var titles = [
            { id: 0, total: 0, index: 0, size: 20, hasNext: true, loading: false },
            { id: 1, total: 0, index: 0, size: 20, hasNext: true, loading: false }
        ];

        function loadNewCarList(index) {
            if ($("#newscar_list_" + index + " li").length > 0) {
                return;
            }

            if (titles[index].index > 0) {
                return;
            }
            RequestData(index);
        }

        function RequestData(idx) {
            console.log(idx);
            var curindex = idx;
            if (curindex == undefined)
            {
                return;
            }
            if (!titles[curindex].hasNext) {
                return;
            }
            if (titles[curindex].loading) {
                console.log("正在加载-" + curindex);
                return;
            }
            var newCarListUrl = "http://api174.car.bitauto.com/CarInfo/GetNewCarList.ashx?type=" + titles[curindex].id + "&pageindex=" + (titles[curindex].index + 1) + "&pagesize=" + titles[curindex].size;
            titles[curindex].loading = true;
            var cb = "newCarListCallBack" + curindex;
            //$("#level_rank_list_" + curindex + " .load-box").show();
            $.ajax({
                type: "get",
                url: newCarListUrl,
                cache: false,
                dataType: 'jsonp',
                jsonp: "callback",
                jsonpCallback: cb,
                timeout: 3000,
                contentType: "application/json",
                success: function (data) {
                    if (data && data.code == 1) {
                        //
                        if (data.data.data.length > 0) {
                            var html = "";
                            var len = data.data.data.length;
                            for (var i = 0; i < len; i++) {
                                var dd = data.data.data[i];

                                html += ('<li><a href="/' + dd.AllSpell + '/" data-id="' + dd.CsId + '">');
                                html += '        <div class="left">';
                                html += ('            <img class="car-img" src="' + dd.CoverImage +'" alt="">');
                                html += '                <div class="info-box">';
                                html += '                    <div class="title">';
                                html += '                       <div class="text">' + dd.CsName + '</div>';
                                if (curindex == 0 && dd.Type == 3) {
                                    html += '                       <div class="tag">' + dd.YearType + '款</div>';
                                } else if (curindex == 0 && dd.Type == 4) {
                                    html += '                       <div class="tag">全新车型</div>';
                                }

                                html += '                    </div>';
                                var price = dd.RefPrice == '0' ? "暂无指导价" : (dd.RefPrice.indexOf('-') > 0 ? dd.RefPrice.replace("万", "") : dd.RefPrice);
                                html += '                    <div class="price">' + price  +'</div>';
                                html += '                    <div class="type">' + dd.Level +'</div>';
                                html += '                </div>';
                                html += '        </div>';
                                if (curindex == 1 && dd.MarketDay != "") {
                                    var marketDay = new Date(dd.MarketDay);
                                    html += '            <div class="right"><div class="time">' + (marketDay.getMonth() + 1) + '月' + marketDay.getDate() + '日上市</div></div>';
                                }

                                html += '</a></li>';
                                 
                            }
                            $("#newscar_list_" + curindex + " .load-box").before(html);
                            swiperNewslist.update();

                            titles[curindex].index++;
                            titles[curindex].total = data.data.total;
                            if (data.data.data.length < data.data.size) {
                                titles[curindex].hasNext = false;
                            } else {
                                titles[curindex].hasNext = true;
                            }
                        } else {
                            titles[curindex].hasNext = false;
                        }
                    } else if (data && data.code == 0) {
                        titles[curindex].hasNext = false;
                    }
                    console.log(data);
                    console.log(titles[curindex].hasNext);
                    titles[curindex].loading = false;
                    $("#newscar_list_" + curindex + " .load-box").hide();
                },
                error: function (msg) {
                    titles[curindex].loading = false;
                    $("#newscar_list_" + curindex + " .load-box").hide();
                    console.log(msg);
                }
            });
        }
        RequestData(0)
    </script>
    <div class="footer15">
        <!--搜索框-->
        @Html.Partial("~/html/footersearch.cshtml")
        <div class="breadcrumb">
            <div class="breadcrumb-box">
                <a href="http://m.yiche.com/">首页</a> &gt; <span>选车</span>
            </div>
        </div>
        @Html.Partial("~/html/footerV3.cshtml")
    </div>
    <div class="float-r-box">
        <!--#include file="/include/pd/2014/wapCommon/00001/201511_wap_common_ycfd_Manual.shtml"-->
    </div>
</body>
</html>